.page-block
  padding 0
  margin-bottom 2rem
  &--grey
    padding 2rem 1.5rem
    background-color #f1f1f1
  &--shadow
    padding 2rem 1.5rem
    box-shadow 0 0 20px rgba(27,27,27,0.1)
  h2:first-child
    margin-top 0
