extends /blocks/layout/layout

block head
  - var pageTitle = 'Стрижка горячими ножницами'

block content
  .inner-page.container
    .content
      +page-header({'name':'Стрижка горячими ножницами','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'hot-scissors'})
      //- +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        h2.page-subheader В чем преимущества стрижки горячими ножницами?
        p Горячие ножницы запаивают кончики и формируют кератиновую пробку, 
          strong препятствующая вымыванию питательных веществ
          |  из волоса.
        p За счет этого решается проблема секущиеся кончиков, волосы получают 
          strong здоровый блеск, гладкость и мягкость.
      .page-block
        +block-marked({'color':'blue','size':'big'}).block-marked--big
          p Дадим шанс отрастить действительно 
            strong длинные, красивые и здоровые волосы!
      .page-block
        h2.page-subheader Почему стрижку горячими ножницами стоит сделать у нас?
        +block-wrap({'wrap':'wrap'})
          +block-wrap__item(4,4,4,6)
            img(src='/images/hot-scissors/safety.jpg')
          +block-wrap__item(8,8,8,6)
            h3.small.nomargin--top Безопасность
            p Миникомпьютер подбирает температурные режимы, подходящие именно под ваш тип волос.
            p В том случае, если волосяной покров истощен множественными процедурами завивки, окрашивания или же тонок от природы, температуру можно сделать минимальной, а вот для толстых и кудрявых волос выставляют температуру повыше.

          +block-wrap__item(4,4,4,6)
            img(src='/images/hot-scissors/unique-method.jpg')
          +block-wrap__item(8,8,8,6)
            h3.small.nomargin--top Уникальный способ стрижки
            p Наши мастера используют жгутиковый способ стрижки горячими ножницами!
          +block-wrap__item(6,6,6,6)
            h3.small.nomargin--top Сохраним длину волос
            p Каждая прядка волос корректируется в ручном режиме.
            p Это удлиняет время работы, но позволяет постричь волосы неоднородной длины или сильно градуированные, не изменяя длину!
          +block-wrap__item(6,6,6,6)
            h3.small.nomargin--top Диагностика и рекомендации
            p Проведем бесплатную диагностику волос перед процедурой.
            p Порекомендуем уход за волосами после стрижки горячими ножницами, а также косметику.
      .page-block
        +block-marked({'color':'green','size':'big'}).block-marked--big
          p У наших мастеров 
            strong большой опыт
            |  в проведении таких стрижек.
      .page-block
        h2.page-subheader Технология проведения стрижки
        p(style='margin-bottom: 1.5rem').center Стрижка горячими ножницами потребует от 1 до 2 часов – продолжительность зависит от длины волос и их состояния.
        -
          var list = [
            {
              'image':{'src':'/images/hot-scissors/technology-01.jpg','alt':''},
              'desc':[
                'Разделим волосы на небольшие пряди, затем скрутим их в не слишком тугие жгутики. Это позволит выполнить стрижку не изменяя длину.'
              ]
            },
            {
              'image':{'src':'/images/hot-scissors/technology-02.jpg','alt':''},
              'desc':[
                'Выбившиеся из жгута секущиеся кончики обрежем.',
                'После этого проверим не осталось ли секущихся концов, и в случае необходимости повторим процедуру.'
              ]
            },
            {
              'image':{'src':'/images/hot-scissors/technology-03.jpg','alt':''},
              'desc':[
                'После того, как все волосы обработаны, при помощи тех же горячих ножниц придадим волосам нужную форму.'
              ]
            }
          ]
        +howWeWork(list)
      .page-block#page-prices
        h2.page-subheader Услуги и цены
        -
          var obj = [
            {'isSubHeader':true,'header':'Стрижка горячими ножницами (лечебная)',
              'cells': [2400]
            },
            {'isSubHeader':true,'header':'Стрижка горячими ножницами (придание формы)',
              'cells': []
            },
            {
              'header':'волосы до подбородка',
              'cells':[1900]
            },
            {
              'header':'волосы до плеч',
              'cells':[2200]
            },
            {
              'header':'волосы ниже плеч',
              'cells':[2400]
            },
          ]
        +block-wrap({'wrap':'wrap', 'justify':'center', 'align':'center'})
          +block-wrap__item(8,8,10,6)
            +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
