include ../scripts/scripts
include ../block-wrap/block-wrap
include ../aside-header/aside-header
include ../aside-menu/aside-menu
include ../aside-block/aside-block
include ../page-header/page-header
include ../block-marked/block-marked
include ../how-we-work/how-we-work
include ../service-types/service-types
include ../breadcrumbs/breadcrumbs
include ../page-services/page-services
include ../why-we/why-we
include ../figure-two-cols/figure-two-cols
include ../image-bordered/image-bordered
include ../prices-table/prices-table
include ../page-works/page-works
include ../list-anchors/list-anchors
include ../list-illustrated/list-illustrated
include ../submenu/submenu
include ../faq/faq

doctype html
html(lang='ru')
  include ../head/head
  body
    include ../header/header
    main
        block content
        include ../callback/callback
    include ../footer/footer
    +scripts(['jquery.fancybox.min.js'])
    +scripts(['script.js'])
