mixin figureTwoCols(item)
  +block-wrap({'wrap':true,'align':'center','nopadding':true}).figure-two-cols
    +block-wrap__item(5,5,5,6).figure-two-cols__image
      img(src= item.image alt= item.title title= item.title)
    +block-wrap__item(7,7,7,6).figure-two-cols__desc
      h3 !{item.title}
      each par in item.desc
        p !{par}
