extends /blocks/layout/layout

block head
  - var pageTitle = 'Завивка волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Завивка волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Завивка волос'})
      .page-block
        p Завивка волос поможет без усилий и надолго приобрести пышную прическу, которая будет неизменно сохранять объем и прекрасный вид. Услуга идеально подойдет для непослушных волос или женщин, мечтающих об упругих локонах. 
        p Завивка волос обладает массой преимуществ:
        ul.list-marked
          li минимизирует вред: волосы завивают щадящими способами;
          li желанный эффект сохраняется на долгие месяцы;
          li восстанавливает поврежденные волосы;
          li процедура укрепляет волосы, придает блеск;
          li не высушивает волосы, как в случае с классической химией.
      .page-block
        h2 Преимущества завивки волос в нашем салоне
        .block-marked-arrow
          h3 Позаботимся не только о красоте, но и здоровье волос
          p Бережно завиваем волосы, используя практический опыт и знания в трихологии, в сфере восстановления, сохранения волос. С 2002 года наш Центр решает проблемы клиентов с волосами.
        .block-marked-arrow
          h3 Завивку сделают профессиональные мастера
          p Работают у нас более 12 лет, обучались в ведущих академиях и студиях, в совершенстве владеют техникой завивки и средствами, инструментами для ее проведения. 
        .block-marked-arrow
          h3 Бесплатно проведем диагностику волос
          p Определим противопоказания к услугам  (например, не все виды завивок могут подходить), а также узнаем перечень услуг, которые оздоровят ваши волосы, пойдут на пользу их красоте.
      .page-block
        h2 Виды завивок
        p Предлагаем популярные виды завивки волос: карвинг, биозавивку, химическую, перманентную завивку и на бигуди.
        -
          let listIllustrated = [
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Карвинг</h3>
                <p>Наиболее щадящий вариант завивки волос. Удачно подходит, чтобы придать волосам волнистость, упругость, сделать их пышными и объемными. Завивка этого типа бывает вертикальной или классической, позволяет делать и локоны, и легкие кудри. Карвинг делают либо на отдельные пряди, либо на кончики волос или же только в прикорневой зоне. </p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Биозавивка</h3>
                <p>Является деликатным способом завивки волос, при котором не используют агрессивных веществ, а только аминокислоты, входящие в состав человеческих волос. Такая завивка не нарушает  здоровье волос, сохраняет их блеск, гладкость и эластичность. </p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Химическая завивка</h3>
                <p>Современная химическая завивка далека от способов, практикующихся в прошлом: когда волосам наносился серьезный вред. Она совершенно безопасна для кожи головы и волос, проводится в комплексе с процедурами, укрепляющими, дополнительно защищающими и даже оздоравливающими волосы. </p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Перманентная завивка</h3>
                <p>Создает самый длительный эффект: кудри сохраняют вид и форму, пока не отрастут. При коррекции процедуру не повторяют полностью, а только обновляют на отросших зонах. </p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Завивка на бигуди</h3>
                <p>Другое название — американская химическая завивка, которую делают на бигуди «Оливия Гарден», изобретенные в Америке. Особенность процедуры в том, что для ее проведения подходят разные препараты, которые можно подбирать, ориентируясь исключительно на состояние и тип ваших волос: преимущественно это биосоставы щадящего действия.</p>
              `
            },
          ]
        +listIllustrated(listIllustrated)
      .page-block
        h2 Вопросы и ответы
        -
          let questions = [
            {
              question: 'Как долго будет держаться химическая завивка на волосах?',
              answer: '<p>Срок зависит от типа, структуры, состояния волос, формы стрижки и других нюансов. Непосредственно перед наращиванием можно показать по каталогу пример завивки, которую бы вы хотели, и мастер подскажет, сколько примерно она продержится на ваших волосах. </p>'
            },
            {
              question: 'Какой вид завивки волос наиболее безопасный?',
              answer: '<p>Это биозавивка, которая ничуть не повреждает волосы, а даже реконструирует их.</p>'
            },
          ]
        +faq(questions,{itemWidth:[6,6,12,6]})
      .page-block
        .block-marked.block-marked--big
          p Приглашаем на завивку волос всех дам, которые хотят обрести шикарные кудряшки, придающие внешности молодость и пленительную красоту!

      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {'isSubHeader':true,'header':'Estel Professional',
              'cells': []
            },
            {
              'header':{
                cont:'Ламинирование «Восстановление цвета» (прибавляется к стоимости окрашивания в один тон)',
                clar:'Эта процедура делается красителем Estel Deluxe + Активатор Estel , затем волос обрабатывается маской Estel питание и блеск'
              },
              'cells':[600, 800, 1000]
            },
            {'isSubHeader':true,'header':'LOreal Professionnel',
              'cells': []
            },
            {
              'header':{cont:'Ламинирование волос «Восстановление цвета»', clar:'Эта процедура делается красителем DIA LIGHT + Dia проявитель, затем волос обрабатывается маской Mithik Oil'},
              'cells':[4800, 5700, 7300]
            }
          ]
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
