.hair-extention-banner
  padding 1.5rem
  background url('/images/hair-extention/banner-bg.png') no-repeat left, #f9e5dc
  background-size contain
  border-radius 4px
  padding-left 33.3333%
  display flex
  
  @media screen and (max-width 1200px)
    padding-left 1.5rem
    background #f9e5dc
    justify-content center
    flex-wrap wrap
  &__left
    flex-grow 3
    text-align left
    @media screen and (max-width 1200px)
      max-width 380px
      text-align left
      display flex
      flex-direction column
      align-items center
  &__right
    flex-grow 1
    font-size 1rem
    line-height 1.5rem
    text-align center
    @media screen and (max-width 1200px)
      max-width 320px
  &__title
    margin-bottom 0.75rem
    font-size 2rem
    font-weight bold
    font-style italic
    line-height 1
    text-transform uppercase
    color #ad0a31
    text-shadow 1px 1px 2px #faf8e0
  &__info
    color #ad0a31
    font-size 1.25rem
    line-height 1.875rem
    margin-bottom (1.25rem/2)
  &__info
    &_big
      font-size 1.25rem
      strong
        font-size 1.5rem
  &__gift
    display inline-block
    margin-bottom 0.75rem
    padding-top 4px
    color #ad0a31
    font-size 1.125rem
    line-height 1
  &__counter
    p
      margin-bottom 8px
    .countdownHolder
      display flex
      margin-top 0.75rem
      text-align left
      @media screen and (max-width 1024px)
        text-align center
      > *
        display flex
        flex-wrap wrap
        width (2.0625rem*(3/4)+0.25rem)*2
        justify-content center
      .position
        height 2.0625rem
        overflow hidden
        position relative
        width 2.0625rem*(3/4)+0.25rem
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width 2.0625rem*(3/4)
        line-height 2.0625rem
        font-size 1.375rem
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        margin-left 0.125rem
        margin-right 0.125rem
        @media screen and (max-width 768px)
          line-height 1.875rem
          font-size 1.25rem
            
      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
      .countHours::after
      .countMinutes::after
      .countSeconds::after
        font-size 12px
      .countDays::after
        content 'дней'
      .countHours::after
        content 'часов'
      .countMinutes::after
        content 'минут'
      .countSeconds::after
        content 'секунд'
      .countDiv
        display flex
        flex-grow 0
        align-items center
        justify-content center
        width 1rem
        &::after
          margin-x .25rem
          line-height 2.0625rem
          font-size 1.375rem
          content ':'
  &__phone
    padding-top 16px
    padding-bottom 16px
    font-size 30px
    line-height 1
    white-space nowrap
  &__form
    display flex
    flex-direction column
    align-items stretch
  // &__input
  //   margin-top 8px
  //   margin-bottom 8px
  //   input
  //     padding 8px 24px
  //     line-height 22px
  //     font-size 16px
  //     width 100%
  //     border 1px solid #ddbc8e
  //     border-radius 4px
  &__submit
    button
      width 100%
  //     padding 8px 24px
  //     font-size 12px
  //     line-height 22px
  //     text-transform uppercase
  //     color #fff
  //     background #cc0033
  //     border none
  //     cursor pointer
  //     outline none
  //     transition background .2s
  //     &:hover
  //       background #990033
  //       text-shadow none
