.hair-extention-banner
  .hair-extention-banner__left
    .hair-extention-banner__title Акция
    .hair-extention-banner__info.hair-extention-banner__info_big Скидка на волосы 
      strong 20%
      | <br>при наращивании в нашем салоне
    .hair-extention-banner__gift + подарок
    .hair-extention-banner__counter
      p до конца акции осталось:
      .countdownHolder
  .hair-extention-banner__right
    p.hair-extention-banner__byphone Вы можете получить<br>консультацию по телефону
    p.hair-extention-banner__phone +7 (812) 385-01-51
    p или закажите обратный звонок
    form.hair-extention-banner__form
      .hair-extention-banner__input.form-input
        input(type='tel' placeholder='+7 (___) ___-__-__')
      .hair-extention-banner__submit.form-submit
        button(type='submit') Заказать обратный звонок


      
