extends /blocks/layout/layout

block head
  - var pageTitle = 'Женская стрижка'

block content
  .inner-page.container
    .content
      +page-header({'name':'Женская стрижка','sub':'в салоне красоты и сохранения здоровья волос','class':'women-hairstyle'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        +submenu([{name:'Классическая стрижка',link:'#'},{name:'Жгутирование',link:'#'}])
      .page-block
      
        p Серьезное изменение стрижки, по мнению стилистов, может в корне 
          strong изменить жизнь.
        p Мастер 
          strong Haircare Center
          |  обязательно проконсультирует вас по выбору стрижки. Подчеркнет 
          strong сильные стороны
          |  внешности, сможет 
          strong скрыть недостатки.
        p Наши мастера всегда хорошо 
          strong чувствуют настроение
          |  клиенток и, 
          strong предвосхищая их желания
          |,  создают для них удивительные образы.
          
      include /blocks/page-technics/page-technics
      .page-block
        include /blocks/reasons/reasons
      .page-block
        include /blocks/page-hairstyles/page-hairstyles
      .page-block
        +block-wrap({'wrap':true})
          +block-wrap__item(6,6,6,6)
            +block-marked({'color':'blue'})
              p Клиент может рассчитывать на:
              ul.list-marked
                li
                  strong разнообразные варианты стрижек&nbsp;&mdash; всегда есть возможности выбора
                li
                  strong необходимую консультацию
                li
                  strong индивидуальный подход
          +block-wrap__item(6,6,6,6)
            +block-marked().block-marked--optima
              p В случае проблем с волосами, поредения предлагаем лечебную косметику 
                strong Optima
                |  . Никогда не навязываем косметическую продукцию, предлагаем ее только в тех случаях, когда она необходима.
      .page-block
        h2.page-subheader При подборе стрижки учитываем ваш стиль и здоровье волос
        p В ходе общения выслушаем ваши пожелания, какую прическу вы хотите. 
        p Подбирая стрижку учитываем:
        ul.list-marked
          li возраст
          li анатомические данные: форма головы, длина шеи, ширина плеч, форма лица, форма профиля, рост, конституцию (полный, худой)
          li состояние волос: структура (прямые, волнистые), высушенные, секуться, цвет волос
          li длина волос
        p Обязательно сообщим клиенту о том, каким могут быть нюансы с учетом его особенностей и пожеланий. Высказываем свои рекомендации к укладке, к окрашиванию (некоторые формы стрижек нужно подчеркнуть цветом то есть сделать окрашивание).

      .page-block
        include /blocks/page-works/page-works
        -
          var ourWorks = [
            {'url':'images/women-hairstyle/na-dlinnye-volosy','name':'Стрижка на длинные волосы','price':'1800 руб.'},
            {'url':'images/women-hairstyle/na-korotkie-volosy','name':'Стрижка на короткие волосы','price':'1200 руб.'},
            {'url':'images/women-hairstyle/na-volosy-sredney-dliny','name':'Стрижка на средние волосы','price':'1400 руб.'},
            {'url':'images/women-hairstyle/strizhka-i-okrashivanie','name':'Стрижка + окрашивание','price':'от 2900 руб.'},
            // {'url':'women-hairstyle/graduirovannyy-bob','name':'Стрижка градуированный боб','price':'руб.'}
          ]
        +works(ourWorks)
      include /blocks/page-feedback/page-feedback
        
      .page-block
      -
        var obj = [
          {'isHeader':true,'header':
            {'cont':'Услуги и цены','clar':''},
            'cells': [
              {'cont':'Волосы до подбородка','clar':'до 10 см'},
              {'cont':'Волосы до плеч','clar':'до 20 см'},
              {'cont':'Волосы ниже плеч','clar':'от 20 см'}
            ]
          },
          {
            'header':{
              'cont':'Стрижка женская с укладкой','clar':'В стоимость стрижки входит мытье головы'
            },
            'cells':['1200','1400','1800']
          },
          {
            'header':'Стрижка горячими ножницами (придание формы)',
            'cells':['1900','2200','2400'],
            'discount':true
          },
          // {
          //   'header':'Мытье головы + укладка',
          //   'cells':['500','600','700']
          // },
          {
            'header':'Укладка классическая',
            'cells':['1100','1300','1700']
          },
          {
            'header':'Укладка утюгом',
            'cells':['1500','1700']
          },
          {
            'header':'Укладка щипцами',
            'cells':['1950','2350']
          },
          {
            'header':'Стрижка горячими ножницами (лечебная)',
            'cells':['2400']
          },
          {
            'hasSep':true,
            'header':'Стрижка челки',
            'cells':['500']
          }
        ]
      +pricesTable(obj)
      include /blocks/other-services/other-services
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      .page-block
        include /blocks/page-appointment/page-appointment
