mixin hairExtentionRes(list)
  +block-wrap({'wrap':'wrap', justify: 'center'}).hair-extention-results
    each item in list
      +block-wrap__item(3,3,4,6).hair-extention-results__item
        .hair-extention-results__image
          img(src= item.image.src alt= item.image.alt title= item.image.alt)
        .hair-extention-results__description 
          each par in item.desc
            p !{par}
        .hair-extention-results__price !{item.price}
        .hair-extention-results__clarification Со стоимостью волос
        
        
