.hair-extention-results
  &__image
    padding 0.75rem
    img
      width 100%
      display block
      border 1px solid #f0f0f0
  &__description
    p
      font-size 0.875rem
      margin-bottom 0.4375rem
      line-height 1.3125rem
  &__clarification
    font-size 0.875rem
    font-weight bold
    line-height 1.3125rem
  &__price
    font-size 1.25rem
    margin-bottom 0.4375rem
    color #ad0a31
  
