.consultation-answer
  margin-bottom 2.25rem
  &__author
    display flex
    align-items flex-end
    margin-bottom 0.75rem
  &__name
    display flex
    flex-direction column
  &__photo
    margin-right 0.75rem
    max-width 3.75rem
    img
      display block
  &__body
    margin-bottom 1.25rem
