mixin consultation-answer(item)
  .consultation-answer
    .consultation-answer__author
      .consultation-answer__photo
        img(src= item.photo alt= item.name)
      .consultation-answer__name
        span Отвечает:
        a(href='') !{item.name}
    .consultation-answer__body
      if typeof(item.answer) == 'object'
        each par in item.answer
          p !{par}
      if typeof(item.answer) == 'string'
        | !{item.answer}
    if (item.category)
      .consultation-item__category Категория: 
        a(href='') !{item.category}
