.page-hairstyles
  .block-wrap__item
    display flex
    justify-content center
  &__par
    font-size 1.2rem
    line-height 1.6rem
    margin-bottom 1.5rem
    color #4e4e4e
  &__gallery
    &--small
      & ^[-2]__gallery-image
        img
          max-width 12rem
  &__gallery-item
    display flex
    flex-direction column
    align-items center
  &__gallery-image
    // width 100%
    // max-width 15rem
    // max-height 15rem
    // padding-top 99%
    // border-radius 50%
    // border 1rem solid #ffffff
    // box-shadow 0 0 0 1px #f1f1f1
    // background-repeat no-repeat
    // background-position center
    // background-size contain
    // ^[-1]__gallery-item--long &
    //   background-image url('../images/hairstyles-gallery-long.png')
    // ^[-1]__gallery-item--middle &
    //   background-image url('../images/hairstyles-gallery-middle.png')
    // ^[-1]__gallery-item--short &
    //   background-image url('../images/hairstyles-gallery-short.png')
    // ^[-1]__gallery-item--braids-type-1 &
    //   background-image url('../images/braids/braids-type-1.png')
    // ^[-1]__gallery-item--braids-type-2 &
    //   background-image url('../images/braids/braids-type-2.png')
    // ^[-1]__gallery-item--braids-type-3 &
    //   background-image url('../images/braids/braids-type-3.png')
    & ^[-1]__gallery-title
      width 15rem
      height 15rem
      line-height 12.5rem
      border-radius 50%
      border 1rem solid #ffffff
      box-shadow 0 0 0 1px #f1f1f1, 0 0 0 1px #f1f1f1 inset
      display block
    img
      width 100%
      max-width 15rem
      max-height 15rem
      border-radius 50%
      border 1rem solid #ffffff
      box-shadow 0 0 0 1px #f1f1f1
      display block
  &__gallery-title
    margin-top 1.5rem
    font-family 'Playfair Display', serif
    font-weight bold
    text-align center
  &__gallery-caption
    margin-top 0.75rem
    @extends p
