.page-hairstyles
  p.page-hairstyles__par Для работы используем профессиональные инструменты ведущих производителей: ножницы Jaguar, машинку Oster.
  p.page-hairstyles__par Наши мастера делают стрижки любой сложности на длинные, средние и короткие волосы.
  +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery
    +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item.page-hairstyles__gallery-item--long
      .page-hairstyles__gallery-image
        img(src='/images/hairstyles-gallery-long.png')
    +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item.page-hairstyles__gallery-item--middle
      .page-hairstyles__gallery-image
        img(src='/images/hairstyles-gallery-middle.png')
    +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item.page-hairstyles__gallery-item--short
      .page-hairstyles__gallery-image
        img(src='/images/hairstyles-gallery-short.png')
