.home-works
  // display flex
  // flex-wrap wrap
  // margin -0.5rem
  &__item
  //   margin 0.5rem
  //   width calc(25% - 1rem)
  //   @media screen and (max-width 768px)
  //     width calc(50% - 1rem)
    img
      width 100%
      display block
      margin-bottom 0.75rem
  &__title
    font-size 1.125rem
    margin-bottom 0.25rem
  &__price
    font-size 1.125rem
    margin-bottom 0.5625rem
    font-weight bold
