-
  var ourWorks = [
    {'url':'works-1','name':'Прическа и макияж','price':'3&nbsp;100 руб.'},
    {'url':'works-2','name':'Стрижка и укладка','price':'1&nbsp;400 руб.'},
    {'url':'works-evening-makeup','name':'Вечерний макияж','price':'1&nbsp;600 руб.'},
    {'url':'works-extention','name':'Наращивание волос','price':'30&nbsp;руб/ прядь'},
    {'url':'works-wedding-style','name':'Свадебная прическа и макияж','price':'6&nbsp;100 руб.'},
    {'url':'works-creative-style','name':'Креативное окрашивания и макияж','price':'7&nbsp;500 руб.'},
    {'url':'works-long-hair','name':'Стрижка и окрашивание','price':'8&nbsp;500 руб.'},
  ]
+block-wrap({'wrap':true}).home-works
  each item in ourWorks
    +block-wrap__item(3,3,3,3).home-works__item
      figure
        img(src= '/images/'+ item.url + '.jpg' alt= item.name)
        figcaption
          .home-works__title !{item.name}
          if item.price
            .home-works__price !{item.price}
