mixin faq(list,settings)
  -
    settings = settings ? settings : {}
    let itemWidth = settings.itemWidth ? settings.itemWidth : [12,12,12,6]
  +block-wrap({wrap:true}).faq
    each item in list
      +block-wrap__item(...itemWidth).faq__item
        .faq__question !{item.question}
        .faq__answer !{item.answer}
