.faq
  &__item
    position relative
    padding-left 4rem
    &::before
      position absolute
      top 0
      left 0
      font-size 6rem
      line-height 6rem
      color #cfddf0
      content '?'
      
  &__question
    @extends h4
