.pagination
  max-width 100%
  margin-bottom 1.5rem
  &__list
    display flex
    padding 0.75rem 0
    border-top 1px solid rgba(225,225,225,0.5)
    border-bottom 1px solid rgba(225,225,225,0.5)
  &__item
    a
    span
      display inline-block
      text-decoration none
      padding-left 0.5rem
      padding-right 0.5rem
      margin 0 0.25rem
      border 0.5px solid #cccccc
      border-radius 4px
    a:hover
      background-color #fafafa
    &--prev
    &--next
      a
      span
        padding 0
        border none
      a:hover
        background-color transparent
