extends /blocks/layout/layout

block head
  - var pageTitle = 'Ламинирование волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Ламинирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Специализированная камера, выпущенная под серией SDIS, служит для диагностирования состояния кожи головы и&nbsp;волос в&nbsp;центрах эстетической медицины и&nbsp;салонах красоты. Отличительные особенности аппаратуры: удобный дизайн и&nbsp;отменное качество получаемого изображения.
        p Компьютерная диагностика кожного покрова головы и&nbsp;волос дает возможность:
        ul.list-marked
          li Выявить тип волос;
          li Выявить тип кожного покрова головы;
          li Выяснение размера волосяной луковицы;
          li Исследование состояния волоса в&nbsp;корне и&nbsp;на&nbsp;кончике, по&nbsp;всей длине;
          li Исследование состояния кожи головы в&nbsp;целом;
          li Исследование себорегулятивного процесса;
          li Обнаружение болезней кожи головы.
