mixin articlesList(news)
  .articles-list
    each item in news
      .articles-list__item
        h2.articles-list__title
          a(href='article.html') !{item.name}
        .articles-list__date !{item.date}
