.other-services
  display flex
  font-size 0.875rem
  line-height 1.3125rem
  align-items baseline
  flex-wrap wrap
  &__title
    font-family 'Playfair Display', serif
    font-style italic
    font-weight bold
    margin-right 1.5rem
  &__list
    display flex
    margin-left -0.75rem
    margin-right -0.75rem
    flex-wrap wrap
  &__item
    margin-left 0.75rem
    margin-right 0.75rem
    a
      font-size 0.75rem
      text-decoration none
      color #a7a7a7
      &:hover
        color #b91f33
