.other-services.page-block
  .other-services__title Другие услуги женского парикмахера:
  ul.other-services__list
    li.other-services__item
      a(href='') Празничные прически
    li.other-services__item
      a(href='') Плетение косичек
    li.other-services__item
      a(href='') Окрашивание
    li.other-services__item
      a(href='') Наращивание волос
