extends /blocks/layout/layout

block head
  - var pageTitle = 'Брови и ресницы'

block content
  .inner-page.container
    .content
      +page-header({'name':'Брови и ресницы','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'hairstyle'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Брови и ресницы'})
      .page-block
        p Создать выразительный взгляд без ежедневных усилий поможет наращивание ресниц. Вам больше не&nbsp;надо будет тратить усилия и&nbsp;время на&nbsp;накладные ресницы, окрашивание, придание объема и&nbsp;формы. Наращивание подарит вам пышные, длинные ресницы, выглядящие всегда эффектно.
        p Предлагаем многообразие выбора услуг:
        ul.list-marked
          li Классическое наращивание ресниц, 
          li Наращивание ресниц с&nbsp;приданием 2D/3D&nbsp;эффекта: позволяет создать более выразительный взгляд за&nbsp;счет наклеивания к&nbsp;каждой ресничке нескольких накладных под определенным углом,
          li Декорирование ресниц: украсим ресницы стразами, блестками, разными оттенками, сделаем ваш взгляд притягательным и&nbsp;ослепительно красивым,
          li Снятие наращенных ресниц,
          li Окрашивание ресниц,
          li Окрашивание бровей,
          li Коррекция бровей,
          li Моделирование бровей.
      .page-block
        h2.page-subheader Красиво оформим ваши брови
        p Красиво оформленные брови делают лицо выразительнее, облагораживают его. Глаза становятся ярче, смягчаются черты лица, внешность гармонизируется, а&nbsp;красота&nbsp;&mdash; приумножается. 
        h3 Почему коррекцию бровей лучше проводить у&nbsp;нас?
        p Мастера Haircare Center придадут вашим бровям идеальную форму и&nbsp;цвет, сделают их&nbsp;симметричными и&nbsp;выразительными. Оттенок и&nbsp;форму бровей подберут под овал лица, тип кожи, индивидуальные особенности внешности. За&nbsp;1&nbsp;визит исправят результаты неудачных корректировок у&nbsp;других мастеров, создав принципиально новую форму бровей, наиболее удачную для вашей внешности.
      .page-block
        h2.page-subheader Вопросы и ответы
        -
          let questions = [
            {
              question: 'Чем коррекция бровей отличается от моделирования?',
              answer: '<p>В ходе коррекции мастер убирает лишние волоски, чтобы поддержать естественную форму, а при моделировании форма кардинально меняется. </p>'
            },
            {
              question: 'Если я ношу линзы, можно ли наращивать ресницы?',
              answer: '<p>Да, медицинских противопоказаний нет. А увлажняющие средства не вредят ни накладным ресницам, ни клею.</p>'
            },
            {
              question: 'Когда нельзя наращивать ресницы?',
              answer: '<p>Если у вас простудные, вирусные заболевания, болезни глаз, аллергия и слабые ресницы от природы.</p>'
            },
            {
              question: 'А какие противопоказания к моделированию бровей?',
              answer: '<p>Моделировать, как и окрашивать, корректировать брови нельзя, если вы недавно делали чистку лица, пилинг или есть какие-то воспаления и микротравмы.</p>'
            },
          ]
        +faq(questions,{itemWidth:[6,6,12,6]})
      .page-block
        .block-marked.block-marked--big
          p Приходите за шикарными ресницами и выразительными бровями в наш салон!
