-
  var ourWorks = [
    {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy',price: '5500 руб.'},
    {'url':'/images/straightening/work-02','name':'Кератиновое выпрямление',price: '6700 руб.'},
    {'url':'/images/straightening/work-03','name':'Кератиновое выпрямление',price: '6200 руб.'}
  ]
