-
  var obj = [
    {'isSubHeader':true,'header':'Кератиновое выпрямление Cadiveu Brasilian Cacau',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[4800]
    },
    {
      'header':'волосы средней длины',
      'cells':[5500]
    },
    {
      'header':'длинные волосы',
      'cells':[6600]
    },
    {'isSubHeader':true,'header':'Кератиновое выпрямление Cadiveu Brasilian Cacau',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[5500]
    },
    {
      'header':'волосы средней длины',
      'cells':[7000]
    },
    {
      'header':'длинные волосы',
      'cells':[8500]
    },
  ]
