+block-wrap({'wrap':true,'align':'flex-start'}).page-about
  +block-wrap__item(7,7,12,6).page-about__photo
    img(src='/images/salon.jpg')
  +block-wrap__item(5,5,12,6).page-about__info
    h3 Отдельные кабинеты для каждого клиента
    p Обслуживаем клиентов в отдельных кабинетах. Вы остаетесь наедине с мастером, что позволяет раскрыться и не отвлекаясь на других людей заняться красотой и здоровьем ваших волос.
    .page-about__caption открылись в 
      b 2002 году
