.prices-block
  padding 1.5rem
  box-shadow 0 0 20px rgba(27,27,27,0.1)
  margin-bottom 2rem
  &__bottom
    display flex
    margin-left -0.75rem
    margin-right -0.75rem
    align-items center
    flex-wrap wrap
    @media screen and (max-width 768px)
      justify-content center
    & > *
      margin-left 0.75rem
      margin-right 0.75rem
      @media screen and (max-width 768px)
        margin-bottom 0.75rem
  &__clarification
    font-size 0.75rem
    font-style italic
    font-family 'Playfair Display', serif
    color #4e4e4e
  &__phone
    margin-left auto
    margin-right auto
    font-size 1.125rem
    font-weight bold
    @media screen and (max-width 768px)
      margin-left 0.75rem
      margin-right 0.75rem
