.home-master-description#home-master-description--svetlana-aleksandrova
  .home-master-description__inner
    p Светлана умело раскрывает свой талант уже 18&nbsp;лет. Она всесторонне развита, образована, тонкий психолог с&nbsp;врожденным чувством красоты. Клиенты ценят мастера как профессионала, и&nbsp;как личность. 
    p Побеждала в&nbsp;конкурсах в&nbsp;номинации &laquo;Мужская повседневная стрижка&raquo; и&nbsp;&laquo;Мужская классическая стрижка&raquo;. За&nbsp;годы работы выработала авторские методики создания причесок. 
    p Работы Светланы эксклюзивны, потому что она использует бритву: этот инструмент позволяет получить идеальный срез, который не&nbsp;сделать ножницами. Женщины, которые хотя&nbsp;бы раз побывали у&nbsp;мастера, отмечают удивительную особенность: стрижка сохраняет форму даже при отрастании волос, смотрится все красивее со&nbsp;временем. 
    p Два года профессиональной жизни Светлана посвятила преподаванию: делилась своим профессионализмом на&nbsp;курсах по&nbsp;колористике, а&nbsp;также была членом сертификационной комиссии.
    p Светлана может:
    ul.list-marked
      li Подобрать и&nbsp;создать эффектный оттенок: знакома с&nbsp;линиями косметики Wella, Matrix, La&nbsp;Biosthetique.
      li Создать удачную прическу и&nbsp;укладку: подбирает стрижки с&nbsp;учетом пропорций лица, головы и&nbsp;образа в&nbsp;целом.
      li Исполнить мечту о&nbsp;длинных, густых и&nbsp;объемных волосах методом наращивания.
      li Создать make-up для любого случая.
      li Доверьтесь золотым ручкам мастера&nbsp;&mdash; запишитесь на&nbsp;удобное время!

.home-master-description#home-master-description--darya-ivanova
  .home-master-description__inner
    p Дарья&nbsp;&mdash; человек творчества, отдана beauty-индустрии всей душой. Постоянно повышает квалификацию, внимательно отслеживает последние новинки, чтобы как можно скорее их&nbsp;освоить. Мастер говорит, что ей&nbsp;хотелось&nbsp;бы знать всё.
    p Именно поэтому часто проходит тренинги, мастер-классы и&nbsp;другие обучающие мероприятия в&nbsp;академии Loreal, студии &laquo;Аркос&raquo;, школе красоты stillStylist, студии красоты Salonline24. 
    p Заботится о&nbsp;своих клиентах, для нее важно, чтобы каждый ушел довольным работой, с&nbsp;хорошим настроением, поэтому выкладывается по&nbsp;максимуму. О&nbsp;ней отзываются как о&nbsp;тактичном мастере, который легко находит общий язык со&nbsp;всеми. 
    p Дарья может создать:
    ul.list-marked
      li Шикарные ресницы и&nbsp;волосы методом наращивания.
      li Эффектный цвет волос: знакома со&nbsp;всей линией косметики Loreal.
      li Удачный образ: раскрывает красоту целостно, дает советы по&nbsp;имиджу.
      li Подходящую прическу: учтет форму лица, тип волос и&nbsp;предпочтения в&nbsp;укладке.
      li Идеально ровные волосы методом кератинового выпрямления.
      li Make-up для любого случая: владеет всеми техниками визажа, кроме аквагрима. 
    p Запишитесь к&nbsp;этому мастеру, чтобы раскрыть и&nbsp;подчеркнуть свою красоту!

.home-master-description#home-master-description--natalya-mihajlova
  .home-master-description__inner
    p Наталья&nbsp;&mdash; всесторонне развитий и&nbsp;продвинутый мастер. В&nbsp;ее&nbsp;профессиональной копилке мощный микс современных знаний, полученных у&nbsp;ведущих преподавателей мировых брендов. 
    p В&nbsp;2003 году окончила школу парикмахерского искусства F&nbsp;Style (Фатиния), а&nbsp;уже спустя 2&nbsp;года состоялось ее&nbsp;обучение в&nbsp;студии парикмахерского искусства Londa. Профессионально расти продолжила в&nbsp;студии Shwarzkopf (освоила мужские коммерческие и&nbsp;креативные стрижки), студии Wella (прошла семинары по&nbsp;окрашиванию и&nbsp;стрижкам) и&nbsp;академии Loreal.
    p Секрет жажды к&nbsp;профессиональному росту Натальи прост&nbsp;&mdash; черпать вдохновение из&nbsp;мудрости прошлого. О&nbsp;цели и&nbsp;смысле любимой работы ей&nbsp;напоминают слова Плутарха: &laquo;Ученик&nbsp;&mdash; это не&nbsp;сосуд, который надо наполнить, а&nbsp;факел, который надо зажечь, а&nbsp;зажечь факел может лишь тот, кто сам горит&raquo;. Пламя творчества мастера не&nbsp;угасает уже более 17&nbsp;лет.
    p Наталья может:
    ul.list-marked
      li Решить проблемы частичного или полного отсутствия волос методом безоперационного замещения. 
      li Вручную изготовить систему волос и&nbsp;накладки на&nbsp;верхнюю часть головы, трессы, клеевые украшения из&nbsp;волос. 
      li Создать идеальный оттенок: знакома со&nbsp;всеми линиями косметики Igora и&nbsp;Estel (Essex, Sense, De&nbsp;luxe).
      li Обучить капсульному наращиванию волос, безоперационному замещению.
      li Создать идеальную прическу: знает техники мужских и&nbsp;женских стрижек любой сложности. 
    p Наталья любит свою работу, и&nbsp;ей&nbsp;нравится все, чем она занимается, именно поэтому клиенты отмечают внимательность и&nbsp;чуткость мастера ко&nbsp;всем пожеланиям. 
    p Запишитесь к&nbsp;мастеру удобным способом!

.home-master-description#home-master-description--irina-bogdanova
  .home-master-description__inner
    p Ирина&nbsp;&mdash; мастер, в&nbsp;котором удивительным образом сочетались профессионализм, творчество и&nbsp;прекрасные человеческие качества. 
    p Она постоянно профессионально растет. Более 17&nbsp;лет совершенствует свои знания и&nbsp;навыки в&nbsp;области окрашивания волос и&nbsp;стрижек: обучалась в&nbsp;академии Loreal, посещает семинары, чтобы всегда быть в&nbsp;курсе актуальных технологий в&nbsp;этой области. Участвует в&nbsp;международных выставках парикмахерского искусства, конкурсах. 
    p Ведет активный и&nbsp;спортивный образ жизни, в&nbsp;котором черпает вдохновение и&nbsp;энергию для впечатляющего парикмахерского творчества. 
    p Ирина&nbsp;&mdash; мягкий, интеллигентный и&nbsp;оптимистичный человек: своей обаятельной улыбкой покоряет клиентов, заряжая их&nbsp;позитивом на&nbsp;весь день. 
    p Аналогичные положительные качества привносит и&nbsp;в&nbsp;свою работу. Позиционирует себя как стилиста-затейника и&nbsp;дизайнера-парикмахера в&nbsp;одном лице. Однажды поставив перед собой благородную цель: &laquo;Приумножать красоту клиентов&raquo;, достигает ее&nbsp;ежедневно. 
    p Ирина может:
    ul.list-marked
      li Создать идеальную прическу: учтет форму лица, особенности ваших волос и&nbsp;предпочтения в&nbsp;укладке. 
      li Подобрать идеальный оттенок и&nbsp;уход: знакома со&nbsp;всей линией косметики Estel.
      li Обучить наращиванию волос, безоперационному замещению, постижерному делу. 
      li Решить проблемы частичного или полного отсутствия волос методом безоперационного замещения.
      li Создать волосы и&nbsp;ресницы мечты методом наращивания. 
      li Изготовить трессы, волосы на&nbsp;заколках, клеевые украшения из&nbsp;натуральных волос.
    p Ирина Богданова будет ждать вас&nbsp;&mdash; записывайтесь!

.home-master-description#home-master-description--ekaterina-smirnova
  .home-master-description__inner
    p Екатерина&nbsp;&mdash; дипломированный мастер. В&nbsp;1998 году прошла обучение в&nbsp;школе парикмахерского искусства &laquo;Локон&raquo;, студии Д.&nbsp;Осипова, в&nbsp;2002 году&nbsp;&mdash; во&nbsp;французской академии Coiffure. С&nbsp;того времени постоянно совершенствует свой профессионализм: регулярно повышает квалификацию в&nbsp;области косметики и&nbsp;стрижек. 
    p Парикмахерскому искусству мастер предана уже более 11&nbsp;лет. Мощный арсенал знаний позволяет ей&nbsp;достигать совершенства в&nbsp;поставленных целях.
    p Екатерина может:
    ul.list-marked
      li Решить проблемы облысения и&nbsp;полного отсутствия волос методом безоперационного замещения, который освоила еще в&nbsp;2007&nbsp;году.
      li Исполнить мечту о&nbsp;длинных, густых и&nbsp;объемных волосах: проводит наращивание разными методами.
      li Подобрать и&nbsp;создать идеальную стрижку: учтет геометрию лица, индивидуальные особенности ваших волос, образ жизни и&nbsp;предпочтения в&nbsp;укладке. 
      li Бережно окрасить волосы, подобрать уход: знакома со&nbsp;всей линией косметики Schwarzkopf.
      li Дать профессиональный совет по&nbsp;лечению волос и&nbsp;кожи головы: получила образование в&nbsp;области трихологии.
      li Обучить технологиям наращивания волос: проводит семинары в&nbsp;&laquo;Центре дизайна волос&raquo;.
    p Красноречивым свидетельством профессионализма мастера является доверие клиентов: все, кто однажды воспользовался ее&nbsp;услугами, становятся постоянными клиентами. Найдите своего мастера в&nbsp;ее&nbsp;лице и&nbsp;вы&nbsp;&mdash; запишитесь удобным способом!
