mixin footerMenu(menuItems = [{'name':'','link':''}])

  ul.footer-menu
    each item in menuItems
      li.footer-menu__item
        if item.link
          a(href!=item.link) !{item.name}
        else
          span !{item.name}
