.footer-menu
  padding 1rem
  &__item
    margin-bottom 1rem
    &:last-child
      margin-bottom 0
    a
    span
      font-size 0.875rem
      text-transform uppercase
      font-weight 600
      line-height 1.3125rem
      color #000000
      text-decoration none
      transition color .4s
      &:hover
        color #666666
        transition none
    @media screen and (max-width 768px)
      text-align center
