.header-menu
  position relative
  z-index 20

  &__list
    display flex
    margin-left -1rem
    margin-right -1rem
    justify-content space-between
    @media (max-width 768px)
      flex-direction column
      transform scale(0)
      transform-origin 0 0 0
      position absolute
      transition transform .4s
      background-color #ffffff
      width 100%
      justify-content flex-start
      box-shadow 0 0 10px rgba(27,27,27,0.1)
      & > ^[-1]__item
        flex-direction column
        align-items stretch
        text-align left
        &--parent
          & > a
            &::after
              content none
      &--mobile-visible
        transform translateX(0)
      & ^[-1]__sublist
        position relative
        display block
        top 0
        & ^[-2]__item
          a
            font-size 0.75rem
            white-space normal
    & > ^[-1]__item
      margin-left 1rem
      margin-right 1rem
      text-align center
      display flex
      align-items center
      &:hover
        background-color #f1f1f1
      & > a
        color #000000
        padding 0.75rem
        position relative
        text-transform uppercase
        text-decoration none
      &--parent
        position relative
        & > a
          padding-right 1.5rem
          &::after
            content ''
            position absolute
            border-left 1px solid
            border-bottom 1px solid
            width 0.25rem
            height 0.25rem
            transform translateY(-25%) translateX(50%) rotate(-45deg)
            right 0.75rem
            top 50%
        &:hover ^[-3]__sublist
          display flex
  &__sublist
    display none
    flex-direction column
    position absolute
    top 2.8rem
    background-color #ffffff
    padding 0.75rem
    box-shadow 0 0 10px rgba(27,27,27,0.1)
    z-index 1
    & ^[-1]__item
      text-align left
      margin-bottom 0.25rem
      a
        font-size 0.625rem
        white-space nowrap
        color #000000
        text-decoration none
        &:hover
          color #b91f33
  &__contact
    display none
  &--fixed
    @extends .container
    position fixed
    top 0
    background-color #ffffff
    width 100%
    left 0
    box-shadow 0 0 10px rgba(27,27,27,0.1)
    & ^[-1]__list
      @extends .content
      max-width 70rem
      margin-left -1rem
      margin-right -1rem
      padding 0
        
    
    & ^[-1]__contact
      display block
      align-self center
      .header-contacts
        &__schedule
          display none
        &__phone
          font-size 1rem
        &__callback
          line-height 0.9375rem
          a
            font-size 0.625rem
