//- .header-menu.header-menu--fixed
.header-menu#header-menu
  ul.header-menu__list
    li.header-menu__item.header-menu__item--active.header-menu__item--parent
      a(href='') О нас
    li.header-menu__item.header-menu__item--parent
      a(href='') Услуги
      ul.header-menu__sublist
        li.header-menu__item
          a(href='') Женская стрижка
        li.header-menu__item
          a(href='') Мужская стрижка
        li.header-menu__item
          a(href='') Восстановление волос
        li.header-menu__item
          a(href='') Окрашивание
        li.header-menu__item
          a(href='') Наращивание волос
        li.header-menu__item
          a(href='') Кератиновое выпрямление
        li.header-menu__item
          a(href='') Придание блеска волосам
        li.header-menu__item
          a(href='') Плетение косичек
        li.header-menu__item
          a(href='') Прически
        li.header-menu__item
          a(href='') Наращивание ресниц
        li.header-menu__item
          a(href='') Макияж
    li.header-menu__item
      a(href='') Цены
    li.header-menu__item
      a(href='') Мастера
    li.header-menu__item
      a(href='') Акции
    li.header-menu__item
      a(href='') Контакты
    li.header-menu__contact
      include ../header-contacts/header-contacts
