.service-types
  &__image
    margin-bottom 0.75rem
    img
      display block
      width 100%
      max-width 15rem
      max-height 15rem
      border-radius 50%
      border 1rem solid #fff
      box-shadow 0 0 0 1px #f1f1f1
      display block
  &__title
    font-family 'Playfair Display', serif
    text-align center
    font-weight bold
