mixin serviceTypes(list,settings)
  -
    settings = settings ? settings : {}
    let classList = [
      'service-types','block-wrap','block-wrap_wrap',
      (settings.centered ? 'block-wrap_justify-center' : '')
    ]
  ul(class=classList)
    each item in list
      li.service-types__item.block-wrap__item.block-wrap__item_xl-width3.block-wrap__item_l-width3.block-wrap__item_m-width4.block-wrap__item_s-width3
        .service-types__image
          img(src= item.image alt= item.title)
        .service-types__title !{item.title}
