.header-metro
  display flex
  flex-wrap wrap
  &__item
    margin-left 1rem
    margin-right 1rem

    &::before
      margin-right .25rem
      padding-left 1.15rem
      display inline-block
      background-repeat no-repeat
      background-position center left
      background-size 1rem auto
    &_metro-1
      &::before
        content '1'
        color #ff99cc
        background-image url('../images/metro-1.png')
    &_metro-2
      &::before
        content '2'
        color #99ccff
        background-image url('../images/metro-2.png')
