.page-technics
  line-height 1.5rem
  &__logo
    height 2rem
    background-size contain
    background-repeat no-repeat
    background-position center
    &--tony-and-guy
      background-image url('../images/tony-and-guy.png')
    &--vidal-sassoon
      background-image url('../images/vidal-sassoon.png')
    &--pivot-point
      background-image url('../images/pivot-point.png')
    &--organic
      background-image url('../images/organic.png')
    &--estel
      background-image url('../images/estel.png')
      height 46px
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/estel@2.png')
    &--loreal
      background-image url('../images/loreal.png')
      height 30px
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/loreal@2.png')
