.page-block.page-block--shadow.page-technics
  +block-wrap({'align':'center','wrap':true})
    +block-wrap__item(6,6,12,6)
      | Используем современные техники стрижек от 
      strong Tony & Guy, Pivot Point, Vidal Sassoon.
    +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--vidal-sassoon
      
    +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--tony-and-guy
      
    +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--pivot-point
      
