.breadcrumbs
  display flex
  flex-wrap wrap
  padding-bottom 2rem
  font-size 0.75rem
  line-height 0.75rem
  align-items center
  .page-header + &
    margin-top -1.5rem
  &__parent
    padding-right 0.375rem
    a
      color #1b1b1b
      &:hover
        color #707070
  &__separator
    margin-right 0.375rem
    width 0.25rem
    height 0.25rem
    border-right 1px solid #1b1b1b
    border-top 1px solid #1b1b1b
    transform rotate(45deg)
  &__current
    color #707070
