.page-header
  padding 4.25rem 1.5rem
  background-color #f9e5dc
  display flex
  margin-bottom 2rem
  background-position right
  background-repeat no-repeat
  background-size auto 100%
  &--women-hairstyle
    background-image url('../images/header-women-hairstyle.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/header-women-hairstyle@2.png')
  &--coloring
    background-image url('../images/coloring.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/coloring@2.png')
  &--hair-extention
    background-image url('../images/hair-extention.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hair-extention@2.png')
  &--straightening
    background-image url('../images/straightening.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/straightening@2.png')
  &--men-hairstyle
    background-image url('../images/men-hairstyle.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/men-hairstyle@2.png')
  &--hot-scissors
    background-image url('../images/hot-scissors.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hot-scissors@2.png')
  &--braids
    background-image url('../images/braids.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/braids@2.png')
  &--hairstyle
    background-image url('../images/hairstyle.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hairstyle@2.png')
  // &--screening
  //   background-image url('../images/screening.png')
  //   @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
  //     background-image url('../images/screening@2.png')
  &--lamination
    background-image url('../images/lamination.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/lamination@2.png')
  &--eyelashes-extention
    background-image url('../images/eyelashes-extention.png')
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/eyelashes-extention@2.png')
  &__inner
    background-color rgba(255,255,255,0.64)
    backdrop-filter blur(2px)
    padding 0.875rem 1.5rem
  &__name
    margin 0
    line-height 2rem
    margin-bottom 0.5rem
  &__links
    display flex
    flex-wrap wrap
    margin 0 -0.75rem -0.75rem
    & ^[-1]__link
      margin 0 0.75rem 0.75rem
      a
        color #000000
        border-bottom 1px dashed
        text-decoration none
        &:hover
          color #757575
          
