mixin page-header(settings = {'name':'','sub':'','class':''})
  - var cls = ''
  if settings.class
    - cls = 'page-header--' + settings.class
  .page-header(class= cls)
    .page-header__inner
      h1.page-header__name !{settings.name}
      if settings.sub
        .page-header__sub !{settings.sub}
      if settings.links
        ul.page-header__links 
          each item in settings.links
            li.page-header__link
              if item.href
                a(href= item.href) !{item.name}
              else 
                a(href='') !{item}
