mixin block-marked(settings = {'color':''})
  if settings.color == 'blue'
    .block-marked.block-marked--blue(class= attributes.class)
      block
  if settings.color == 'red'
    .block-marked.block-marked--red(class= attributes.class)
      block
  if settings.color == 'green'
    .block-marked.block-marked--green(class= attributes.class)
      block
  if !settings.color 
    .block-marked(class= attributes.class)
      block
