.block-marked
  padding 1.5rem 2.25rem
  background-color #f9e5dc
  height 100%
  font-size 0.875rem
  display flex
  flex-direction column
  justify-content center
  &--blue
    background-color #cfddf0
  &--green
    background-color #ebf5f1
  &--red
    background-color #ffdbdb
  &--centered
    text-align center
  &--optima
    padding-left 33%
    background-image url('../images/optima.png')
    background-position center left
    background-repeat no-repeat
    background-size 33%
    @media screen and (max-width 1400px)
      padding-left 25%
      background-size 25%
  p
    font-size 0.875rem
    margin-bottom 0.75rem
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0
  .list-marked
    // padding-left 0
    font-size 0.75rem
    li
      margin-bottom 0.75rem
      &:last-child
        margin-bottom 0
  &--big
    p
    .list-marked
      font-size 1.375rem
      line-height 2.0625rem
  &--bigger
    p
      font-size 1.125rem
