+block-wrap({'wrap':true}).home-contacts
  +block-wrap__item(6,6,6,6).home-contacts__map
    script(type='text/javascript' charset='utf-8' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&lang=ru_RU&sourceType=constructor')
  +block-wrap__item(6,6,6,6)
    +block-wrap({'wrap':true}).home-contacts__address
      +block-wrap__item(6,6,6,6)
        .home-contacts__city Санкт-Петербург
        .home-contacts__street наб. Обводного канала 108
      +block-wrap__item(6,6,6,6)
        .home-contacts__phone +7 (812) 385-01-51
        .home-contacts__schedule с 10 до 21 без выходных
    .home-contacts__transport
      +block-wrap({'wrap':true})
        +block-wrap__item(7,7,7,6)
          .home-contacts__subheader Припарковаться на машине
          p Перед входом парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
        +block-wrap__item(5,5,5,6)
          .home-contacts__subheader Добраться пешком
          .home-contacts__metro.home-contacts__metro_metro-1 Балтийская<br>
            i 10 минут
          .home-contacts__metro.home-contacts__metro_metro-2 Фрунзенская<br>
            i 5 минут
    img(src='/images/salon-outside.jpg' alt='Салон красоты в Фрунзенском районе')
