+block-wrap({'wrap':'wrap', 'justify':'center'}).reasons
  +block-wrap__item(4,4,6,6).reasons__item 
    .reasons__info Иногда рисуем на бумаге, как может выглядеть стрижка у клиента.
    .reasons__image
      img(src='/images/reasons-1.jpg')
  +block-wrap__item(4,4,6,6).reasons__item 
    .reasons__info 
      p Владеем техниками:
      ul.list-marked
        li
          strong слайсинг
        li
          strong поинтирование / поинтинг/ пойнткат
        li
          strong чиппинг
        li
          strong филировка бритвой
        li
          strong прямой срез
  +block-wrap__item(4,4,6,6).reasons__item 
    .reasons__info Для улучшения структуры волос используем стрижку горячими ножницами.
    .reasons__image.reasons__image--padding
      img(src='/images/reasons-2.jpg')
