.reasons
  &__item
    position relative
    display flex
    flex-direction column
    justify-content space-between
    &::before
      position absolute
      font-size 11.25rem
      top 1rem
      left -0.3rem
      line-height 4.5rem
      vertical-align middle
      color #cfddf0
      z-index 1
    &:nth-of-type(1)::before
      content '1'
      left -0.9rem
    &:nth-of-type(2)::before
      content '2'
    &:nth-of-type(3)::before
      content '3'
  &__info
    padding-left 6rem
    font-size 0.875rem
    line-height 1.3125rem
    margin-bottom 1rem
    p
      font-size 0.875rem
      line-height 1.3125rem
      margin-top 0
      margin-bottom 0.75rem
    .list-marked
      padding-left 0
      li
        list-style none
        position relative
        padding-left 1.5rem
        margin-bottom 0.75rem
        &::before
          position absolute
          left 0
          content '\2014'
  &__image
    &--padding
      padding 0.875rem
      position relative
      img
        position relative
      &::after
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        border 1px solid #000000
