extends /blocks/layout/layout

block head
  - var pageTitle = 'Окрашивание волос'

block content
  .inner-page.container
    .content
      +page-header({'name':'Окрашивание волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'coloring'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Окрашивание'})
      .page-block
        p В результате окрашивания в салоне 
          strong Hair Care Center
          |  мы поможем изменить не только имидж, но и 
          strong восприятие собственной персоны.
      .page-block
        h2.page-subheader Профессиональная косметика
      .page-block.page-block--shadow.page-technics
        +block-wrap({'align':'center','wrap':true})
          +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--loreal
            
          +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--estel
          +block-wrap__item(2,2,4,2).page-technics__logo.page-technics__logo--organic
            
          +block-wrap__item(6,6,12,6) Работаем только с 
            strong безопасными профессиональными красителями
            |  ведущих мировых брендов: Loreal, Estel, Organic. Сохраним здоровье волос при окрашивании.
      .page-block
        p Новая линейка красителей для волос: безаммиачная тонирующая краска 
          strong Sense de Luxe.
          |  Этот краситель отличается богатой палитрой и сильным составом ухаживающих компонентов.
      
      .page-block
        h2.page-subheader Виды окрашивания 
        -
          var list = [
            {
              'title':'Креативное окрашивание',
              'image':'/images/coloring/coloring-01.jpg'
            },
            {
              'title':'3d окрашивание',
              'image':'/images/coloring/coloring-02.jpg'
            },
            {
              'title':'Омбре',
              'image':'/images/coloring/coloring-03.jpg'
            },
            {
              'title':'Шатуш',
              'image':'/images/coloring/coloring-04.jpg'
            },
            {
              'title':'Мелирование',
              'image':'/images/coloring/coloring-05.jpg'
            },
            {
              'title':'Колорирование',
              'image':'/images/coloring/coloring-06.jpg'
            },
            {
              'title':'Блондирование',
              'image':'/images/coloring/coloring-07.jpg'
            },
            {
              'title':'Брондирование',
              'image':'/images/coloring/coloring-08.jpg'
            },
          ]
        +serviceTypes(list)
      .page-block
        .block-marked.block-marked--blue.block-marked--big
          p Выполняем окрашивание по 
            strong четкой методологии,
            |  которая позволит получить ровный, 
            strong естественный и стойкий результат.
      .page-block
        h2.page-subheader Как мы работаем?
        -
          var list = [
            {
              'image':{'src':'/images/coloring/how-we-work-01.jpg','alt':''},
              'desc':[
                '<strong>Поможем выбрать цвет</strong> и создать индивидуальный образ, учтем все особенности: стиль, цвет кожи, цвет глаз. Предложим огромную <strong>палитру</strong> красок.'
              ]
            },
            {
              'image':{'src':'/images/coloring/how-we-work-02.jpg','alt':''},
              'desc':[
                'Перед началом процедуры внимательно <strong>выслушаем пожелания клиента</strong> и расскажем, какой результат получится в итоге.',
                'В конце консультации мастер <strong>озвучит стоимость</strong> услуги и время обслуживания. Если клиент не согласится со стоимостью услуги, то может отказаться от услуги.'
              ]
            },
            {
              'image':{'src':'/images/coloring/how-we-work-03.jpg','alt':''},
              'desc':[
                'Чтобы вы не волновались в процессе окрашивания подробно <strong>объясним каждый шаг</strong> в самом начале процедуры, и будет разъяснять некоторые детали по ходу.'
              ]
            },
            {
              'image':{'src':'/images/coloring/how-we-work-04.jpg','alt':''},
              'desc':[
                'После процедуры <strong>порекомендуем серию косметики</strong> для окрашенных волос, увлажняющие шампуни.'
              ]
            },
          ]
        +howWeWork(list)
      .page-block
        .block-marked.block-marked--green.block-marked--big
          p Благодаря услуге 
            strong &laquo;Окрашивание волос с ламинированием&raquo;
            |  придадим волосам здоровый вид и живой естественный блеск, сгладим нарушенну пористую структуру волос. Длительный эффект.
      .page-block
        -
          var ourWorks = [
            {'url':'/images/coloring/work-01','name':'Креативное окрашивание на среднюю длину', price: '7500 руб.'},
            {'url':'/images/coloring/work-02','name':'Креативное окрашивание и макияж', price: '6500 + 1500 руб.'},
            {'url':'/images/coloring/work-03','name':'Частичное мелирование на длинные волосы', price: '3700 руб.'},
            {'url':'/images/coloring/work-04','name':'3D-окрашивание на длинные волосы', price: '4700 руб.'}
          ]
        +works(ourWorks)
      include /blocks/page-feedback/page-feedback
      .page-block
        include /data/coloring/coloring-prices
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
