.discount-banner
  background #f9e5dc
  background-size contain
  border-radius 4px
  display flex
  margin 1.5rem auto 0
  max-width none
  &__image
    display flex
    align-items center
    justify-content center
    img
      display block
      // height 100%
      // min-width 100%
  &__body
    padding 1.5rem 1.5rem 0.75rem
    display flex
    flex-direction column
    text-align center
  &__title
    font-size 2rem
    line-height 2rem
    margin-top 0
    margin-bottom 1rem
  &__info
    @extends p
    margin-bottom 1.5rem
  &__more
    padding-top 0.75rem
    .btn
      padding 0.25rem 0.5rem
      font-size 1rem
  &__expires
    font-weight bold
  &__counter
    background-color #fdf6f2
    padding 0.625rem 1.5rem 0.75rem
    max-width 34rem
    align-self center
    display flex
    align-items center
    flex-direction column
    font-size 0.875rem
    p
      margin-bottom 8px
    .countdownHolder
      display flex
      margin-top 0.75rem
      text-align left
      @media screen and (max-width 1024px)
        text-align center
      > *
        display flex
        flex-wrap wrap
        width (2.0625rem*(3/4)+0.25rem)*2
        justify-content center
      .position
        height 2.0625rem
        overflow hidden
        position relative
        width 2.0625rem*(3/4)+0.25rem
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width 2.0625rem*(3/4)
        line-height 2.0625rem
        font-size 1.375rem
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        margin-left 0.125rem
        margin-right 0.125rem
        @media screen and (max-width 768px)
          line-height 1.875rem
          font-size 1.25rem
            
      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
      .countHours::after
      .countMinutes::after
      .countSeconds::after
        font-size 12px
      .countDays::after
        content 'дней'
      .countHours::after
        content 'часов'
      .countMinutes::after
        content 'минут'
      .countSeconds::after
        content 'секунд'
      .countDiv
        display flex
        flex-grow 0
        align-items center
        justify-content center
        width 1rem
        &::after
          margin-x .25rem
          line-height 2.0625rem
          font-size 1.375rem
          content ':'
