+block-wrap({wrap:true, nopadding: true}).discount-banner
  script
    | jQuery(function() {
    |    jQuery('#countdown-1').countdown(
    |      {
    |        timestamp: new Date(2018, 8, 1)
    |      });
    |  });

  +block-wrap__item(5,5,4,6).discount-banner__image.s-hidden
    img(src='/images/hair-extention/banner-bg.png' alt='Праздничный образ за 9900 рублей!')
  +block-wrap__item(7,7,8,6).discount-banner__body
    h1.discount-banner__title Праздничный образ за 9900 рублей!
    .discount-banner__info Окрашивание в один тон + стрижка + укладка + окрашивание и коррекция бровей + makeup - за 9900 руб.
    .discount-banner__counter
      .discount-banner__expires до 31 августа 2018
      .countdownHolder#countdown-1
      |  запишитесь в салон
      .discount-banner__more
        a(href='discount.html').btn Записаться
