.gallery
  display flex
  flex-wrap wrap
  margin -0.75rem
  margin-bottom 1rem
  &_centered
    justify-content center
  &_vert-centered
    align-items center
  &_large
    & ^[-1]__item
      img
      figure
        max-height 20rem
  &_small
    & ^[-1]__item
      img
      figure
        max-height 12rem
  &__item
    margin 0.75rem
    max-width calc(50% - 1.5rem)
    figure
      display flex
      flex-direction column
      text-align center
      margin 0
      > img
      > a
        align-self center
        margin-bottom 0.5rem
    img
      max-height 16rem
