+block-wrap({'wrap':true}).home-feedback
  +block-wrap__item(12,12,12,6).home-feedback__item.home-feedback__item_large
    +block-wrap({'wrap':true})
      +block-wrap__item(4,4,4,6).home-feedback__photo
        img(src='/images/feedback-2.jpg' alt='' title='')
      +block-wrap__item(8,8,8,6).home-feedback__info
        h3.home-feedback__name Глафира Козулина
        .home-feedback__clarification актриса театра и кино
        blockquote
          p Сейчас очень сложно найти своего мастера по волосам , так как выбор большой , салонов много.
          p Я рада , что я познакомилась с мастером Дашей из салона Волосы24.  Теперь если у меня возникают вопросы по уходу за волосами , я всегда обращаюсь к ней. Не раз мы делали различные процедуры по волосам ,  эксперементировали с макияжем, я всегда была довольна. Если мне необходимо прийти красивой на какое либо мероприятие или встречу , я знаю , что могу быть уверена в Даше и довериться ее золотым ручкам! 
          p В салоне всегда приятный,улыбчивый персонал. Предложат кофе,чай , конфетку! Вообще политика салона очень грамотная!

  +block-wrap__item(6,6,6,6).home-feedback__item
    +block-wrap({'wrap':true})
      +block-wrap__item(6,6,6,3).home-feedback__info
        h3.home-feedback__name Анна Кудимова
        .home-feedback__clarification участница ДОМ2
        //- blockquote Вы сделали мой день! 
      +block-wrap__item(6,6,6,3).home-feedback__photo
        img(src='/images/feedback-1.jpg' alt='' title='')

  +block-wrap__item(6,6,6,6).home-feedback__item
    +block-wrap({'wrap':true})
      +block-wrap__item(6,6,6,3).home-feedback__info
        h3.home-feedback__name Катя Король
        .home-feedback__clarification участница ДОМ2
        //- blockquote Вы сделали мой день!
      +block-wrap__item(6,6,6,3).home-feedback__photo
        img(src='/images/feedback-3.jpg' alt='' title='')
