.home-diagnostics

  &__header
    margin-top 0
    font-size 1.2rem
  &__info
    background #ffffff
    padding 0.5rem 1rem 0.5rem 1.875rem
    box-shadow 0 0 10px rgba(51,51,51,0.1)
    p:last-child
      margin-bottom 0
  &__photo
    position relative
    &::after
      position absolute
      bottom 25%
      right 0
      transform translate( 100%, -50%)
      content ''
      width 2.5rem
      height 0.125rem
      display block
      background-color #000000
      z-index 2
      @media screen and (max-width 768px)
        bottom 0
        left 50%
        transform translate( -50%, 100%)
        height 2.5rem
        width 0.125rem
    img
      width 100%
      display block
