.home-diagnostics
  +block-wrap({'wrap':true})
    +block-wrap__item(5,5,5,6).home-diagnostics__photo
      img(src='/images/diagnostics.jpg' alt='Трихологическая диагностика структуры волос' title='Трихологическая диагностика структуры волос')
    +block-wrap__item(7,7,7,6).home-diagnostics__info
      h3.home-diagnostics__header Трихологическая диагностика кожи головы 
        i в подарок!
      p Предлагаем диагностику в рамках любой парикмахерской услуге. Диагностируем противопоказания к различным видам услуг, например некоторым типам завивок, окрашиваниям с осветлением. Зачастую противопоказания невозможно определить «на глаз» даже очень опытному специалисту.
