.side-marked
  font-family 'Playfair Display', serif
  font-size 2.1875rem
  font-style italic
  text-align center
  position relative
  z-index 2
  display inline-block
  margin-left auto
  margin-right auto
  margin-top .5rem
  margin-bottom 1rem
  &::after
    position absolute
    top 50%
    left 50%
    content ''
    display block
    width 18.75rem
    height calc(100% + 1rem)
    background #dcf0ec
    z-index -1
    transform translate(-50%, -46.875%)
