mixin whyWe(list)
  +block-wrap({'wrap':true}).why-we
    each item in list
      +block-wrap__item(6,6,6,6).why-we__item
        +block-wrap({'wrap':true, 'align':'center'})
          +block-wrap__item(6,6,6,6).why-we__image
            img(src= item.image alt= item.title title= item.title)
          +block-wrap__item(6,6,6,6).why-we__description
            .why-we__title !{item.title}
            each par in item.desc
              p !{par}
          
          
