.why-we
  &__image
    align-self flex-start
  &__description
    p
      font-size 0.75rem
      line-height 1.375rem
  &__title
    font-family 'Playfair Display', serif
    font-size 1.125rem
    margin-bottom 0.75rem
    font-weight bold
