.list-anchors
  padding-left 0.75rem
  border-left 0.5px solid #f0f0f0
  position sticky
  top 2.8rem
  margin-bottom 1rem
  list-style none
  &__item
    &--active
      font-weight bold
  a
    border-bottom none
    text-decoration none
