mixin listAnchors(list)
  .list-anchors(id= attributes.id style= attributes.style class= attributes.style)
    each item in list
      - let active = ''
      if item.active
         - active = 'list-anchors__item--active'
      li.list-anchors__item(class= active)
        a(href= item.link) !{item.name}
