.master-experience
  text-align center
  strong
    font-size 3rem
    line-height 2.5rem
    margin-right 0.375rem
    font-weight normal
    display inline-block
    color #b6002e
    // font-style italic
    font-family 'Playfair Display', serif
