mixin howWeWork( list = [], settings = {} )
  if settings.type == 'figures' || !settings.type
    ul.how-we-work.block-wrap.block-wrap_wrap.block-wrap_justify-space-around
      each item in list
        li.how-we-work__item.block-wrap__item.block-wrap__item_xl-width5.block-wrap__item_l-width5.block-wrap__item_m-width6.block-wrap__item_s-width6
          figure.how-we-work__figure
            .how-we-work__image
              img(src=item.image.src alt=item.image.alt title=item.image.alt)
            figcaption.how-we-work__desc
              each par in item.desc
                p !{par}
  if settings.type == 'text' 
    ul.how-we-work.how-we-work--text
      - var className = '1'
      if settings.cols == 2
        - className = 'how-we-work__item--col-2'
      each item in list
        li.how-we-work__item(class= className)
            .how-we-work__desc
              each par in item.desc
                p !{par}
