.how-we-work
  counter-reset count
  &__desc
    padding-left 6rem
    position relative
    min-height 5.25rem
    &::before
      position absolute
      counter-increment count
      content counter(count)
      font-size 11.25rem
      line-height 11.25rem
      top -5rem
      left 0
      color #cfddf0
    p
      font-size 0.875rem
      line-height 1.3125rem
  &--text
    display flex
    flex-wrap wrap
    margin-left -0.75rem
    margin-right -0.75rem
    & ^[-1]__item
      margin-bottom 0.75rem
      width 100%
      margin-left 0.75rem
      margin-right 0.75rem
      &--col-2
        @media screen and (min-width 769px)
          max-width calc(50% - 1.5rem)
    & ^[-1]__desc
      padding-left 4rem
      display flex
      align-items center
      flex-wrap wrap
      &::before
        font-size 6rem
        line-height 6rem
        top 0
