@font-face
  font-family 'Playfair Display'
  src url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf')
  font-style normal
  font-weight normal
@font-face
  font-family 'Playfair Display'
  src url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf')
  font-style italic
  font-weight normal
@font-face
  font-family 'Playfair Display'
  src url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf')
  font-style normal
  font-weight bold
@font-face
  font-family 'Playfair Display'
  src url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf')
  font-style italic
  font-weight bold

@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf')
  font-style normal
  font-weight normal
@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-Italic.ttf')
  font-style italic
  font-weight normal
@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf')
  font-style normal
  font-weight bold
@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf')
  font-style italic
  font-weight bold
@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf')
  font-style normal
  font-weight 500
@font-face
  font-family 'Source Sans Pro'
  src url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf')
  font-style italic
  font-weight 500
