.header-info.s-hidden
  .header-info__name Салон красоты в Санкт-Петербурге – 
    b Hair&nbsp;Сare&nbsp;Center
  .header-info__address
    .header-info__street набережная Обводного&nbsp;канала&nbsp;108
    .header-metro
      .header-metro__item.header-metro__item_metro-1 Балтийская &mdash; 10 минут
      .header-metro__item.header-metro__item_metro-2 Фрунзенская &mdash; 5 минут
    //- .header-info__metro.header-info__metro_metro-1 Балтийская
    //- .header-info__metro.header-info__metro_metro-2 Фрунзенская
  .header-phone.xl-hidden.l-hidden +7 (812) 385-01-51
.header-info.header-info_mobile.xl-hidden.l-hidden.m-hidden
  .header-info__name
    b Hair&nbsp;Сare&nbsp;Center
  .header-phone.xl-hidden.l-hidden +7 (812) 385-01-51
