.header-info
  display flex
  flex-direction column
  margin-left 1rem
  margin-right 1rem
  &_mobile
    align-items flex-end
    margin-left auto
  &__name
    font-size 1.5rem
    line-height 2.25rem
    font-family 'Playfair Display', serif
    margin-bottom .5rem
    ^[-1]_mobile &
      margin-bottom 0
  &__address
    display flex
    margin-left -1rem
    margin-right -1rem
    & + .header-phone
      margin-top .75rem
  &__street
    margin-left 1rem
    margin-right 1rem
    flex-shrink 0
