.article
  margin-bottom 1.5rem
  &__body
    display flex
    flex-direction column
    *
      max-width 51rem
      // align-self center
    & ^[-1]__date
      max-width 50rem
      width 100%
      // align-self center
      // text-align right
