.page-feedback#page-feedback
  h2 Нам доверяют известные люди
  +block-wrap({'wrap':true})
    +block-wrap__item(12,12,12,6).page-feedback__item.page-feedback__item_large
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6).page-feedback__photo
          img(src='/images/feedback-2.jpg' alt='' title='')
        +block-wrap__item(8,8,8,6).page-feedback__info
          h3.page-feedback__name Глафира Козулина
          .page-feedback__clarification актриса театра и кино
          blockquote
            p Сейчас очень сложно найти своего мастера по волосам , так как выбор большой , салонов много.
            p Я рада , что я познакомилась с мастером Дашей из салона Волосы24.  Теперь если у меня возникают вопросы по уходу за волосами , я всегда обращаюсь к ней. 

    +block-wrap__item(6,6,6,6).page-feedback__item
      +block-wrap({'wrap':true})
        +block-wrap__item(6,6,6,3).page-feedback__info
          h3.page-feedback__name Анна Кудимова
          .page-feedback__clarification участница ДОМ2
          //- blockquote Вы сделали мой день! 
        +block-wrap__item(6,6,6,3).page-feedback__photo
          img(src='/images/feedback-1.jpg' alt='' title='')

    +block-wrap__item(6,6,6,6).page-feedback__item
      +block-wrap({'wrap':true})
        +block-wrap__item(6,6,6,3).page-feedback__info
          h3.page-feedback__name Катя Король
          .page-feedback__clarification участница ДОМ2
          //- blockquote Вы сделали мой день!
        +block-wrap__item(6,6,6,3).page-feedback__photo
          img(src='/images/feedback-3.jpg' alt='' title='')
