.callback
  display none
.callback-form
  display flex
  flex-direction column
  align-items center
  &__input
    margin-bottom 0.5rem
  input
    max-width 100%
    &[type='text']
    &[type='tel']
      width 16rem
    &[type='submit']
      width 10rem
