head
  meta(charset='UTF-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block head
  title= pageTitle || 'Салон красоты у м. Фрунзенская и Балтийская, парикмахерские услуги'
  meta(name='description' content='Cалон красоты у м. Фрунзенская и Балтийская, парикмахерские услуги')
  link(rel='stylesheet' href='/template/styles/style.css')
  +scripts(['jquery-3.2.1.min.js'])
  +scripts(['jquery.fancybox.min.js'])
  +scripts(['jquery.countdown.js'])
  | <script type="text/javascript">
  | var __cs = __cs || [];
  | __cs.push(["setCsAccount", "R6quW1i_0eayfgCtBegOgiWG7s_rZHGP"]);
  | __cs.push(["setCsHost", "//server.comagic.ru/comagic"]);
  | </script>
  | <script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>
