extends /blocks/layout/layout

block head
  - var pageTitle = 'Укладка'
block content
  .inner-page.container
    .content
      +page-header({'name':'Укладка','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Укладка'})
      .page-block
        p Укладка сродни искусству. То, насколько она уместна, индивидуальна и гармонична с внешностью — во многом влияет на настроение, красоту и всецелую безупречность образа. Мастера нашего салона знают, как создавать образы мечты, умело и удачно подбирая укладку для каждой женщины. 
      .page-block
        h2 Преимущества укладки в нашем салоне
        p.block-marked-arrow Подарим диагностику головы: на дорогостоящем оборудовании бесплатно определим противопоказания к услугам и способы получения лучшего результата.
        p.block-marked-arrow Используем профессиональные инструменты: позволяют не только создавать укладку любого вида, но и не травмировать волосы.
      .page-block
        h2 Виды укладок
        p Предлагаем популярные виды укладок: укладка феном, на щипцы, бигуди и с использованием утюжка.
        -
          let listIllustrated = [
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Укладка феном</h3>
                <p>Фен идеально подходит для укладки и длинных, и коротких волос: позволяет создать легкую небрежность и придать эффект объема. С помощью фена даже непослушные волосы превращаются в идеальную прическу, достойную восхищения. Из великого множества идей укладки феном мы подберем именно ту, которая создаст ваш неповторимый стиль.</p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Укладка на щипцы, бигуди</h3>
                <p>Щипцы делают фантастическое преображение образа: даже самые непослушные волосы закручиваются в милые локоны или выпрямляются в идеальную длину. Самой простой, но и с не менее эффектным результатом считается укладка на бигуди. Волосы, накрученные на них, приобретают романтичную волнистость и эффектный объем.</p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Укладка с использованием утюжка</h3>
                <p>С помощью утюжка можно выпрямить волосы, подкрутить кончики или создать шикарные локоны. С прямыми волосами вы будете выглядеть стильно и уверенно, со слегка подкрученными или вьющимися — романтично и необычайно женственно.</p>
              `
            },
          ]
        +listIllustrated(listIllustrated)

      .page-block
        -
          let questions = [
            {
              question: 'Что входит в услугу укладки волос?',
              answer: '<p>Услугам предполагает придание волосам определенного положения и красоты. В нее входит мытье головы с помощью профессиональной уходовой косметики, а затем использование укладочных инструментов и стайлинговых средств. </p>'
            },
            {
              question: 'Сколько держится долговременная укладка?',
              answer: '<p>Она может продержаться 1,5-2 месяца, все зависит от состояния волос.</p>'
            },
          ]
        +faq(questions,{itemWidth:[6,6,12,6]})
      .page-block
        .block-marked.block-marked--big
          p Мастера Haircare Center сделают любую укладку неповторимой настолько, что все взгляды будут прикованы к вам. Ведь в своей работе они руководствуются девизом: «Нет ничего невозможного»!
        
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {'isSubHeader':true,'header':'Estel Professional',
              'cells': []
            },
            {
              'header':{
                cont:'Ламинирование «Восстановление цвета» (прибавляется к стоимости окрашивания в один тон)',
                clar:'Эта процедура делается красителем Estel Deluxe + Активатор Estel , затем волос обрабатывается маской Estel питание и блеск'
              },
              'cells':[600, 800, 1000]
            },
            {'isSubHeader':true,'header':'LOreal Professionnel',
              'cells': []
            },
            {
              'header':{cont:'Ламинирование волос «Восстановление цвета»', clar:'Эта процедура делается красителем DIA LIGHT + Dia проявитель, затем волос обрабатывается маской Mithik Oil'},
              'cells':[4800, 5700, 7300]
            }
          ]
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
