@import 'includes/reset'
@import 'includes/fonts'
@import 'includes/flexslider.css'
@import 'includes/jquery.fancybox.css'

import('../blocks/**/*')

.xl-hidden
  @media screen and (min-width 1201px)
    display none
.l-hidden
  @media screen and (max-width 1200px) and (min-width 1025px)
    display none
.m-hidden
  @media screen and (max-width 1024px) and (min-width 769px)
    display none
.s-hidden
  @media screen and (max-width 768px)
    display none
