include ../footer-menu/footer-menu

.footer-top
  +block-wrap({'wrap':true,'nopadding':true})
    +block-wrap__item(3,3,4,6) 
      -
        var menuItems = [
          {'name':'Женская стрижка','link':'/strizhka/zhenskaya/'},
          {'name':'Мужская стрижка','link':'/strizhka/muzhskaya/'},
          {'name':'Стрижка горячими ножницами','link':'/strizhka/goryachimi-nozhnicami/'},
          {'name':'Окрашивание','link':'/okrashivanie-volos/'}
        ]
      +footerMenu(menuItems)
    +block-wrap__item(3,3,4,6)  
      -
        var menuItems = [
          {'name':'Наращивание ресниц','link':'/brovi-i-resnicy/narashchivanie-resnic-klassicheskoe/'},
          {name:'Выпрямление волос',link:'/vypryamlenie-volos/'}
        ]
      +footerMenu(menuItems)
    +block-wrap__item(3,3,4,6)  
      -
        var menuItems = [
          {'name':'Прическа','link':'/pricheska/'},
          {'name':'Плетение кос','link':'/pricheska/pletenie-kos/'},
          {'name':'Ламинирование','link':'/uhod/laminirovanie-volos/'},
          {'name':'Экранирование','link':'/uhod/ekranirovanie-volos/'}
        ]
      +footerMenu(menuItems)
    +block-wrap__item(3,3,12,6) 
      include ../footer-socials/footer-socials
