.page-contacts
  &__address
    margin-bottom 1rem
  &__city
    font-family 'Playfair Display', serif
    font-size 1.25rem
    font-weight bold
    line-height 1.75rem
  &__phone
    font-size 1.25rem
    font-weight bold
    line-height 1.75rem
  &__street
  &__schedule
    font-size 0.875rem
  &__transport
    background-color #ffffff
    padding 1rem 2rem
    margin 0
    box-shadow 0 0 10px rgba(51,51,51,0.1)
    p
      font-size 0.875rem
      line-height 1.3125rem
  &__subheader
    @extends h4
    font-size 0.875rem
    line-height 1.3125rem
    margin-top 0
  &__map
    height 20rem
    margin-bottom 1.5rem
    > ymaps
      height 100%
  &__metro
    font-size 0.875rem
    line-height 1.3125rem
    &::before
      margin-right .25rem
      padding-left 1.15rem
      display inline-block
      background-repeat no-repeat
      background-position center left
      background-size 1rem auto
    &_metro-1
      &::before
        content '1'
        color #ff99cc
        background-image url('../images/metro-1.png')
    &_metro-2
      &::before
        content '2'
        color #99ccff
        background-image url('../images/metro-2.png')
  img
    display block
