.hair-extention-sign-form
  margin-bottom (.75rem*2)
  display flex
  &__col
    display flex
    margin (-(.75rem/2))
    flex-wrap wrap
    align-items flex-start
    > *
      margin (.75rem/2)
  &__input-type
    display none
  &__submit
    display flex
    .btn
      padding-top .375rem
      padding-bottom .375rem
  &__success
    color #ad0a31
    display none
