.aside-contacts
  .aside-contacts__phone +7 (812) 385-01-51
  .aside-contacts__schedule с 10 до 21 без выходных
  .aside-contacts__address наб. Обводного канала 108
  .aside-contacts__metro
    .aside-contacts__station.aside-contacts__station--station-1 Балтийская
    .aside-contacts__station.aside-contacts__station--station-2 Фрунзенская
  .aside-contacts__enroll
    a(href='').btn Записаться online
    .aside-contacts__clarification Выберите дату и время визита
    
