.aside-contacts
  // text-align center
  font-size 0.75rem
  display flex
  flex-direction column
  align-items center
  color #4e4e4e
  &__phone
    font-size 1.125rem
    font-weight bold
    // margin-bottom 0.25rem
    color #000000
    @media screen and (max-width 1200px)
      font-size 1rem
  &__schedule
    margin-bottom 0.75rem
  &__address
  
    margin-bottom 0.25rem
  &__metro
    // display flex
    // flex-wrap wrap
    margin-bottom 1.5rem
  &__station
    &::before
      margin-right 0.25rem
      padding-left 1.15rem
      display inline-block
      background-repeat no-repeat
      background-position center left
      background-size 1rem auto
    &--station-1::before
      content '1'
      color #f9c
      background-image url("../images/metro-1.png")
      margin-bottom 0.25rem
    &--station-2::before
      content '2'
      color #9cf
      background-image url("../images/metro-2.png")
  &__enroll
    display flex
    flex-wrap wrap
    text-align center
    flex-direction column
    .btn
      font-size 0.75rem
      line-height 1.125rem
      flex-grow 1
      margin-bottom 0.5rem
  &__clarification
    font-size 0.625rem
    font-family 'Playfair Display', serif
    font-style italic
    flex-grow 1
