.footer-contacts
  .footer-phone +7 (812) 385-01-51
  .footer-socials
    .footer-socials__subheader Мы в соц сетях
    ul.footer-socials__list
      li.footer-socials__item.footer-socials__item_vk
        a(href='https://vk.com/club2142527' target='_blank') 
      li.footer-socials__item.footer-socials__item_ig
        a(href='https://instagram.com/hair_care_center' target='_blank') 
