.footer-contacts
  padding 1rem
  display flex
  flex-wrap wrap
  @media screen and (max-width 1024px) and (min-width 769px)
    justify-content space-around
    align-items center
  @media screen and (max-width 768px)
    flex-direction column
    align-items center
.footer-phone
  font-size 1.4rem
  font-weight bold
  line-height 2.7rem
  margin-bottom 1.25rem
  a
    color #000000
.footer-socials
  &__subheader
    font-family 'Playfair Display', serif
    font-style italic
    color #666666
    margin-bottom .75rem
  &__list
    display flex
    margin-left -0.5rem
    margin-right -0.5rem
  &__item
    margin-left 0.5rem
    margin-right 0.5rem
    width 2rem
    height 2rem
    position relative
    overflow hidden
    a
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border-radius 50%
      background-color #ffffff
      background-size 1rem
      background-position center
      background-repeat no-repeat
      &:hover
        background-color #f8f8f8
    &_vk a
      background-image url('../images/vk.png')
    &_ig a
      background-image url('../images/ig.png')
    &_fb a
      background-image url('../images/fb.png')
