.home-services
  .home-services__item.home-services__item_womens-haircut
    .home-services__header
      h2
        a(href='/strizhka/zhenskaya/') Женская стрижка
      label(for='home-services__switcher_womens-haircut').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_womens-haircut
    ul.home-services__list
      li
        a(href='/strizhka/goryachimi-nozhnicami/') стрижка горячими ножницами
    .home-prices
      .home-prices__table
        table
          tr
            td Волосы до подбородка
            td 1200
          tr
            td Волосы до плеч
            td 1400
          tr
            td Волосы ниже плеч
            td 1800
          tr
            td(colspan=2)
              i.small * с укладкой
        table
          tr
            td Стрижка горячими ножницами
            td 2400
      i.home-prices__clarification Цены включают в себя стоимость материалов
  .home-services__item.home-services__item_mens-haircut
    .home-services__header
      h2
        a(href='/strizhka/muzhskaya/') Мужская стрижка
      label(for='home-services__switcher_mens-haircut').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_mens-haircut
    ul.home-services__list
      li модельные стрижки
      li стрижка усов и бороды
    .home-prices
      .home-prices__table
        table
          tr
            td Модельные стрижки
            td 700
          tr
            td Стрижка усов и бороды
            td 500
      i.home-prices__clarification Цены включают в себя стоимость материалов

  .home-services__item.home-services__item_large.home-services__item_restoration
    .home-services__header
      h2 Восстановление волос
      label(for='home-services__switcher_restoration').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_restoration
    ul.home-services__list
      li
        a(href='/uhod/laminirovanie-volos/') ламинирование
      li
        a(href='/uhod/ekranirovanie-volos/') экранирование
      li пилинг кожи головы
      li ботокс для волос
    .home-prices
      .home-prices__table
        h3  Ламинирование Loreal 
        table
          tr
            td Волосы до подбородка
            td 4800
          tr
            td Волосы до плеч
            td 5700
          tr
            td Волосы ниже плеч
            td 7300
        table
          tr
            td Экранирование Estel
            td 
      .home-prices__table
        h3 Ботокс для волос (Hair SPA keratin)
        table
          tr
            td Волосы до подбородка
            td 4000
          tr
            td Волосы до плеч
            td 4500
          tr
            td Волосы ниже плеч
            td 5500
        table
          tr
            td Пилинг кожи головы
            td 1200
      i.home-prices__clarification Цены включают в себя стоимость материалов
  .home-services__item.home-services__item_coloring
    .home-services__header
      h2
        a(href='/okrashivanie-volos/') Окрашивание
      label(for='home-services__switcher_coloring').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_coloring
    .home-prices
      .home-prices__table
        h3 Окрашивание в один тон 
        table
          tr
            td Волосы до подбородка
            td 4800
          tr
            td Волосы до плеч
            td 5700
          tr
            td Волосы ниже плеч
            td 7300
      .home-prices__table
        h3 Креативное окрашивание 2D/3D 
        table
          tr
            td Волосы до подбородка
            td 6500
          tr
            td Волосы до плеч
            td 7500
          tr
            td Волосы ниже плеч
            td 8500
      i.home-prices__clarification Цены включают в себя стоимость материалов
  .home-services__item.home-services__item_extention
    .home-services__header
      h2 Наращивание волос
      label(for='home-services__switcher_extention').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_extention
    ul.home-services__list
      li снятие и коррекция
    .home-prices
      .home-prices__table
        h3 Капсульное наращивание
        table
          tr
            td Наращивание 1 пряди
            td 30
          tr
            td Коррекций 1 пряди
            td 60
          tr
            td Снятие 1 пряди
            td 20
          tr
            td(colspan=2)
              i.home-prices__clarification На материалы предоставляется дополнительная скидка до 20%
        table
          tr
            td Ленточное наращивание
              br
              span(style='font-size: 0.75rem') 1 набор — 5 двойных лент (10 одинарных лент)
            td 500
        table
          tr
            td Голливудское наращивание
            td 4000
      
  .home-services__item.home-services__item_small.home-services__item_straightening
    .home-services__header
      h2
        a(href='/vypryamlenie-volos/') Кератиновое выпрямление
      label(for='home-services__switcher_straightening').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_straightening
    .home-prices
      .home-prices__table
        h3 Cadiveu Brasilian Cacau
        table
          tr
            td Волосы до подбородка
            td 4800
          tr
            td Волосы до плеч
            td 5500
          tr
            td Волосы ниже плеч
            td 6500
      i.home-prices__clarification Цены включают в себя стоимость материалов

  .home-services__item.home-services__item_small.home-services__item_shine
    .home-services__header
      h2 Придание блеска волосам
      label(for='home-services__switcher_shine').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_shine
    .home-prices
      .home-prices__table
        h3 Greymy Professional
        table
          tr
            td Волосы до подбородка
            td 1500
          tr
            td Волосы до плеч
            td 1700
          tr
            td Волосы ниже плеч
            td 2000
      i.home-prices__clarification Цены включают в себя стоимость материалов

  .home-services__item.home-services__item_small.home-services__item_braids
    .home-services__header
      h2
        a(href='/pricheska/pletenie-kos/') Плетение косичек


  .home-services__item.home-services__item_small.home-services__item_hairstyles
    .home-services__header
      h2
        a(href='/pricheska/') Прически
      label(for='home-services__switcher_hairstyles').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_hairstyles
    .home-prices
      .home-prices__table
        table
          tr
            td Волосы до подбородка
            td 1750
          tr
            td Волосы до плеч
            td 2500
          tr
            td Волосы ниже плеч
            td 3600
      i.home-prices__clarification Цены включают в себя стоимость материалов

  .home-services__item.home-services__item_small.home-services__item_eyelash-extension
    .home-services__header
      h2
        a(href='/brovi-i-resnicy/narashchivanie-resnic-klassicheskoe/') Наращивание ресниц
      label(for='home-services__switcher_eyelash-extension').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_eyelash-extension
    .home-prices
      .home-prices__table
        table
          tr
            td Классическое наращивание
            td 1700
          tr
            td Наращивание 2D/3D эффект
            td 2700
      i.home-prices__clarification Цены включают в себя стоимость материалов

  .home-services__item.home-services__item_small.home-services__item_makeup
    .home-services__header
      h2 Макияж
      label(for='home-services__switcher_makeup').home-services__label Цены
    input(type='checkbox').home-services__switcher#home-services__switcher_makeup
    .home-prices
      .home-prices__table
        table
          tr
            td Дневной/бизнес make up
            td 1000
          tr
            td Вечерний make up
            td 1600
          tr
            td Свадебный make up
            td 2500
        table
          tr
            td Окрашивание бровей
            td 500
          tr
            td Окрашивание ресниц
            td 500
          tr
            td Коррекция бровей
            td 400
      i.home-prices__clarification Цены включают в себя стоимость материалов
