.home-services
  display flex
  flex-wrap wrap
  margin -0.75rem
  &__item
    width calc(50% - 1.5rem)
    // width 50%
    min-height 17.5rem
    background #f0f0f0
    margin 0.75rem
    padding 0 2rem 0.75rem
    // display flex
    // flex-direction column
    background-size cover
    background-position center
    position relative
    &::after
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content ''
      z-index 1
    @media screen and (max-width 768px)
      width 100%
      height auto
    &_large
      width 100%

    &_small
      width calc(33.3333% - 1.5rem)
      // width 33.3333%
      & ^[-2]__header
        h2
          font-size 1.25rem
          line-height 1.875rem
      @media screen and (max-width 1024px)
        width calc(50% - 1.5rem)
        // width 50%
      @media screen and (max-width 768px)
        width 100%
    &_mens-haircut
      background-image url('../images/mens-haircut.jpg')
      @media screen and (max-width 1024px)
        width 100%
    &_womens-haircut
      background-image url('../images/womens-haircut.jpg')
      @media screen and (max-width 1024px)
        width 100%
    &_restoration
      background-image url('../images/restoration.jpg')
    &_coloring
      background-image url('../images/coloring.jpg')
    &_extention
      background-image url('../images/extention.jpg')
    &_straightening
      background-image url('../images/straightening.jpg')
    &_shine
      background-image url('../images/shine.jpg')
    &_braids
      background-image url('../images/braids.jpg')
    &_hairstyles
      background-image url('../images/hairstyles.jpg')
    &_eyelash-extension
      background-image url('../images/eyelash-extension.jpg')
    &_makeup
      background-image url('../images/makeup.jpg')
    &_blurred
      &::after
        background-color rgba(255,255,255,0.6)
        backdrop-filter blur(4px)
  &__header
    // margin-bottom auto
    margin 1rem 0 0.9rem
    position relative
    display flex
    align-items center
    text-shadow 0 0 1px #ffffff
    z-index 2
    margin-left -0.75rem
    margin-right -0.75rem
    @media screen and (max-width 768px)
      flex-wrap wrap
    h2
      text-transform uppercase
      margin 0
      font-size 1.5rem
      line-height 2.25rem
      margin 0.25rem 0.75rem
      a
        color #000000
        &:hover
          color #666666
          transition none
  &__list
    display flex
    flex-wrap wrap
    flex-direction column
    align-items flex-start
    margin -0.5rem
    z-index 2
    @media screen and (max-width 768px)
      display none
    > li
      margin 0.5rem
      padding 0.25rem 0.75rem
      background-color rgba(255,255,255,0.6)
      border-radius 4px
      backdrop-filter blur(4px)
      z-index 2
      a
        color #000000

        &:hover
          color #666666
          transition none
  &__label
    display inline-block
    cursor pointer
    margin 0.25rem 0.75rem
    padding 0.25rem 0.75rem
    background-color rgba(185,31,73,0.4)
    border-radius 4px
    color #ffffff
    backdrop-filter blur(4px)
    transition backdrop-filter .2s, background-color .2s
    &:hover
      background-color rgba(185,31,73,0.6)
      backdrop-filter blur(8px)
      transition none
  &__switcher
    display none
    &:checked
      & ~ ^[-2]__list
        display none
      & ~ .home-prices
        display flex
.home-prices
  display none
  z-index 2
  position relative
  margin-left -0.75rem
  margin-right -0.75rem
  flex-wrap wrap
  &__table
    margin-left 0.75rem
    margin-right 0.75rem
    display flex
    flex-direction column
    .home-services__item_large &
      width calc(33.3333% - 1.5rem)
      @media screen and (max-width 1024px)
        width calc(50% - 1.5rem)
      @media screen and (max-width 768px)
        width 100%
        max-width 24rem
    
  h3
    margin-top 0
    margin-bottom .5rem
    line-height 1.5rem
    font-size 0.875rem
  table
    width 100%
    background-color rgba(255,255,255,0.6)
    border-radius 4px
    backdrop-filter blur(4px)
    margin-bottom 0.5rem
    &.nomargin
      margin-bottom 0
  td
    padding 0.125rem 0.75rem
    font-size 0.875rem
    &:last-child
      text-align right
  &__clarification
    font-size 0.75rem
    padding 0 0.75rem
    flex-basis 100%
    margin-bottom 0.5rem
