extends /blocks/layout/layout

block head
  - var pageTitle = 'Мужская стрижка'

block content
  .inner-page.container
    .content
      +page-header({'name':'Мужская стрижка','links':[{name:'Цены',href:'#page-prices'},{name:'Примеры работ',href:'#page-works'}],'class':'men-hairstyle'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Мужская стрижка'})
      .page-block
        p.page-subheader
          strong 70% женщин
          |  при оценке внешности мужчины обращают внимание на стрижку.
        .page-hairstyles
          p(style='margin-bottom: 1.5rem; text-align: center') В мужской стрижке мастера 
            strong Hair Care Center
            |  соблюдают следующие принципы:
          +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery
            +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item
              .page-hairstyles__gallery-image
                //- img(src='/images/men-hairstyle/men-hairstyle-01.jpg')
                span.page-hairstyles__gallery-title Индивидуальность 
            +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item
              .page-hairstyles__gallery-image
                //- img(src='/images/men-hairstyle/men-hairstyle-02.jpg')
                span.page-hairstyles__gallery-title Практичность
            +block-wrap__item(4,4,6,6).page-hairstyles__gallery-item
              .page-hairstyles__gallery-image
                //- img(src='/images/men-hairstyle/men-hairstyle-03.jpg')
                span.page-hairstyles__gallery-title Естественность
      .page-block
        +block-wrap({'wrap':'wrap', 'justify':'center', 'align':'center'})
          +block-wrap__item(6,6,6,6)
            p(style='margin-bottom: 1rem') При подборе стрижки мастер учтет следующие особенности:
            ul.list-marked.list-marked--dash.list-marked--bigline
              li границы, направление и характер роста волос на лобной, затылочной области и макушке
              li плотность волосяного покрова
              li форму лица и затылка, высоту лба, особенности профиля
          +block-wrap__item(3,3,3,6)
            img(src='/images/men-hairstyle/men-hairstyle-04.jpg')
      .page-block
        -
          var list = [
            {'title':'При выполнении стрижки','desc':'мастер подчеркнет характер, образ жизни и стиль владельца','color':'#e6f1f5', 'font':'small', 'align':'center', 'brackets':'none'},
            {'title':'По желанию клиента','desc':'мастер создаст абсолютно уникальную стрижку', 'color':'#f9e5dc', 'font':'small', 'align':'center', 'brackets':'none'},
            {'title':'Работаем с волосами','desc':'любой длины', 'color':'#e6f2ee', 'font':'small', 'align':'center', 'brackets':'none'}
          ]
        +pageServices(list)
      .page-block
        -
          var ourWorks = [
            {'url':'/images/men-hairstyle/works-01','name':'Модельная стрижка',price: '5500 руб.'},
            {'url':'/images/men-hairstyle/works-02','name':'Модельная стрижка',price: '6700 руб.'}
          ]
        +works(ourWorks)
      .page-block#page-prices
        h2.page-subheader Услуги и цены
        -
          var obj = [
            {'isSubHeader':true,'header':'Стрижка мужская модельная',
              'cells': [700]
            },
            {'isSubHeader':true,'header':'Стрижка челки / бороды / усов',
              'cells': [500]
            },
          ]
        +block-wrap({'wrap':'wrap', 'justify':'center', 'align':'center'})
          +block-wrap__item(8,8,10,6)
            +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
    
  
