extends /blocks/layout/layout

block head
  - var pageTitle = 'Прически'

block content
  .inner-page.container
    .content
      +page-header({'name':'Прически','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'hairstyle'})
      //- +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p В жизни каждой женщины и мужчины случаются 
          strong события
          | , которые требуют 
          strong особого
          |  подхода к внешнему виду.
      .page-block
        +block-marked({'color':'blue','size':'big'}).block-marked--big
          ul.list-marked.list-marked--big.list-marked--dash
            li Создадим идеальную прическу к 
              strong любому событию
              | .
            li Учтем 
              strong характер
              |  события и как надолго рассчитана укладка.
            li Предложим варианты причесок в соответствии с 
              strong модными тенденциями
              |  сезона.
      .page-block
        +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery
          +block-wrap__item(2,2,3,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/hairstyle/hairstyle-01.jpg')
            .page-hairstyles__gallery-title Важное торжество или вечеринка
          +block-wrap__item(2,2,3,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/hairstyle/hairstyle-02.jpg')
            .page-hairstyles__gallery-title Свадьба
          +block-wrap__item(2,2,3,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/hairstyle/hairstyle-03.jpg')
            .page-hairstyles__gallery-title Юбилей
          +block-wrap__item(2,2,3,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/hairstyle/hairstyle-04.jpg')
            .page-hairstyles__gallery-title Корпоративный праздник
          +block-wrap__item(2,2,3,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/hairstyle/hairstyle-05.jpg')
            .page-hairstyles__gallery-title Выпускной
      .page-block
        h2.page-subheader Как мы работаем?
        +block-wrap({'wrap':'wrap'})
          +block-wrap__item(4,4,4,6)
            img(src='/images/hairstyle/how-we-work-01.jpg')
          +block-wrap__item(8,8,8,6)
            h3.small.nomargin--top 
            p При моделировании 
              strong прически примем во внимание индивидуальные особенности
              | : цвет волос, форму лица, фигуру клиентки, учтем особенности вечернего платья, обуви и аксессуаров.
            p За счет этого добьемся 
              strong гармоничности, естественности
              |  и подчеркнем достоинства.
          +block-wrap__item(4,4,4,6)
            img(src='/images/hairstyle/how-we-work-02.jpg')
          +block-wrap__item(8,8,8,6)
            h3.small.nomargin--top 
            p Сможем создать превосходный образ даже, если у вас очень 
              strong тонкие, редкие или короткие волосы
              | .
            p Применим уникальное средство “загуститель волос” для создания 
              strong эффекта густоты волос
              | .
          +block-wrap__item(4,4,4,6)
            img(src='/images/hairstyle/how-we-work-03.jpg')
          +block-wrap__item(8,8,8,6)
            h3.small.nomargin--top 
            p При создании прически используем 
              strong стайлеры, накладные пряди, изысканные украшения и заколки
              | .
            p Сможем создать образ с использованием 
              strong волос для наращивания
              | .
      .page-block
        h2.small Для невест
        p Для невест предложим 
          strong пробную прическу
          | . Примерно за неделю до свадьбы можно сделать свадебную прическу и посмотреть, насколько она вам нравится и идет, как она будет сочетаться с нарядом, насколько хорошо она смотрится в кадре.


      .page-block
        h2.small Дополнительно
        +block-marked({'color':'green','size':'big'}).block-marked--big
          p Выполним 
           strong макияж для создания целостного образа
           |  или дадим бесплатные рекомендации.
        p Благодаря услуге "Укладка волос с экранированием" 
          strong обеспечим увлажнение, восстановление уровня pH
          | , а также уплотнение и укрепление структуры волос с 
          strong защитой и блеском
          |  внешнего слоя. Моментальный эффект!
      .page-block
        -
          var ourWorks = [
            {'url':'/images/hairstyle/works-01','name':'Свадебная прическа'},
            {'url':'/images/hairstyle/works-02','name':'Прическа для торжественного мероприятия'},
          ]
        +works(ourWorks)
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {
              'header':'Мытье головы + укладка',
              'cells':[500, 600, 700]
            },
            {
              'header':'Укладка классическая',
              'cells':[1100, 1300, 1700]
            },
            {
              'header':'Прическа',
              'cells':[1750, 2500, 3600]
            },
          ]
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
          
        
