extends /blocks/layout/layout

block head
  - var pageTitle = 'Ламинирование волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Ламинирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Придание блеска волосам&nbsp;&mdash; это комплексная процедура направленная не&nbsp;только на&nbsp;поверхностное восстановление и&nbsp;запечатывание волос, это концептуальный уход в&nbsp;который входит:
        ul.list-marked
          li очищение (детоксикация) и&nbsp;восстановление молекулярной влаги в&nbsp;структуре волос и&nbsp;кожи головы;
          li восстановление внутренней структуры волоса;
          li увлажнение и&nbsp;укрепление структуры волос и&nbsp;придание блеска и&nbsp;эластичности;
          li на&nbsp;выходе вы&nbsp;чувствуете легкость, свежесть и&nbsp;мягкие струящиеся волосы;
