-
  var obj = [
    {'isHeader':true,'header':'Цены',
      'cells': []
    },
    {
      'header':'Классическое наращивание ресничек',
      'cells':[1700]
    },
    {
      'header':'Наращивание ресничек 2D/3D эффект',
      'cells':[2700]
    },
    {
      'header':'Снятие наращенных ресничек',
      'cells':[500]
    },
    {
      'header':'Снятие ресничек перед последующим наращиванием (если наращивали в нашем салоне)',
      'cells':[0]
    },
  ]
