.block-marked-arrow
  position relative
  padding-left 1.75rem
  min-height 2.5rem
  margin-bottom 1.5rem
  &::before
  &::after
    width 1.4rem
    height 0.35rem
    position absolute
    left 0
    background-color #e6f2ee
    content ''
    transform-origin 0 50% 0
  &::before
    top 0
    transform rotate(60deg)
  &::after
    top 2.25rem
    transform rotate(-60deg)
