*
  box-sizing border-box
html
  font-family 'Source Sans Pro', sans-serif
  // font-size 20px
  // @media screen and (max-width 1400px)
  //   font-size 18px
  // @media screen and (max-width 1024px)
  //   font-size 16px
  font-size 16px
  @media screen and (min-width 768px)
    font-size calc(16px + 6 * (100vw - 768px) / 632)
  @media screen and (min-width 1400px)
    font-size 20px
p
  font-size 1rem
  margin-bottom 0.5rem
  line-height 1.5rem
.nomargin
  margin 0
  &--top
    margin-top 0
.small
  font-size 0.75rem
  line-height 1.3125rem
  margin 0.375rem 0
.big
  font-size 1.25rem
  line-height 1.875rem
  margin 0.75rem 0
.bigger
  font-size 1.125rem
  line-height 1.6875rem
  margin 0.675rem 0
.center
  text-align center
h1
  font-family 'Playfair Display', serif
  font-size 2rem
  font-weight bold
  line-height 3rem
  margin-bottom 1rem
h2
  font-family 'Playfair Display', serif
  font-size 1.6rem
  font-weight bold
  line-height 2.4rem
  margin 1.6rem 0 0.5rem
  &.small
    font-size 1.4rem
    font-weight bold
    line-height 2.1rem
    margin 1.4rem 0 0.5rem
  &.nomargin-top
    margin-top -0.4rem
h3
  font-family 'Playfair Display', serif
  font-size 1.2rem
  font-weight bold
  line-height 1.8rem
  margin 1.6rem 0 0.5rem
  &.small
    font-size 1rem
    font-weight bold
    line-height 1.5rem
    margin 1.2rem 0 0.5rem
  &.nomargin
    &--top
      margin-top 0
h4
  font-family 'Playfair Display', serif
  font-size 1rem
  font-weight bold
  line-height 1.5rem
  margin 1rem 0 0.5rem
b
strong
  font-weight bold
a
  transition all .4s
  color #b91f33
  &:hover
    color #5e101a
    transition none
  &[href^='#']
    border-bottom 1px dotted
    text-decoration none
    @supports (text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
i
  font-weight inherit
.container
  display flex
  justify-content center
.content
  width 100%
  max-width 62rem
  padding-left 1rem
  padding-right 1rem
  &_nopadding
    max-width 68rem
    padding-left 0
    padding-right 0
.home-header
  margin 1rem 0
  text-align center
.btn
  display inline-block
  font-size 1rem
  line-height 1.5rem
  padding 0.75rem 1.5rem
  color #ffffff
  background-color #b6002e
  box-shadow 0 0 6px rgba(0,0,0,0.2)
  cursor pointer
  transition box-shadow .4s, background-color .4s
  text-decoration none
  border none
  a&
    @supports (text-decoration-style dotted)
      text-decoration none
  &:hover
    box-shadow 0 0 6px rgba(0,0,0,0.6)
    background-color #820021
    color #ffffff
    transition none
input
  &[type='text']
  &[type='tel']
  &[type='email']
    height 1.5rem
    font-size 0.75rem
    border 1px solid #d6d6d6
    border-radius 4px
    padding 0 .25rem
  &[type='submit']
    background-color #ffdbdb
    height 1.5rem
    font-size 0.75rem
    border none
    font-weight bold
    transition .4s background-color
    &:hover
      background-color #fff0f0
      transition none
textarea
  @extend input[type='text']
  height calc(6.5rem+2px)
  resize none
  line-height 1.5rem
  padding 0.25rem 0.5rem
