extends /blocks/layout/layout

block content
  .container
    .content
      .article
        h1.article__header Красители и уходовые средства бренда L’Oreal
        .article__body
          p Центр дизайна волос вводит новую линию красителей и уходовых средств за волосами бренда L’Oreal. Наши клиенты заслуживают всего самого лучшего и качественного. Мы уверены, что в сочетании с талантами наших мастеров марка L’Oreal сделает качество наших услуг еще выше, а сами услуги разнообразней и интересней. Помимо средств для салонных услуг, у нас уже представлены различные линии для домашнего ухода. Подробно об этих и других услугах можно узнать, позвонив по тел (812) 3850151.
          .article__date 02.08.2017
