extends /blocks/layout/layout

block content
  .container
    .content
      h1 Контакты
      +block-wrap({wrap:true})
        +block-wrap__item(6,6,6,6)
          h2.small Адрес
          p г. Санкт-Петербург
            br
            | наб. Обводного канала д. 108
          p Работаем ежедневно с 10 до 21.
        +block-wrap__item(6,6,6,6)
          h2.small Телефон
          p.big +7 (812) 385-01-51
          p с 10 до 21 без выходных
        +block-wrap__item(6,6,6,6).home-contacts__map
            script(type='text/javascript' charset='utf-8' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&lang=ru_RU&sourceType=constructor')
        +block-wrap__item(6,6,6,6)
          h2.small Припарковаться на машине
          p Двигайтесь вдоль Обводного канала от Балтийского вокзала в сторону Московского пр.
          p Заезд есть перед и после здания.
          p Вдоль здания находятся парковочные места. Обычно 2-3 места свободные. Если все занято, то правее от здания есть площадка для машин.
          h2.small Добраться пешком
          +block-wrap({wrap:true})
            +block-wrap__item(4,4,4,6)
              .home-contacts__metro.home-contacts__metro_metro-1 Балтийская<br>
                i 10 минут
            +block-wrap__item(8,8,8,6)
              p После выхода из метро двигайтесь вдоль Обводного канала в сторону Московского пр. Ориентируйтесь на церковь. После нее будет сквозной проход через дом, далее  желтое здание.
            +block-wrap__item(4,4,4,6)
              .home-contacts__metro.home-contacts__metro_metro-2 Фрунзенская<br>
                i 5 минут
            +block-wrap__item(8,8,8,6)
              p После выхода из метро поверните налево и двигайтесь вдоль Московского пр. до Обводного канала. Затем поверните налево и двигайтесь вдоль Обводного канала до желтого здания.
      h2.small Вход находится справа от центра здания
      +block-wrap({wrap:true})
        +block-wrap__item(8,8,8,6)
          img(src='/images/salon-outside.jpg' alt='Салон красоты в Фрунзенском районе')
      h2.small 3D-тур
      +block-wrap({wrap:true})
        +block-wrap__item(8,8,8,6)
          .iframe-responsive.js-tour-container(style='margin-bottom: 1.5rem')
            iframe( style="border:0" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469")
