extends /blocks/layout/layout

block content
  .container
    .content
      .discount
        include ../blocks/discount-banner/discount-banner
        .discount__body
          h2.discount__subheader Описание акции
          p Поможем вам создать яркий образ для любого мероприятия: корпоратив, день рождения, вечеринка, свадьба.

          p В результате создание образа в салоне Hair Сare Center мы поможем изменить не только имидж, но и восприятие собственной персоны.
        .discount__works
          include ../blocks/page-works/page-works
          -
            var ourWorks = [
              {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
              {'url':'/images/straightening/work-02','name':'Кератиновое выпрямление'},
              {'url':'/images/straightening/work-03','name':'Кератиновое выпрямление'}
            ]
          h2.discount__subheader Наши работы
          +works(ourWorks, {'noHeader': true})
        .discount__masters
          h2.discount__subheader Средний стаж мастеров салона — 12 лет
          p Мастера обучались в ведущих студиях и академиях: 
            strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          p Сотрудники салона неоднократно участвовали в международном фестивале красоты 
            strong &laquo;Невские берега&raquo;
            | , крупнейшей в Европе парфюмерно-косметической выставке Intercharm.
          include ../blocks/home-masters/home-masters
