extends /blocks/layout/layout

include ../blocks/discounts-list/discounts-list

block content
  .container
    .content
      h1 Акции
      -
        let list = [
          {
            title: 'Праздничный образ за 9900 рублей!',
            info: 'Окрашивание в один тон + стрижка + укладка + окрашивание и коррекция бровей + makeup - за 9900 руб.',
            date: '31.08.2018'
          },
          {
            title: 'Праздничный образ за 9900 рублей!',
            info: 'Окрашивание в один тон + стрижка + укладка + окрашивание и коррекция бровей + makeup - за 9900 руб.',
            date: '31.08.2018'
          },
        ]
      +discountsList(list)
