extends /blocks/layout/layout

block head
  - var pageTitle = 'Наращивание волос'

block content
  - var imagesFolder = '/images/hair-extention/'

  .inner-page.container
    .content
      +page-header({'name':'Наращивание волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'hair-extention'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Наращивание волос'})
      .page-block 
        -
          var list = [
            {'title':'Голливудское','desc':'холодное','price':'от 4000 руб*', 'color':'#e6f1f5', 'dataName': 'голливудское наращивание'},
            {'title':'Капсульное','desc':'горячее','price':'от 3000 руб*', 'color':'#f9e5dc', 'dataName': 'капсульное наращивание'},
            {'title':'Ленточное','desc':'холодное','price':'от 2000 руб*', 'color':'#e6f2ee', 'dataName': 'ленточное наращивание'},
          ]
        +pageServices(list) 
        +block-wrap({justify:'center'})
          +block-wrap__item(6,8,10,6)
            +block-marked({color: 'red'}).block-marked--big.block-marked--centered
              p Укладка и прическа 
                strong в подарок!
        p.small * Цены указаны на работы, без стоимости волос.
      .page-block
        h2.page-subheader Почему волосы стоит нарастить у нас?
        -
          var list = [
            {
              'image':imagesFolder+'why-we-01.jpg',
              'title':'Ассортимент волос',
              'desc': [
                '<strong>Подберем</strong> волосы на месте.',
                '<strong>Огромный ассортимент</strong> волос в наличии <strong>от 40 до 85 см</strong>, все цвета&nbsp;&mdash; <strong>47 оттенков</strong>.',
                'Изготовим любой оттенок на заказ.'
              ]
            },
            {
              'image':imagesFolder+'why-we-02.jpg',
              'title':'Разные методики',
              'desc': [
                'Выполним 3 вида наращивания на выбор: <strong>на трессах, капсульное, ленточное</strong>.'
              ]
            },
            {
              'image':imagesFolder+'why-we-03.jpg',
              'title':'Гарантия',
              'desc': [
                'Даем <strong>гарантию на работу</strong>&nbsp;&mdash; 1 месяц, <strong>гарантию на качество волос</strong>&nbsp;&mdash; 2-3 месяца. '
              ]
            },
            {
              'image':imagesFolder+'why-we-04.jpg',
              'title':'Качество волос',
              'desc': [
                'Предложим <strong>качественные славянские волосы</strong> собственного производства, без силикона и перевертышей.'
              ]
            },
            {
              'image':imagesFolder+'why-we-05.jpg',
              'title':'Низкие цены',
              'desc': [
                'Цены на волосы - самые низкие в городе, от производителя без посредников.'
              ]
            },
            {
              'image':imagesFolder+'why-we-06.jpg',
              'title':'Сертифицированные мастера',
              'desc': [
                'Нарастим волосы <strong>профессионально</strong>. Мастера имеют соответствующие <strong>сертификаты</strong>. Сами обучаем других мастеров наращиванию.'
              ]
            }
          ]
          
        +whyWe(list)
      .page-block
        include /blocks/hair-extention-banner/hair-extention-banner
      .page-block
        h2.page-subheader Как выбрать тип наращивания?
        h4 Капсульное (горячее) наращивание
        +block-wrap({'wrap':true})
          +block-wrap__item(3,3,4,6)
            img(src= imagesFolder+'type-01.jpg')
          +block-wrap__item(9,9,8,6)
            p В данной технологии используются пряди волос с капсулами.
            p Позволяет наращивать волосы при короткой длине своих волос от 6-8 см. А также можно наращивать волосы в зоне челки при помощи микрокапсул.
            p Можно экспериментировать с цветом волос по длине, добавляя прядки различных цветов, например, делать эффект мелирования.
            p
              strong Лучший выбор если вы планируете нарастить волосы на длительный период
            ul.list-marked
              li В среднем на голову требуется 140 прядей;
              li Коррекция каждые 3 месяца;
              li Срок службы волос 8 - 12 месяцев;
              li Время на процедуру 2-4 часа.
        h4 Ленточное (холодное) наращивание
        +block-wrap({'wrap':true})
          +block-wrap__item(3,3,4,6)
            img(src= imagesFolder+'type-02.jpg')
          +block-wrap__item(9,9,8,6)
            p В данной технологии волосы на ленте крепятся посредством клеевой ленты.
            p Актуально, если вы планируете посетить мероприятие и вам нужно срочно нарастить и привести волосы в порядок.
            p Подойдет для девушек с небольшим объемом своих волос.
            p Длина своих волос от 10 см.
            p
              strong Лучший выбор для обладательниц редких и тонких волос
            ul.list-marked
              li В среднем на голову требуется 40 лент;
              li Коррекция каждые 1,5 - 2 месяца;
              li Срок службы волос 6-8 месяцев;
              li Время на процедуру 1-1,5 часа.
        h4 Голливудское (холодное) наращивание
        +block-wrap({'wrap':true})
          +block-wrap__item(3,3,4,6)
            img(src= imagesFolder+'type-03.jpg')
          +block-wrap__item(9,9,8,6)
            p В данной технологии волосы в трессах (накладные пряди) крепятся к собственным волосам, заплетенным в небольшие косички, посредством пришивания специальной нитью.
            p Можно наращивать волосы близко к лицу и в области челки, что придает более естественный и натуральный вид прическе.
            p При перекидывании волос на две стороны вперед, сзади абсолютно ничего не заметно.
            p Не подойдет для девушек с редкими и ослабленными волосами.
            p Длина своих волос от 10 см.
            p
              strong Лучший выбор для безопасности и здоровья своих волос
            ul.list-marked
              li В среднем на голову требуется 2 тресса: 30 и 20 см, общим весом около 100 грамм;
              li Коррекция каждые 2 месяца;
              li Срок службы волос: около 6-8 мес. (3-4 коррекции);
              li Время на процедуру 2-3 часа.
      .page-block#page-prices
        h2.page-subheader Как рассчитать стоимость?
        p Для расчета стоимости используйте наши калькуляторы:
        include /blocks/hair-extention-calculator/hair-extention-calculator
        +block-wrap({wrap:true})
          +block-wrap__item(6,6,6,6)
            include /data/hair-extention/hair-extention-calc1
            +hairExtCalc(calc1)
          +block-wrap__item(6,6,6,6)
            include /data/hair-extention/hair-extention-calc2
            +hairExtCalc(calc2)
      .page-block
        .page-appointment
          .page-appointment__inner
            h2.page-appointment__header Сложно рассчитать стоимость самостоятельно?
            p(style='margin-bottom: 1.5rem') Оставьте номер телефона, наш мастер перезвонит и поможет рассчитать стоимость услуги наращивания волос.
            form.page-appointment__form
              .page-appointment__input.form-input
                input(type='tel' name='tel' placeholder='Номер телефона')
              .page-appointment__submit
                button(type='submit').btn Проконсультироваться
            .page-appointment__popup#page-appointment__popup
              p
                strong Спасибо.
              p Наш мастер свяжется с вами в течение часа.
      .page-block
        h2.page-subheader Результаты наращивания
        include /data/hair-extention/hair-extention-results
        include /blocks/hair-extention-results/hair-extention-results
        +hairExtentionRes(hairExtRes)
      .page-block
        -
          var ourWorks = [
            {'url':imagesFolder+'work-01','name':'Капсульное наращивание волос для загущения, придания объема волосам и длины.', price:'100&nbsp;капсул&nbsp;&mdash; 3000&nbsp;рублей'},
            {'url':imagesFolder+'work-02','name':'Капсульное наращивание волос для загущения и придания объема  своим волосам.', price:'50&nbsp;капсул&nbsp;&mdash; 1500&nbsp;рублей'},
            {'url':imagesFolder+'work-03','name':'Капсульное наращивание волос для придания объема волосам и длины.', price:'180&nbsp;капсул&nbsp;&mdash; 5400&nbsp;рублей'},
            {'url':imagesFolder+'work-04','name':'Капсульное наращивание волос для придания объема волосам и длины.', price:'250&nbsp;капсул&nbsp;&mdash; 7500&nbsp;рублей'}
          ]
        +works(ourWorks, {noHeader: true})
        p.small * Цены указаны на работы, без стоимости волос для наращивания
      .page-block
        h2.page-subheader Как мы работаем?
        -
          var list = [
            {
              'desc':[
                '<strong>Рекомендуем</strong> подходящий вид наращивания волос при любой длине, состоянии волос (редкие или тонкие), длительности ношения, степени естественности.',
                'Сможем нарастить волосы близко к лицу, в области челки.'
              ]
            },
            {
              'desc':[
                'Поможем <strong>выбрать нужную длину</strong> волос исходя из исходной длины и густоты волос, стрижки, роста и образа жизни. Чтобы получить максимально естественный результат.',
                'Подберем нужный <strong>оттенок</strong> и определим необходимое <strong>количество прядей.</strong>',
                'За счет использования прядей различного цвета добьемся любого эффекта: <strong>мелирование, колорирование, омбре.</strong>'
              ]
            },
            {
              'desc':[
                'Рассчитаем примерную стоимость услуги.'
              ]
            },
            {
              'desc':[
                'Перед наращиванием, при необходимости <strong>выполним адаптационную стрижку</strong>. Волосы будут выглядеть <strong>аккуратно</strong>, а короткие собственные пряди не будут выбиваться из общей прически.',
                'Также <strong>обновим цвет собственных волос</strong> чтобы не был заметен переход между ними и нарощенными волосами.'
              ]
            },
            {
              'desc':[
                'Дадим <strong>консультацию по уходу за волосами</strong>, порекомендуем профессиональную косметику, которую вы сможете приобрести в нашем салоне.'
              ]
            },
          ]
        +block-wrap({'justify':'center'})
          +block-wrap__item(10,10,12,6)
            +howWeWork(list,{'type':'text'})
      .page-block
        +block-wrap({'justify':'center'})
          +block-wrap__item(10,10,12,6)
            .iframe-responsive
              iframe(src="https://www.youtube.com/embed/AerKHfUqncA" allowfullscreen)
      .page-block
        h2.page-subheader Снятие и коррекция
        +block-wrap({'wrap':true})
          +block-wrap__item(6,6,6,6)
            h4 Коррекция нарощенных волос
            p Нужна, когда вы хотите снять и снова нарастить те же самые волосы.
            include /data/hair-extention/hair-extention-calc3
            +hairExtCalc(calc3)
            p <strong>Быстро и без вре да</strong> для волос снимем пряди с помощью специальной жидкости и щипцов.
            p Снятые пряди распутаем, при необходимости, разберем по длине и перекапсулируем для дальнейшего наращивания.
          +block-wrap__item(6,6,6,6)
            h4 Снятие нарощенных волос
            p Подойдет, если вы хотите дать волосам отдохнуть или поменять нарощенные волоса на новые.
            include /data/hair-extention/hair-extention-calc3
            +hairExtCalc(calc3)
        p Распутывание колтунов - 
          strong 1000 - 3000 руб.
        p В случае если во время носки у вас образовались колтуны и нам необходимо будет их распутать, то эта услуга оплачивается дополнительно в зависимости от сложности ситуации.
      .page-block
        h2.page-subheader Наши мастера по наращиванию
        p.page-description Работают 
          strong сертифицированные
          |  мастера-технологи с многолетним опытом. После наращивания подстригут, сделают укладку и прическу в подарок.
        -
          var masters = [
            {'image':'darya-ivanova','name':'Дарья Иванова','activities':['Стилист','Визажист','Мастер по наращиванию'],'icon':'','link':'darya-ivanova' },
            {'image':'natalya-mihajlova','name':'Наталья Михайлова','activities':['Парикмахер-универсал'],'icon':'','link':'natalya-mihajlova' },
            {'image':'irina-bogdanova','name':'Ирина Богданова','activities':['Парикмахер-универсал'],'icon':'','link':'irina-bogdanova' },
            {'image':'ekaterina-smirnova','name':'Екатерина Смирнова','activities':['Парикмахер-универсал'],'icon':'scissors','link':'ekaterina-smirnova' },
          ]
        +block-wrap({wrap:true})
          each master in masters
            +block-wrap__item(3,3,3,3)
              figure
                img(src= '/images/' + master.image + '.jpg' alt= master.name title= master.name)
                figcaption
                  .home-masters__title !{master.name}
        include /blocks/home-master-description/home-master-description
      .page-block#page-feedback
        +block-wrap({wrap:true, justify:'center'})
          +block-wrap__item(8,8,10,6)
            include /blocks/hair-extention-reviews/hair-extention-reviews
      .page-block
        .page-appointment
          .page-appointment__inner
            .page-appointment__discount
              strong Скидка 5%
              |  на все услуги при записи с сайта!
            .page-appointment__btn 
              a.btn(href='#hair-extention-sign' data-fancybox data-name='наращивание')
                | Записаться в салон
  include /blocks/hair-extention-sign/hair-extention-sign
