extends /blocks/layout/layout

block content
  section.section.container
    .content
      h1.home-header Салон для ценителей красоты и здоровья волос

      p.home-description В первую очередь сохраняем 
        strong красоту
        |  и 
        strong здоровое состояние
        |  волос.
        | <br>Добиваемся этого за счет 
        strong компетенций
        |  в трихологии, а также ряда профессиональных 
        strong уходовых процедур
        | .
      +block-wrap({'wrap':true, 'justify':'center','nopadding':true}).home-description-columns
        +block-wrap__item(5,5,6,6).home-description-columns__column
          h3.small Профессионализм
          p Мастера обучались в ведущих студиях и академиях: 
            strong Coiffure, Локон, Londa, Sсhwarzkopf, Wella.
          h3.small Нам доверяют известные люди
          p Получили положительные отзывы от 
            strong популярной актрисы
            |  театра и кино, а также участников проекта 
            strong Дом 2
            | .

        +block-wrap__item(5,5,6,6).home-description-columns__column
          h3.small Обслуживаем в отдельных кабинетах
          p Реализуем индивидуальный подход и позволяем вам по настоящему 
            strong раскрыться
            |  перед мастером.
          h3.small Диагностика кожи головы в подарок
          p
            strong Бесплатно
            |  предлагаем услугу, которая проводится на 
            strong дорогостоющем оборудовании
            | . Диагностируем противопоказания к определенным услугам и добиваемся лучшего результата.
      include /blocks/home-services/home-services
        
  section.section.section_grey.container
    .content
      h2.home-header Нам доверяют известные люди
      include /blocks/home-feedback/home-feedback

  section.section.container
    .content
      h2.home-header Наши работы
      include /blocks/home-works/home-works

  section.section.section_grey.container
    .content
      h2.home-header Работаем с брендами
      //- include /blocks/home-brands/home-brands
      .gallery.gallery_centered.gallery_vert-centered
        .gallery__item
          img(src='/images/brands-loreal.png' alt='L’Oreal')
        .gallery__item
          img(src='/images/brands-greymy.png' alt='Greymy')
        .gallery__item
          img(src='/images/brands-estel.png' alt='Estel')
        .gallery__item
          img(src='/images/brands-schwarzkopf.png' alt='Schwarzkopf')
        .gallery__item
          img(src='/images/brands-cadiveu.png' alt='Cadiveu')
          
  section.section.section_light.container
    .content
      h2.home-header Сохраним волосы здоровыми и красивыми
      +block-wrap({'wrap':true})
        +block-wrap__item(7,7,7,6)
          ul.list-marked
            li Мастера имеют 
              strong знания и опыт
              |  в сфере здоровья волос и кожи головы
            li Перед парикмахерскими услугами предложим провести 
              strong бесплатную диагностику волос
            li Подберем 
              strong индивидуальный подход
              |  к вашим волосам и коже головы
            li Предложим ряд 
              strong профессиональных уходовых процедур
              |  для волос
          p.nomargin Салон красоты 
            strong Hair Care Center
            |  - это одно из направлений группы компаний:  
            strong Центр Дизайна Волос
            | . Центр с 2002 года помогает людям с проблемными волосами, поредением или потерей волос выглядеть безупречно.
          //- p 
          //-   a(href='') Ознакомьтесь со всеми диагностическими и уходовыми процедурами.
        +block-wrap__item(5,5,5,6)
          .side-marked для тех, кто бережет здоровье своих волос
        +block-wrap__item(12,12,12,6)
          include /blocks/home-diagnostics/home-diagnostics
  section.section.container
    .content
      h2.home-header Средний стаж мастеров салона&nbsp;&mdash; 
        i 12 лет
      p.home-description Мастера обучались в ведущих студиях и академиях:
        strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
        | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
        strong &laquo;Невские берега&raquo;
        | , крупнейшей в Европе парфюмерно-косметической выставке 
        strong Intercharm
        | .
      include /blocks/home-masters/home-masters
  section.section.section_grey.container
    .content
      h2.home-header Салон красоты Hair Care Center
      include /blocks/home-about/home-about
  section.section.container
    .content
      h2.home-header 3D тур по салону красоты Hair Сare Center
      .iframe-responsive.js-tour-container
        iframe( style="border:0" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469")
  section.section.section_light.container
    .content
      h2 Салон красоты в Фрунзенском районе
      include /blocks/home-contacts/home-contacts

      include /blocks/home-master-description/home-master-description
