extends /blocks/layout/layout

block content
  .container
    .content
      h1 Дарья Иванова
      +block-wrap({wrap: true})
        +block-wrap__item(4,4,4,6)
          .master-photo
            img(src= '/images/darya-ivanova.jpg' alt='Дарья Иванова' title='Дарья Иванова')
            a(href='#' onclick='show_online_record(248); return false;').btn.master-photo__btn Записаться
          +block-wrap({align: 'center'})
            +block-wrap__item(7,7,7,6)
              | Стилист<br>
              | Визажист<br>
              | Мастер по наращиванию
            +block-wrap__item(5,5,5,6)
              .master-experience Опыт работы
                div
                  strong 17
                  | лет
        +block-wrap__item(8,8,8,6)
          h2.small.nomargin-top Образование
          ul.list-marked
            li Gala studio - мастер по наращиванию волос - капсульная технология (2005 г.).
            li Hair tolk - мастер ленточного наращивания волос (2015 г.).
            li "On-line-salon"- голливудское наращивание (2016 г.).
            li Академия "Loreal" - колористика, женские стрижки  (2017 г.).
            li "StillStylist"-Индивидуальное обучение классическим мужским стрижкам (2017 г.).
            li Курсы повышения квалификации:
            li "Студия Крона" - вечерние, свадебные прически (2015 г.).
            li "Студия Крона"- визаж  (2015 г.).
          h2.small Опыт работы
          ul.list-marked
            li Студия загара "Golden brize"- мастер по наращиванию волос (2007-2009 гг.).
            li Салон красоты "Стиляги" (2009-2010 гг.).
            li "Hair Care Center" (2013 г.).
          h2.small Дополнительная информация
          p Наталья – всесторонне развитий и продвинутый мастер. В ее профессиональной копилке мощный микс современных знаний, полученных у ведущих преподавателей мировых брендов.
      h2.small Сертификаты
      include ../blocks/master-certificates/master-certificates
      -
        let certificates = [
          {image: '1'},
          {image: '1'},
          {image: '1'},
          {image: '1'},
          {image: '1'},
          {image: '1'}
        ]
      +masterCertificates(certificates)
      h2.small Работы
      include ../blocks/master-works/master-works
      -
        var works = [
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'},
          {'url':'/images/straightening/work-01','name':'Кератиновое выпрямление Greymy'}
        ]
      +masterWorks(works)
      h2.small Отзывы
      
