extends /blocks/layout/layout

block content
  .container
    .content
      h1 Мастера
      
      -
        var masters = [
          {'image':'darya-ivanova','name':'Дарья Иванова','activities':['Стилист','Визажист','Мастер по наращиванию'],'icon':'','link':'darya-ivanova' },
          {'image':'natalya-mihajlova','name':'Наталья Михайлова','activities':['Парикмахер-универсал'],'icon':'','link':'natalya-mihajlova' },
          {'image':'irina-bogdanova','name':'Ирина Богданова','activities':['Парикмахер-универсал'],'icon':'','link':'irina-bogdanova' },
          {'image':'ekaterina-smirnova','name':'Екатерина Смирнова','activities':['Парикмахер-универсал'],'icon':'scissors','link':'ekaterina-smirnova' },
        ]
  section.section.container
    .content
      +block-wrap({wrap:true}).home-masters
        each master in masters
          //- if master.icon
          //-   - var iconClass = 'home-masters__item_' + master.icon
          +block-wrap__item(3,3,3,3).home-masters__item(class= iconClass)
            figure
              .home-masters__image
                //- a(href='#home-master-description--'+master.link data-fancybox)
                img(src= '/images/' + master.image + '.jpg' alt= master.name title= master.name)
                a(href='#' onclick='show_online_record(248); return false;').btn.home-masters__appointment Записаться
              figcaption
                .home-masters__title !{master.name}
                ul.home-masters__activities
                  each item in master.activities
                    li !{item}
                a(href='master.html').home-masters__link Подробнее
