extends /blocks/layout/layout

include ../blocks/articles-list/articles-list

block content
  .container
    .content
      h1 Новости
      -
        let list = [
          {name:'Красители и уходовые средства бренда L’Oreal', date:'02.08.2017'},
          {name:'Кератиновое выпрямление Cadiveu Cacau Brasil Keratin теперь и в Центре дизайна волос', date:'29.07.2017'},
          {name:'У нас появились новые услуги!', date:'03.04.2017'},
          {name:'Красители и уходовые средства бренда L’Oreal', date:'02.08.2017'},
          {name:'Кератиновое выпрямление Cadiveu Cacau Brasil Keratin теперь и в Центре дизайна волос', date:'29.07.2017'},
          {name:'Красители и уходовые средства бренда L’Oreal', date:'02.08.2017'},
          {name:'Кератиновое выпрямление Cadiveu Cacau Brasil Keratin теперь и в Центре дизайна волос', date:'29.07.2017'},
          {name:'У нас появились новые услуги!', date:'03.04.2017'},
          {name:'Красители и уходовые средства бренда L’Oreal', date:'02.08.2017'},
          {name:'Кератиновое выпрямление Cadiveu Cacau Brasil Keratin теперь и в Центре дизайна волос', date:'29.07.2017'}
        ]
      +articlesList(list)
      include ../blocks/pagination/pagination
