extends /blocks/layout/layout

block content
  .container
    .content
      h1 Цены
      -
        let anchors = [
          {name:'Стрижка',link:'#'},
          {name:'Прическа',link:'#'},
          {name:'Окрашивание',link:'#'},
          {name:'Укладка',link:'#'},
          {name:'Выпрямление волос',link:'#', active: true},
          {name:'Завивка волос',link:'#'},
          {name:'Наращивание волос',link:'#'},
          {name:'Уход, лечение и диагностика',link:'#'},
          {name:'Визаж',link:'#'},
          {name:'Брови и ресницы',link:'#'},
        ]
      +submenu(anchors)
      +block-wrap({wrap:true})
        +block-wrap__item(9,9,8,6)
          -
            var pricesPage = [
              {'isHeader':true,'header':'Стрижка',
                'cells': [],
                'clar':'test'
              },
              
              {'isPrice':true, 'isSubHeader':true,'header':{cont:'Стрижка женская с укладкой', clar: 'В стоимость стрижки входит мытье головы'},
                'cells': []
              },
              {
                'header':{cont: 'короткие волосы', clar: 'до 10 см'},
                'cells':[3000]
              },
              {
                'header':'волосы средней длины',
                'cells':[4000]
              },
              {
                'header':'длинные волосы',
                'cells':[5000]
              },
              {
                'isSubHeader': true,
                'header':'Стрижка горячими ножницами (придание формы)',
                'cells':[],
                'discount':true
              },
              {
                'header':{cont: 'короткие волосы', clar: 'до 10 см'},
                'cells':[{discount: true, old:1900, new:1700}]
              },
              {
                'header':'волосы средней длины',
                'cells':[2200]
              },
              {
                'header':'длинные волосы',
                'cells':[2400]
              },
              
              {'isPrice':true, 'isSubHeader':true,'header':'Мужская стрижка',
                'cells': ['700']
              },
              {
                'header':'Сложная модельная стрижка',
                'cells':[1000]
              },
              {'isHeader':true,'header':{cont:'Выпрямление волос', clar: 'test'},
                'cells': []
              },
              {'isSubHeader':true,'header':'Кератиновое выпрямление Cadiveu Brasilian Cacau',
                'cells': []
              },
              {
                'header':'короткие волосы',
                'cells':[4800]
              },
              {
                'header':'волосы средней длины',
                'cells':[5500]
              },
              {
                'header':'длинные волосы',
                'cells':[6600]
              },
              {'isSubHeader':true,'header':'Кератиновое выпрямление Cadiveu Brasilian Cacau',
                'cells': []
              },
              {
                'header':'короткие волосы',
                'cells':[5500]
              },
              {
                'header':'волосы средней длины',
                'cells':[7000]
              },
              {
                'header':'длинные волосы',
                'cells':[8500]
              },
              {'isHeader':true,'header':'Окрашивание волос',
                'cells': []
              },
              {'isSubHeader':true,'header':'Окрашивание в один тон',
                'cells': [' Essex','Deluxe sense','Loreal']
              },
              {
                'header':'короткие волосы',
                'cells':[1700, 1900, 4800]
              },
              {
                'header':'волосы средней длины',
                'cells':[2100, 2400, 5700]
              },
              {
                'header':'длинные волосы',
                'cells':[3000, 3300, 7300]
              },
              {'isSubHeader':true,'header':'Креативное окрашивание - 2D/3D',
                'cells': [' Essex','Deluxe sense','Loreal'],
                'clar':'test'
              },
              {
                'header':'короткие волосы',
                'cells':[3000, 3500, 6500]
              },
              {
                'header':'волосы средней длины',
                'cells':[3300, 4300, 7500]
              },
              {
                'header':'длинные волосы',
                'cells':[3700, 4700, 8500]
              },
              {'isSubHeader':true,'header':'Экспресс- тонирование',
                'cells': [' Essex','Deluxe sense','Loreal']
              },
              {
                'header':'короткие волосы',
                'cells':[1600, 1700, 4800]
              },
              {
                'header':'волосы средней длины',
                'cells':[2000, 2100, 5700]
              },
              {
                'header':'длинные волосы',
                'cells':[2800, 3000, 7300]
              },
              {'isSubHeader':true,'header':'Окрашивание корней',
                'cells': []
              },
              {
                'header':'Essex',
                'cells':[1900]
              },
              {
                'header':'Loreal',
                'cells':[4800]
              },
              {
                'hasSep':true,'isSubHeader':true,'header':'Смывка',
                'cells': ['Deluxe sense','Loreal']
              },
              {
                'header':'короткие волосы',
                'cells':[3000, 5000]
              },
              {
                'header':'волосы средней длины',
                'cells':[4000, 6000]
              },
              {
                'header':'длинные волосы',
                'cells':[5000, 7000]
              },
            ]
          //- h2.small Окрашивание
          +pricesTable(pricesPage,{block:false})
        +block-wrap__item(3,3,4,6)
