extends /blocks/layout/layout

block head
  - var pageTitle = 'Уход, лечение и диагностика волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Макияж','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'make-up'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Макияж'})
      .page-block
        p Визажисты Hair Care Center имеют профессиональное образование в&nbsp;ведущих школах Санкт-Петербурга.
        p В&nbsp;нашем салоне выполняют макияж любой сложности:
        +serviceTypes([
          {image:'',title:'Дневной/бизнес макияж'},
          {image:'',title:'Вечерний макияж'},
          {image:'',title:'Свадебный макияж'},
        ],{centered: true})
        p При выполнении макияжа специалист использует только качественную и&nbsp;стойкую профессиональную косметику ведущего мирового бренда 
          strong Make up&nbsp;store.

        p Мы&nbsp;сможем подобрать идеальный макияж для вашей внешности.
        p Подберем образ и&nbsp;цветовую гамму макияжа, с&nbsp;учетом тематики торжества, цветотипа, особенностей кожи, волос и&nbsp;пожеланий клиента.

        p В&nbsp;важный день вы&nbsp;будете неотразимы. 
        .block-marked-arrow
          h3 Индивидуальный подход
          p Подчеркнем привлекательность, нивелируем недостатки
        .block-marked-arrow
          h3 Профессиональная косметика
          p Качество, разнообразие цветовой палитры, насыщенность оттенков, повышенная стойкость, гипоаллергенность.
        .block-marked-arrow
          h3 Учет специфики условий
          p В&nbsp;разном освещении лицо выглядит по&nbsp;разному. Подберем макияж в&nbsp;зависимости от&nbsp;условий, в&nbsp;которых вы&nbsp;собираетесь его носить.
