extends /blocks/layout/layout



block content
  .container
    .content
      h1 Задать вопрос консультанту
      +block-wrap({wrap:true})
        +block-wrap__item(7,7,8,6)
          include ../../blocks/consultation-form/consultation-form
        +block-wrap__item(5,5,4,6)
          p Ответим на все вопросы.
          p Обычно отвечаем в течение дня.
          p Но если мы сильно загружены, придется подождать пару дней.
          p В любом случае ответ пришлем на вашу почту.
