extends /blocks/layout/layout

include ../../blocks/consultation-list/consultation-list

block content
  .container
    .content
      h1 Консультация
      +block-wrap({wrap:true})
        +block-wrap__item(9,9,9,6)
          include ../../blocks/consultation-banner/consultation-banner
          -
            let consList = [
              {
                title:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                question:'Здравствуйте! Возможно мне будет нужен парик после химии (возможно и нет), но хочу подстраховаться, чтобы лысой не ходить. На данный момент у меня волосы длиной 35-40 см от нижней части волосяного покрова (крашеные). Возможно ли сделать парик из моих же волос и соответственно стрижку на нём? У меня ещё есть коса моих же натуральных волос из юности (некрашеные) длиной около 40 см. Цена вопроса и время изготовления? Прошу ответить в ближайшее время - Вы же понимаете трагичность ситуации.... С уважением, Лариса.',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015',
              },
              {
                title:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015',
              },
              {
                title:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                question:'Здравствуйте! Возможно мне будет нужен парик после химии (возможно и нет), но хочу подстраховаться, чтобы лысой не ходить. На данный момент у меня волосы длиной 35-40 см от нижней части волосяного покрова (крашеные). Возможно ли сделать парик из моих же волос и соответственно стрижку на нём? У меня ещё есть коса моих же натуральных волос из юности (некрашеные) длиной около 40 см. Цена вопроса и время изготовления? Прошу ответить в ближайшее время - Вы же понимаете трагичность ситуации.... С уважением, Лариса.',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015',
              },
              {
                title:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                question:'Здравствуйте! Возможно мне будет нужен парик после химии (возможно и нет), но хочу подстраховаться, чтобы лысой не ходить. На данный момент у меня волосы длиной 35-40 см от нижней части волосяного покрова (крашеные). Возможно ли сделать парик из моих же волос и соответственно стрижку на нём? У меня ещё есть коса моих же натуральных волос из юности (некрашеные) длиной около 40 см. Цена вопроса и время изготовления? Прошу ответить в ближайшее время - Вы же понимаете трагичность ситуации.... С уважением, Лариса.',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015',
              },
              {
                title:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                question:'Здравствуйте! Возможно мне будет нужен парик после химии (возможно и нет), но хочу подстраховаться, чтобы лысой не ходить. На данный момент у меня волосы длиной 35-40 см от нижней части волосяного покрова (крашеные). Возможно ли сделать парик из моих же волос и соответственно стрижку на нём? У меня ещё есть коса моих же натуральных волос из юности (некрашеные) длиной около 40 см. Цена вопроса и время изготовления? Прошу ответить в ближайшее время - Вы же понимаете трагичность ситуации.... С уважением, Лариса.',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015',
              }
            ]
          +consultation-list(consList)
          include ../../blocks/pagination/pagination
        +block-wrap__item(3,3,3,6)
          -
            let menu = [
              {name:'О структуре парика', href:'/', count: 48},
              {name:'Образ жизни с париком', href:'/', count: 31},
              {name:'Образ жизни с париком', href:'/', count: 122},
              {name:'Образ жизни с париком', href:'/', count: 1},
            ]
          +aside-header('Категории')
          +aside-menu(menu)
