extends /blocks/layout/layout

include ../../blocks/consultation-list/consultation-list
include ../../blocks/consultation-question/consultation-question
include ../../blocks/consultation-answer/consultation-answer
include ../../blocks/consultation-similar/consultation-similar

block content
  .container
    .content
      h1 Консультация
      +block-wrap({wrap:true})
        +block-wrap__item(9,9,9,6)
          -
            let question = 
              {
                header:'Возможно сделать парик из моих волос и соответственно стрижку к ним?',
                question:'Здравствуйте! Возможно мне будет нужен парик после химии (возможно и нет), но хочу подстраховаться, чтобы лысой не ходить. На данный момент у меня волосы длиной 35-40 см от нижней части волосяного покрова (крашеные). Возможно ли сделать парик из моих же волос и соответственно стрижку на нём? У меня ещё есть коса моих же натуральных волос из юности (некрашеные) длиной около 40 см. Цена вопроса и время изготовления? Прошу ответить в ближайшее время - Вы же понимаете трагичность ситуации.... С уважением, Лариса.',
                name:'Лариса',
                city:'Санкт-Петербург',
                date:'10.05.2015'
              } 
          +consultation-question(question)
          -
            let answer = 
              {
                answer:[
                  'Здравствуйте, Лариса.',
                  'Мы занимаемся изготовлением париков из натуральных волос, но из своих материалов, чтобы мы могли гарантировать высокое качество продукции. Мы изготовим парик нужного Вам цвета, мы сможем сделать его того же цвета, что и Ваши собственные волосы, придать необходимую длину и стрижку, чтобы потом, когда будете его носить, не было отличия и Вы ощущали себя комфортно.',
                  'По срокам изготовления и стоимости Вам смогут подсказать наши специалисты, задав все уточняющие вопросы. Напишите, пожалуйста, свой вопрос на эл. почту: maill@hairdesign.ru, также можете оставить заявку на обратный звонок и наши специалисты свяжутся с Вами, или обращайтесь к нам по тел.: (812) 386-11-62, (812) 714-61-57, (921) 571-01-24. Мы работаем ежедневно с 10 до 21.',
                  'Обращайтесь, мы будем рады Вам оперативно помочь!'
                ],
                name:'Ольга, директор центра',
                photo: '/images/leytes.jpg',
                category: 'изготовление парика'
              }
          +consultation-answer(answer)
          -
            let similar = question
            similar.title = similar.header
            similar.header = undefined
          +consultation-similar([similar,similar])
          include ../../blocks/consultation-banner/consultation-banner
        +block-wrap__item(3,3,3,6)
          -
            let menu = [
              {name:'О структуре парика', href:'/', count: 48, active: true},
              {name:'Образ жизни с париком', href:'/', count: 31},
              {name:'Образ жизни с париком', href:'/', count: 122},
              {name:'Образ жизни с париком', href:'/', count: 1},
            ]
          +aside-header('Категории')
          +aside-menu(menu)
