extends /blocks/layout/layout



block content
  .container
    .content
      +block-wrap({wrap:true, justify:'center'})
        +block-wrap__item(6,6,6,6)(style='text-align: center; margin-bottom: 1.5rem')
          h1 Вопрос отправлен
          p Вопрос отправлен, в течение рабочего дня ответим на него. Ответ появится на сайте в разделе "Консультация".
          p Если вы указали e-mail, отправим письмо с ответом. Если оставили телефон, позвоним и проконсультируем.
          p Можете не ждать ответа и позвонить 8 (812) 386 -11-62
            | <br>Работаем ежедневно с 10 до 21 (Санкт-Петербург)
