.before-after
  &__item
    margin-bottom 1.5rem
    img
      display block
  &__description
    font-weight bold
    font-family 'Playfair Display', serif
    margin-top 0.75rem
    text-align center
