extends /blocks/layout/layout

block head
  - var pageTitle = 'Стрижка'
block content
  .inner-page.container
    .content
      +page-header({'name':'Стрижка','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Стрижка'})
      .page-block
        p Стрижка для нас&nbsp;&mdash; не&nbsp;шаблонное выполнение срезов, придание формы и&nbsp;объема. Нам важно создать такую стрижку, которая подчеркнет сильные стороны внешности, эффектно замаскирует недостатки. 
        p Для этого мы&nbsp;учитываем все, что важно:
        ul.list-marked
          li длину волос,
          li их&nbsp;состояние, оттенок, структуру,
          li возраст,
          li анатомические данные: форму профиля, головы, лица, ширину плеч, длину шеи, конституцию и&nbsp;рост.
      .page-block
        h2.page-subheader Ответим на&nbsp;вопросы, выслушаем и&nbsp;поймем желания
        p Мастера Haircare Center помогут выбрать именно вашу стрижку. На&nbsp;консультации, выслушав ваши пожелания, сообщим нюансы и&nbsp;дадим рекомендации по&nbsp;укладке и&nbsp;окрашиванию. Часто добавить ярких акцентов прическе позволяет именно удачно подобранный цвет.
      .page-block
        h2.page-subheader Виды стрижек
        -
          let listIllustrated = [
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Женские стрижки</h3>
                <p>Наши мастера&nbsp;&mdash; тонкие психологи: чувствуя настроение клиенток, создают удачные образы. Могут выполнить стрижки любой сложности на&nbsp;короткие, средние и&nbsp;длинные волосы. Каждая стрижка&nbsp;&mdash; поистине шедевр, неповторимый и&nbsp;эффектный. Достигаем этого благодаря:</p>
                <ol class='list-numbered'>
                  <li>Современным техникам стрижек: Vidal Sassoon, Pivot Point, Tony &amp;&nbsp;Guy.</li>
                  <li>Профессиональным инструментам ведущих брендов: Oster, Jaguar.</li>
                  <li>Эффективному способу улучшения структуры волос: проводим стрижку горячими ножницами.</li>
                  <li>Визуализации вашей прически мечты: рисуем на&nbsp;бумаге будущий результат.</li>
                  <li>Применению современных приемов стрижки: филировка бритвой, поинтинг, слайсинг, чиппинг, поинтирование, прямой срез, пойнткат.</li>
                </ol>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Мужские стрижки</h3>
                <p>Мастера создадут стрижку, которая поможет мужчине найти индивидуальный стиль, подарит комфорт и&nbsp;уверенность. Ведь в&nbsp;первую очередь именно на&nbsp;стрижку обращают внимание женщины, оценивая внешность мужчины. </p>
                <p>Мастер, работающий над каждой мужской стрижкой, воплощает в&nbsp;ней естественность, практичность и&nbsp;индивидуальность&nbsp;&mdash; незыблемые принципы красоты. Подчеркивает образ и&nbsp;стиль жизни, характер мужчины. </p>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Стрижка горячими ножницами</h3>
                <p>Мастера проведут стрижку горячими ножницами&nbsp;&mdash; улучшат структуру волос, помогут справиться с&nbsp;сухостью и&nbsp;секущимися кончиками. Срезы, сделанные нагретым инструментом, запаивают кончики, предотвращают вымывание полезных веществ. Проводите стрижку горячими ножницами регулярно, чтобы увеличить густоту волос, придать им&nbsp;здоровый и&nbsp;ухоженный вид.</p>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Стрижка челки</h3>
                <p>Парикмахеры не&nbsp;просто укоротят длину челки, а&nbsp;подберут эффектный вариант именно для вас. Популярные варианты: косая, градуированная, прямая, рваная, удлиненная, короткая, челка-занавес помогут красиво подчеркнуть достоинства вашей внешности, уравновесить пропорции лица.</p>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Стрижка бороды</h3>
                <p>Красиво оформленная борода придает стиль, мужественность, привносит в&nbsp;образ легкие нотки брутальности, которые так нравятся женщинам. Чтобы борода всегда была в&nbsp;порядке, работала на&nbsp;пользу вашему имиджу, важно поддерживать ее&nbsp;вид в&nbsp;безупречном состоянии. Вы&nbsp;можете доверить эту ответственную задачу нашим барберам, которые в&nbsp;совершенстве владеют навыками искусной стрижки бороды.</p>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Стрижка усов</h3>
                <p>Усы&nbsp;&mdash; составляющая модного образа мужчины. Они делают внешность выразительнее, оставаясь актуальным трендом многие годы. Мастера нашего салона умело проведут коррекцию и&nbsp;моделирование усов, придадут им&nbsp;нужную длину и&nbsp;форму.</p>
              `
            },
            {
              className: '',
              image: {
                src:'/images/feedback-2.jpg',
                alt:''
              },
              body: `
                <h3>Креативная стрижка</h3>
                <p>Креативная стрижка&nbsp;&mdash; самое настоящее произведение парикмахерского искусства. Смелые срезы, эффектная форма, яркие оттенки, удачная структура, и&nbsp;вот ваш образ изменяется до&nbsp;неузнаваемости! Если вы&nbsp;давно хотели кардинально новый имидж, то&nbsp;настало время для перемен: ждем вас в&nbsp;нашем салоне.</p>
              `
            },
          ]
        +listIllustrated(listIllustrated)
      .page-block#page-prices
        h2.page-subheader Услуги и цены
        -
          var obj = [
            {'isHeader':true,'header':
              {'cont':'Услуги и цены','clar':''},
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {
              'header':{
                'cont':'Стрижка женская с укладкой','clar':'В стоимость стрижки входит мытье головы'
              },
              'cells':['1200','1400','1800']
            },
            {
              'header':'Стрижка горячими ножницами (придание формы)',
              'cells':['1900','2200','2400'],
              'discount':true
            },
            {'isSubHeader':true,'header':'Стрижка горячими ножницами (лечебная)',
              'cells': [2400], 'hasSep': true
            },
            {'isSubHeader':true,'header':'Стрижка мужская модельная',
                'cells': [700]
            },
            {
              'header':'Сложная модельная стрижка',
              'cells':[1000]
            },
            {'isSubHeader':true,'header':'Стрижка челки / бороды / усов',
              'cells': [500]
            },
          ]
        +pricesTable(obj)
