.consultation-form
  padding 1.5rem
  margin-bottom 1.5rem
  background-color #fdf6f2
  &__row
    display flex
    margin-bottom 0.75rem
    margin-left -0.375rem
    margin-right -0.375rem
    flex-direction column
    &--agreement
      align-items baseline
      flex-direction row
      & ^[-2]__input
        flex-grow 0
        flex-shrink 0
        display flex
        align-items center
      & ^[-2]__label
        label
          font-weight normal
    &--submit
      margin-bottom 0
      align-items center
  &__input
    flex-grow 1
    margin-left 0.375rem
    margin-right 0.375rem
    input:not([type='checkbox'])
      width 100%
      line-height 1.5rem
      height 2rem
    textarea
      width 100%
      line-height 1.5rem
  &__label
    // flex 0 0 12rem
    margin-left 0.375rem
    margin-right 0.375rem
    margin-bottom 0.25rem
    label
      font-weight bold
  &__sublabel
    display block
    font-size 0.75rem
    font-weight normal
