.consultation-form
  .consultation-form__row
    .consultation-form__label
      label(for='consultation-form__question') Вопрос
    .consultation-form__input
      textarea(required)#consultation-form__question
  .consultation-form__row
    .consultation-form__label
      label(for='consultation-form__name') Имя
    .consultation-form__input
      input(type='text' required)#consultation-form__name
  .consultation-form__row
    .consultation-form__label
      label(for='consultation-form__email') E-mail
        span.consultation-form__sublabel Не публикуем на сайте. На e-mail отправим ответ
    .consultation-form__input
      input(type='email' required)#consultation-form__email
  .consultation-form__row
    .consultation-form__label
      label(for='consultation-form__tel') Телефон
        span.consultation-form__sublabel Не публикуем на сайте. Позвоним чтобы проконсультровать.
    .consultation-form__input
      input(type='tel' required)#consultation-form__tel
  .consultation-form__row
    .consultation-form__label
      label(for='consultation-form__city') Город
    .consultation-form__input
      input(type='text' required)#consultation-form__city
  .consultation-form__row.consultation-form__row--agreement
    .consultation-form__input
      input(type='checkbox' required checked)#consultation-form__agreement
    .consultation-form__label
      label(for='consultation-form__agreement') Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.
  .consultation-form__row.consultation-form__row--submit
    button(type='submit').btn Отправить вопрос
