.consultation-similar
  margin-bottom 1.5rem
  &__item
    margin-bottom 0.75rem
  &__title
    margin-bottom 0.5rem
  &__info
    display flex
    align-items baseline
    color #7c776c
    font-size 0.75rem
  &__author
    margin-right 1.5rem
  &__name
  &__city
    display inline-block
