mixin consultation-similar(list)
  .consultation-similar
    h2.consultation-similar__header Похожие вопросы
    each item in list
      .consultation-similar__item
        .consultation-similar__title
          a(href='') !{item.title}
        .consultation-similar__info
          .consultation-similar__author
            .consultation-similar__name !{item.name},
            .consultation-similar__city !{item.city}
          .consultation-similar__date !{item.date}
