
mixin works(object, settings = {noHeader:false})
  +block-wrap({'wrap':true}).page-works#page-works
    if settings.noHeader != true
      +block-wrap__item(12,12,12,6)
        h2.page-subheader Наши работы
    each item in object
      +block-wrap__item(3,3,3,3).page-works__item
        figure
          img(src= item.url + '.jpg' alt= item.name)
          figcaption
            .page-works__title !{item.name}
            if item.price
              .page-works__price !{item.price} 
    //- +block-wrap__item(12,12,12,6).page-works__more
    //-   a(href='#') Посмотреть еще 9 работ из 30 оставшихся
