mixin masterWorks(list)
  //- +block-wrap({wrap:true}).master-works
  //-   each item in list
  //-     +block-wrap__item(3,3,3,3).master-works__item
  //-       figure
  //-         img(src= item.url + '.jpg' alt= item.name)
  //-         figcaption
  //-           .master-works__title !{item.name}
  //-           if item.price
  //-             .master-works__price !{item.price} 
  //-   +block-wrap__item(12,12,12,6).master-works__more
  //-     a(href='#') Больше работ
  +block-wrap({wrap:true}).master-works
    - let i = 0
    while i < 4
      - let item = list[i]
      +block-wrap__item(3,3,3,3).master-works__item
        figure
          img(src= item.url + '.jpg' alt= item.name)
          figcaption
            if item.name
              .master-works__title !{item.name}
            if item.price
              .master-works__price !{item.price}
      - i++
    if list.length > 4
      +block-wrap__item(12,12,12,6)
        a(href='#') Больше работ
