.discount
  display flex
  flex-direction column
  align-items center
  > *
    width 100%
  &__body
    display flex
    flex-direction column
    // max-width 51rem
    > p
      width 100%
      // max-width 51rem
      // align-self center
    >h2
      max-width none
    > p
      margin-top 0
  &__masters
    // @extends .discount__body
    margin-bottom 1.5rem
    .home-masters
      // max-width 70rem
      margin-top 0.5rem
  &__works
    margin-bottom 1.5rem
    // @extends .discount__body
    h2
      // max-width 42.5rem
    .page-works
      // max-width 51rem
      margin-top 0.5rem
  &__subheader
    text-align center
