.top-menu
  width 100%
  background-color #efefef
  padding-top 0.25rem
  &__list
    display flex
    margin-left -0.25rem
  &__item
    flex 1 1 20%
    margin-left 0.25rem
    font-size 0.75rem
    line-height 1rem
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 0.25rem
      padding 0.25rem 0.5rem
      text-decoration none
      color #5d5d5d
      background-color #fcfcfc
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
        background-repeat no-repeat
    &:first-of-type
      a::after
        width 52px
        height 37px
        background-image url('../images/other-activities/1.png')
    &:nth-of-type(2)
      .a-repl::after
        width 23px
        height 30px
        background-image url('../images/other-activities/2.png')
    &:nth-of-type(3)
      a::after
        width 52px
        height 37px
        background-image url('../images/other-activities/3.png')
    &:nth-of-type(4)
      a::after
        width 14px
        height 35px
        background-image url('../images/other-activities/4.png')
    &:nth-of-type(5)
      a::after
        content ''
        width 29px
        height 37px
        background-image url('../images/other-activities/5.png')
    &_active
      background-color #fff
      a
      .a-repl
        background-color transparent
        span
          font-weight bold
    &:hover
      background-color #fff
      a
      .a-repl
        background-color transparent
