nav.top-menu.container.s-hidden
  .content
    ul.top-menu__list
      li.top-menu__item
        a(href='http://www.hairdesign.ru/')
          span Замещение волос
      li.top-menu__item.top-menu__item_active
        .a-repl
          span Салон красоты
      li.top-menu__item
        a(href='http://www.vsepariki.com')
          span Парики, накладки и<br>головные уборы
      li.top-menu__item
        a(href='http://triholog.org/')
          span Лечебная косметика<br>для волос
      li.top-menu__item
        a(href='http://zagustitelvolos.com')
          span Загустители волос<br>Toppik
