-
  var reviews = [
    {
      "topic":"Видеоотзыв от Анны Кудимовой из \"Дома-2\"",
      'src':'http://www.salonvolos.spb.ru/upload/medialibrary/d4d/d4da1d90252174c38c0f02d8f2e9e451.png'
    },
    {
      "topic":"Видеоотзыв от Анны Кручининой из \"Дома-2\"",
      'src':'http://www.salonvolos.spb.ru/upload/medialibrary/039/03961dfa496062dc922dd0fb70d09cb4.png'
    },
    {
      "topic":"Видеоотзыв от Кати Крупской",
      'src':'http://www.salonvolos.spb.ru/upload/medialibrary/744/7444e7637f6edffb5a6366d527481d62.png'
    }
  ]
.hair-extention-reviews
  h2.page-subheader Отзывы клиенток
  each review in reviews
    .hair-extention-review
      .hair-extention-review__title !{review.topic}
      .plain-text: img(src != review.src alt != review.topic)
      p.hair-extention-review__source: a(href='') Отзыв оставлен на проекте zoon.ru
