.hair-extention-review
  padding 0.75rem
  margin-bottom 1.5rem
  line-height 1.5rem
  color #423231
  background-color #fcfcfc
  border 1px solid #dbdbdb
  &__title
    font-size 1.25rem
    line-height 1.875rem
    font-weight bold
    margin-bottom 0.75rem
    font-style italic
    font-family 'Playfair Display', serif
  &__source
    font-size .875rem
