.aside-menu
  &__item
    text-transform uppercase
    margin-bottom 0.5rem
  &__item-body
    display flex
    align-items baseline
    & > a
      color #1a1a1a
      font-weight 500
      text-decoration none
      font-size 0.75rem
      margin-right auto
      border-bottom 1px solid transparent
      &:hover
        color #1a1a1a
        border-bottom 1px solid #b6002e
    &--active
      & > a
        border-bottom 1px solid #b6002e
  &__count
    font-size 0.75rem
    
.aside-submenu
  text-transform none
  border-left 0.5px solid #f1f1f1
  padding-left 0.5rem
  margin 0.5rem 0
  display flex
  flex-direction column
  &__item
    margin-bottom 0.25rem
    line-height 1rem
  a
    color #1a1a1a
    font-size 0.75rem
    line-height 0.75rem
    text-decoration none
