mixin aside-menu(items = {})

  ul.aside-menu
    each item in items
      if item.active
        li.aside-menu__item.aside-menu__item--active.aside-menu__item--parent
          span.aside-menu__item-body
            a(href= item.href) !{item.name}
            if item.count
              span.aside-menu__count !{item.count}
          if item.sub
            ul.aside-submenu
              each itemsub in item.sub
                li.aside-submenu__item
                  a(href= itemsub.href) !{itemsub.name}
      else 
        li.aside-menu__item.aside-menu__item--parent
          span.aside-menu__item-body
            a(href= item.href) !{item.name}
            if item.count
              span.aside-menu__count !{item.count}
          if item.sub
            ul.aside-submenu
              each itemsub in item.sub
                li.aside-submenu__item
                  a(href= itemsub.href) !{itemsub.name}
          
