extends /blocks/layout/layout

block head
  - var pageTitle = 'Ламинирование волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Ламинирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      //- +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Это специальное покрытие поверхности волоса, благодаря которому волосы утолщаются, приобретают 
          strong гладкость и блеск
          | . Это не только 
          strong безопасная
          | , но и полезная для волос процедура.
      .page-block
        +block-wrap({'wrap':'wrap'})
          +block-wrap__item(8,8,8,6)
            h2.small Что даст процедура?
            p Процедура дает возможность сразу же оценить полученный эффект. Основные преимущества следующие.
            ul.list-marked
              li волосы прямые, гладкие, сияющие
              li имеют восстановленную и укрепленную структуру
              li приобретают дополнительный объем
              li получают защиту от факторов внешней среды и тепловых/механических повреждений стайлинговых средств и инструментов
              li сохраняют интенсивность и яркость оттенка, поэтому лучше делать процедуру сразу же после окрашивания
          +block-wrap__item(4,4,4,6)
            .gallery
              .gallery__item
                figure
                  img(src='/images/lamination/lamination-before.jpg')
                  figcaption до
              .gallery__item
                figure
                  img(src='/images/lamination/lamination-after.jpg')
                  figcaption после
          +block-wrap__item(6,6,8,6)
            h2.small Кому необходима?
            ul.list-marked
              li поврежденные волосы с пористой структурой
              li сухость и ломкость прядей
              li тусклый и безжизненный вид волос
              li частое воздействие процедур окрашивания, мелирования, сушки феном и выравнивания утюжком
              li секущиеся кончики
              li тонкие пряди и недостаточный объем волос
      .page-block
        h2.page-subheader Почему ламинирование волос стоит сделать у нас?
        +block-wrap({'wrap':true})
          +block-wrap__item(6,6,6,6).block-marked-arrow Используем исключительно оригинальные косметические препараты
          +block-wrap__item(6,6,6,6).block-marked-arrow Все средства гипоаллергенны и эффективны
          +block-wrap__item(6,6,6,6).block-marked-arrow Выполняем услугу строго по технологии
      .page-block
        +block-marked().block-marked--big
          p Ламинирование волос в нашем салоне красоты осуществляется в несколько этапов, занимает 
            strong не&nbsp;более&nbsp;часа
            | .
      .page-block
        h2.page-subheader Процесс
        +block-wrap({'wrap':true})
          +block-wrap__item(9,9,8,6)
            -
              var list = [
                {'desc':[
                  'Перед проведением работ мы <strong>проведем диагностику структуры волос</strong>, оценим состояние волос и определим баланс влажности.',
                  'Расскажем, какой <strong>результат</strong> получится в итоге, ответим на все интересующие вопросы.',
                  'В зависимости от состояния и типа волос определим количество используемого средства.',
                ]},
                {'desc':[
                  'Подготовим волосы к процедуре, вымоем их профессиональным шампунем. Нанесем восстанавливающую маску, что позволит волоскам <strong>увлажниться и напитаться</strong> перед запечатыванием.'
                ]},
                {'desc':[
                  'После мытья головы попрядно нанесем 3Д-гель «Estel iNeo-Crystal». Когда все пряди будут обработаны, соберем их зажимом, обернем голову плёнкой или наденем специальную шапочку. Время выдержки составляет около 15-20 минут при воздействии тепла (фен или сушуар). После чего смоем состав тёплой водой и просушим локоны.'
                ]},
                {'desc':[
                  'Далее применении лосьона-закрепитель: распределим состав по всей длине волос.',
                  'Потом используем полирующую сыворотку «<strong>Estel iNeo-Crystal</strong>».'
                ]},
                {'desc':[
                  '<strong>Подберем</strong> средства для питания и очищения, предложим дополнительные восстановительные процедуры. После процедуры <strong>дадим рекомендации по уходу</strong> за волосами и косметике для поддержания красоты волос, продление эффекта ламинирования. Потребуется специальная косметика, которую также можно купить в нашем салоне.',
                ]},
              ]
            +howWeWork(list, {'type':'text'})
          +block-wrap__item(3,3,4,6)
            img(src='/images/lamination/lamination-process.jpg' alt='Процесс ламинирования волос' title='Процесс ламинирования волос')
      .page-block
        h2.page-subheader Ламинирование &laquo;восстановление цвета&raquo;
        +block-marked({'color':'green'}).block-marked--big
          p Для защиты цвета предложим услугу &laquo;Ламинирование &bdquo;восстановление цвета&ldquo;&raquo;.
        p Выполняется при помощи американского средства "back2natural".
        p Солнце - естественный враг цвета волос. Оно будет изменять ваш цвет намного быстрее, чем вы думаете.
        +block-wrap({'wrap':'wrap'})
          +block-wrap__item(3,3,4,6)
            img(src='/images/lamination/back-2-natural.jpg' alt='Back 2 Natural' title='Back 2 Natural')
          +block-wrap__item(9,9,8,6)
            p
              strong Back2Natural
              |  - это не краситель, а кондиционер для восстановления цвета.
            ul.list-marked
              li Он буквально смывает неестественные красные и желтые тона, вызванные солнцем.
              li Вернет естественный цвет волос оставляя ваши волосы свежими и здоровыми.
              li Безопасен, не содержит сульфатов!
            p Эффект от процедуры сохраняется в течение 
              strong двух недель.
            p Стоимость - 2000 рублей.
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {'isSubHeader':true,'header':'Estel Professional',
              'cells': []
            },
            {
              'header':{
                cont:'Ламинирование «Восстановление цвета» (прибавляется к стоимости окрашивания в один тон)',
                clar:'Эта процедура делается красителем Estel Deluxe + Активатор Estel , затем волос обрабатывается маской Estel питание и блеск'
              },
              'cells':[600, 800, 1000]
            },
            {'isSubHeader':true,'header':'LOreal Professionnel',
              'cells': []
            },
            {
              'header':{cont:'Ламинирование волос «Восстановление цвета»', clar:'Эта процедура делается красителем DIA LIGHT + Dia проявитель, затем волос обрабатывается маской Mithik Oil'},
              'cells':[4800, 5700, 7300]
            }
          ]
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
