.consultation-item
  .consultation-list > &
    margin-bottom 1.5rem
  &__header
    font-size 1.25rem
    line-height 1.5rem
    margin-top 0
  &__title
    font-weight bold
    font-size 1.125rem
    margin-bottom 0.5rem
    a
      text-decoration none
  &__body
    display flex
    margin -0.75rem
    @media screen and (max-width 768px)
      flex-wrap wrap
  &__question
    margin 0.75rem
    @extends p
    margin-bottom 0
  &__info
    margin 0.75rem
    flex 0 0 10rem
    &:only-child
      flex 0 0 auto
      & ^[-2]__author > *
        display inline-block
    & ^[-1]__author
      margin-bottom 0.25rem
    & ^[-1]__date
      font-size 0.75rem
      color #7c776c
  &__more
    margin-top 0.5rem
    
