mixin consultation-list(list)
  .consultation-list
    each item in list
      +consultation-item(item)
 
mixin consultation-item(item)
  .consultation-item
    if item.header
      h1.consultation-item__header
        a(href='/') !{item.header}
    if item.title && !item.header
      h2.consultation-item__title
        a(href='/') !{item.title}
    .consultation-item__body
      if item.question
        .consultation-item__question !{item.question}
      .consultation-item__info
        .consultation-item__author
          .consultation-item__name !{item.name},
          .consultation-item__city !{item.city}
        .consultation-item__date !{item.date}
    if (item.readmore) || (item.readmore == undefined)
      .consultation-item__more
        a(href='') Читать ответ
