mixin pageServices(list)
  +block-wrap({'wrap':true,'justify':'center'}).page-services
    each item in list
      - 
        var color = ''
        var itemClass = ''
      if item.color
        - color = item.color
      else
        - color = '#ffffff'
      if item.font
        - itemClass += ' page-services__item--'+item.font
      +block-wrap__item(4,4,6,6).page-services__item(class= itemClass style= '--background-color:'+ color)
        .page-services__title !{item.title}
        if item.brackets != 'none'
          .page-services__desc | !{item.desc} |
        else
          .page-services__desc !{item.desc}
        .page-services__price !{item.price}
        if item.dataName
          a(href='#hair-extention-sign' data-fancybox data-name != item.dataName).page-services__button.btn Записаться
