.page-services
  margin-bottom 0.75rem
  &__item
    padding 2rem
    display flex
    flex-direction column
    align-items center
    justify-content center
    text-align center
    --background-color #ffffff
    background-image radial-gradient(circle, #fff 3.75rem, var(--background-color) 3.75rem)
    background-color #e6f1f5
    &--small
      & ^[-2]__title
        font-size 1.25rem
  &__title
    font-size 2rem
    font-family 'Playfair Display', serif
    font-weight bold
    margin-bottom 0.75rem
  &__desc
    margin-bottom 0.375rem
  &__price
    font-size 1.5rem
  &__button
    margin-top .75rem
