mixin masterCertificates(list)
  +block-wrap({wrap:true}).master-certificates
    each item in list
      +block-wrap__item(2,2,4,3).master-certificates__item
        img(src= '/images/certificates/'+item.image+'.jpg')
  .master-certificates__more
    a(href='#') Больше сертификатов
