.prices-table
  display flex
  flex-direction column
  width 100%
  margin-bottom 1rem
  &__row
    display flex
    align-items flex-start
    flex-wrap wrap
    padding 0.25rem 0
    &--header
      background-color #ffffff
      align-items center
      text-transform uppercase
      &:not(:first-child)
        margin-top 2.5rem
      & ^[-2]__cell
        font-size 0.75rem
        &--title
          flex-grow 1
          font-family 'Playfair Display', serif
          font-size 1.125rem
          font-weight bold 
          @media screen and (max-width 768px)
            flex-basis 100%
            margin-bottom 0.5rem
    &--subheader
      align-items center
      text-transform uppercase
      ^[-1]--header + &
        margin-top 1rem
      & + &
        margin-top 0.5rem
      ^[-1]:not(^[-1]--header):not(^[-1]--subheader) + &
        margin-top 0.75rem
      & ^[-2]__cell
        &--title
          flex-grow 1
          font-weight bold 
          @media screen and (max-width 768px)
            flex-basis 100%
            margin-bottom 0.5rem
    &--big-price
      & ^[-2]__cell:not(^[-2]__cell--title)
        text-transform lowercase
    &:nth-of-type(2n):not(&--header):not(&--subheader)
      background-color #fafafa
    &:hover:not(&--header):not(&--subheader)
      background-color #f5f5f5
    &--sep
      border-top 2px solid #000000
      margin-top 0.5rem
      // padding .5rem 0
    &--discount
      &::before
        display block
        width 1rem
        background-image url('../images/scissors.png')
        background-repeat no-repeat
        // background-size contain
        background-position center left
        height 0.8rem
        margin-top 0.21rem
        align-self stretch
        content ''
        @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
          background-image url('../images/scissors@2x.png')
          background-size contain
  &__cell
    flex-basis 15%
    line-height 1.25rem
    @media screen and (max-width 768px)
      flex-basis 33%
    &--row-header
      flex-grow 1
      @media screen and (max-width 768px)
        flex-basis 100%
        margin-bottom 0.5rem
        & + ^[-1]:last-child
          flex-basis 100%
      ^[-2]__row--discount &
        text-decoration underline
    &--price-discount
      // display flex
      align-items baseline
      justify-content center
  &__old-price
    color #a7a7a7
    text-decoration line-through
    font-size 0.75rem
    margin-right 0.25rem
  &__new-price
    font-weight bold
  &__clarification
    font-size 0.75rem
    color #a7a7a7
    text-transform none
    line-height 1.25
