mixin pricesTable(obj, settings={block:true})
  if settings.block
    .prices-block
      .prices-table
        - var i = 1
        each row in obj
          - var rowClassList = 'prices-table__row'
          if row.isHeader
            - rowClassList += ' prices-table__row--header'
          if row.isSubHeader
            - rowClassList += ' prices-table__row--subheader'
            if row.isPrice
              - rowClassList += ' prices-table__row--big-price'
          if row.hasSep
            - rowClassList += ' prices-table__row--sep'
          if row.discount
            - rowClassList += ' prices-table__row--discount'
          div(class= rowClassList)
            if row.isHeader || row.isSubHeader
              .prices-table__cell.prices-table__cell--title
                if ((typeof row.header) == 'object')
                  | !{row.header.cont}
                  .prices-table__clarification !{row.header.clar}
                else
                  | !{row.header}
                
            else
              .prices-table__cell.prices-table__cell--row-header
                if ((typeof row.header) == 'object')
                  | !{row.header.cont}
                  .prices-table__clarification !{row.header.clar}
                else
                  | !{row.header}
            each cell in row.cells
              .prices-table__cell
                if ((typeof cell) == 'object')
                  | !{cell.cont}
                  .prices-table__clarification !{cell.clar}
                else
                  | !{cell}
      .prices-block__bottom
        a(href='').btn.prices-block__record-online Записаться online
        .prices-block__clarification При записи вы выбираете день, 
          | <br>время и мастера.
        .prices-block__phone +7 (812) 385-01-51
        .prices-block__all-prices: a(href='/tseny/') Все цены

  if !settings.block
      .prices-table
        - var i = 1
        each row in obj
          - var rowClassList = 'prices-table__row'
          if row.isHeader
            - rowClassList += ' prices-table__row--header'
          if row.isSubHeader
            - rowClassList += ' prices-table__row--subheader'
            if row.isPrice
              - rowClassList += ' prices-table__row--big-price'
          if row.hasSep
            - rowClassList += ' prices-table__row--sep'
          if row.discount
            - rowClassList += ' prices-table__row--discount'
          div(class= rowClassList)
            if row.isHeader || row.isSubHeader
              .prices-table__cell.prices-table__cell--title
                if ((typeof row.header) == 'object')
                  | !{row.header.cont}
                  .prices-table__clarification !{row.header.clar}
                else
                  | !{row.header}
            else
              .prices-table__cell.prices-table__cell--row-header
                if ((typeof row.header) == 'object')
                  | !{row.header.cont}
                  .prices-table__clarification !{row.header.clar}
                else
                  | !{row.header}
            each cell in row.cells
              if ((typeof cell) == 'object')
                if !cell.discount
                  .prices-table__cell
                      | !{cell.cont}
                      if cell.clar
                        .prices-table__clarification !{cell.clar}
                if cell.discount
                  .prices-table__cell.prices-table__cell--price-discount
                    .prices-table__new-price !{cell.new}
                    .prices-table__old-price !{cell.old}
              else
                .prices-table__cell !{cell}
