extends /blocks/layout/layout

block head
  - var pageTitle = 'Ламинирование волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Ламинирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Восстановление внутренней структуры волоса, поврежденных химическими и&nbsp;физическими воздействиями, улучшает состояние кожи головы, увеличивает прикорневой объем, укрепляет луковицы волоса и&nbsp;усиление роста

        p В&nbsp;состав процедуры входит:
        ul.list-marked
          li очищающий шампунь Greymy (используют как пиллинг)
          li шампунь для блеска Greymy
          li кондиционер для блеска Greymy
          li мараканское масло Greymy
          li несмываемый спрей &laquo;семь защит&raquo; Greymy
          li сухой шампунь
