extends /blocks/layout/layout

block head
  - var pageTitle = 'Уход, лечение и диагностика волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Уход, лечение и диагностика волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Уход, лечение и диагностика волос'})
      .page-block
        p Позаботимся о&nbsp;ваших волосах профессионально и&nbsp;эффективно:
        +block-marked({'color':'blue','size':'big'})
          ul.list-marked.list-marked--dash
            li Сохраняем здоровье волос, подчеркиваем их&nbsp;красоту: компетентны в&nbsp;трихологии (с&nbsp;2002 года работает наш Центр, который решает проблемы с&nbsp;волосами).
            li Проводим только профессиональные уходовые процедуры, работаем на&nbsp;косметике Barex, Estel professional, Selective professional, Optima. 
            li Мастера практикуют профессиональные знания, полученные в&nbsp;ведущих студиях и&nbsp;академиях: Wella, Londa, Schwarzkopf, Coiffure и&nbsp;&laquo;Локон&raquo;.
      .page-block
        h2.page-subheader Выбрать уход и&nbsp;лечение&nbsp;&mdash; не&nbsp;значит принять правильное решение
        p На витринах можно встретить массу косметики, наслушаться рекламных обещаний, но часто использование даже самых популярных средств не приносит никакого результата, а то и наносит вред. Причина проста — самостоятельно невозможно узнать, в чем именно нуждаются ваши волосы. 
        p Помочь может специалист и результаты обследования кожи головы и волос. Но клиентам нашего салона никуда ходить не надо. Прямо в первый ваш визит мы проведем вам диагностику состояния волос и кожи головы. Полученные результаты помогут мастерам нашего салона подобрать эффективные в вашем случае средства.
      .page-block
        h2.page-subheader Обширный выбор услуг по диагностике, уходу и лечению волос
        p Мастера Haircare Center подберут и проведут услуги красоты и здоровья волос, ориентируясь исключительно на ваш случай. 
        //- -
          let listIllustrated = [
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Ламинирование волос</h3>
                <p>В ходе процедуры утолщаем волосы, придаем блеск и шелковистость. Для этого покрываем волосы специальным защитно-восстанавливающим составом.</p>
                <p>Ламинирование успешно решает проблемы волос:</p>
                <ul class='list-marked'>
                  <li>ломкости и сухости,</li>
                  <li>поврежденной структуры,</li>
                  <li>истонченных прядей, лишенных объема,</li>
                  <li>тусклого и нездорового вида,</li>
                  <li>секущихся кончиков,</li>
                  <li>поврежденных прядей после агрессивных химических и термических воздействий.</li>
                </ul>
                <p>В результате ламинирования вы получите объемные, сияющие, прямые и гладкие волосы с ярким оттенком и крепкой структурой.</p>
              `
            },
            {
              className: '',
              image: {
                src:'',
                alt:''
              },
              body: `
                <h3>Экранирование волос</h3>
                <p>Нанесем витаминно-минеральный комплекс от Estel professional, который напитает ваши волосы полезными компонентами, восстановит их структуру, защитит от неблагоприятных воздействий. </p>
                <p>В результате волосы увеличатся в объеме на 30%, станут более увлажненными, восстановится естественное сияние и блеск, при окрашивании вы получите впечатляющую стойкость оттенка. Видимый результат наступит уже после первой процедуры. Действует особое предложение для блондинок: проводим экранирование, которое подчеркнет цвет волос и устранит нежелательный желтоватый оттенок.</p>
              `
            },
          ]
        //- +listIllustrated(listIllustrated)

        h3 Ламинирование волос
        p В ходе процедуры утолщаем волосы, придаем блеск и шелковистость. Для этого покрываем волосы специальным защитно-восстанавливающим составом.
        p Ламинирование успешно решает проблемы волос:
        ul.list-marked
          li ломкости и сухости,
          li поврежденной структуры,
          li истонченных прядей, лишенных объема,
          li тусклого и нездорового вида,
          li секущихся кончиков,
          li поврежденных прядей после агрессивных химических и термических воздействий.
        p В результате ламинирования вы получите объемные, сияющие, прямые и гладкие волосы с ярким оттенком и крепкой структурой.

        h3 Экранирование волос
        p Нанесем витаминно-минеральный комплекс от Estel professional, который напитает ваши волосы полезными компонентами, восстановит их структуру, защитит от неблагоприятных воздействий. 
        p В результате волосы увеличатся в объеме на 30%, станут более увлажненными, восстановится естественное сияние и блеск, при окрашивании вы получите впечатляющую стойкость оттенка. Видимый результат наступит уже после первой процедуры. Действует особое предложение для блондинок: проводим экранирование, которое подчеркнет цвет волос и устранит нежелательный желтоватый оттенок.

        +block-wrap({wrap:true, justify: 'center'})
          +block-wrap__item(4,4,6,6)
            h3 Пилинг кожи головы
            p Мастера выполнят профессиональный пилинг, в&nbsp;результате чего структура волоса восстановится изнутри, состояние кожи головы улучшится, объем в&nbsp;прикорневом участке увеличится, волосяные луковицы укрепятся и&nbsp;усилится рост волос.

          +block-wrap__item(4,4,6,6)
            h3 Ботокс для волос
            p С&nbsp;помощью процедуры придадим волосам объем, плотность, сделаем оттенок устойчивым, защитим от&nbsp;потери кератина, влаги и&nbsp;негативных внешних воздействий.

          +block-wrap__item(4,4,6,6)
            h3 Придание блеска волосам
            p Выполним процедуру, которая не&nbsp;только восстановит и&nbsp;запечатает волосы, но&nbsp;и&nbsp;очистит, насытит влагой на&nbsp;молекулярном уровне, укрепит структуру волос, придаст эластичность и&nbsp;блеск.

          +block-wrap__item(4,4,6,6)
            h3 Массаж кожи головы
            p Активизируем обменные процессы, кровообращение, в&nbsp;результате фолликулы получат больше питательных веществ, усилится рост волос, они станут сильными и&nbsp;блестящими. 

          +block-wrap__item(4,4,6,6)
            h3 Кератиновое восстановление
            p Проведем процедуру, которая придаст волосам роскошное состояние: восстановит, сделает шелковистыми и&nbsp;мягкими, блестящими, наполнит кератином и&nbsp;укрепит. 

          +block-wrap__item(4,4,6,6)
            h3 Диагностика волос и&nbsp;кожи головы
            p Проведем компьютерную диагностику, чтобы узнать: размер волосяных фолликулов, тип волос и&nbsp;кожи головы. Исследуем состояние волос по&nbsp;всей длине, на&nbsp;кончиках и&nbsp;на&nbsp;корнях, диагностируем болезни, выявим противопоказания и&nbsp;показания к&nbsp;услугам. 

          +block-wrap__item(6,6,6,6)
            h3 Подберем лечебную косметику
            p У&nbsp;нас всегда можно выбрать из&nbsp;большого многообразия линий лечебной и&nbsp;восстанавливающей косметики для волос и&nbsp;кожи головы итальянского и&nbsp;российского производства: Barex, Selective professional, Optima, Estel professional, препараты для лечения андрогенной алопеции и&nbsp;от&nbsp;выпадения волос.
      .page-block
        h2.page-subheader Вопросы и ответы
        -
          let questions = [
            {
              question: 'Как быстро можно восстановить волосы?',
              answer: '<p>Все зависит от причины проблемы, сложности случая, индивидуальных особенностей волос и кожи головы и, конечно, правильно подобранной процедуры и косметики.</p>'
            },
            {
              question: 'Что лучше сделать: ламинирование или экранирование?',
              answer: '<p>Все зависит от цели процедуры. Если вам нужно кардинально напитать волосы полезными веществами, восстановить их, то лучше выбрать экранирование. Если ставка еще и на безупречный вид, то тогда подойдет ламинирование.</p>'
            },
          ]
        +faq(questions,{itemWidth:[6,6,12,6]})
      .page-block
        .block-marked.block-marked--big
          p Позаботимся о ваших волосах профессионально, приходите за здоровьем и красотой шевелюры!
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': [
                {'cont':'Волосы до подбородка','clar':'до 10 см'},
                {'cont':'Волосы до плеч','clar':'до 20 см'},
                {'cont':'Волосы ниже плеч','clar':'от 20 см'}
              ]
            },
            {'isSubHeader':true,'header':'Estel Professional',
              'cells': []
            },
            {
              'header':{
                cont:'Ламинирование «Восстановление цвета» (прибавляется к стоимости окрашивания в один тон)',
                clar:'Эта процедура делается красителем Estel Deluxe + Активатор Estel , затем волос обрабатывается маской Estel питание и блеск'
              },
              'cells':[600, 800, 1000]
            },
            {'isSubHeader':true,'header':'LOreal Professionnel',
              'cells': []
            },
            {
              'header':{cont:'Ламинирование волос «Восстановление цвета»', clar:'Эта процедура делается красителем DIA LIGHT + Dia проявитель, затем волос обрабатывается маской Mithik Oil'},
              'cells':[4800, 5700, 7300]
            }
          ]
        +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
