.home-masters
  // display flex
  // flex-wrap wrap
  // margin-left 0.75rem
  // margin-right 0.75rem
  // &__item
  //   width calc(100%/5)
  //   padding-left 0.75rem
  //   padding-right 0.75rem
  //   @media screen and (max-width 1200px)
  //     width calc(100%/3)
  //   @media screen and (max-width 768px)
  //     width calc(100%/2)
  &__title
    font-size 1.25rem
    line-height 1.875rem
    font-family 'Playfair Display', serif
    font-weight bold
    margin-top 1rem
    margin-bottom 0.75rem
  &__activities
    li
      margin-bottom 0.25rem
  &__appointment
    position absolute
    left 50%
    bottom 1.5rem
    transform translateX(-50%)
    @media screen and (min-width 768px)
      transform translateX(-50%) translateY(1.5rem)
      opacity 0
      transition transform 0.6s, opacity 0.4s
  &__image
    position relative
    
    &:hover
      & ^[-2]__appointment
        @media screen and (min-width 768px)
          transition opacity 0.2s
          transform translateX(-50%) translateY(0)
          opacity 1
          z-index 2
