-
  var obj = [
    {'isHeader':true,'header':'Процедура',
      'cells': [' Essex','Deluxe sense','Loreal']
    },
    {'isSubHeader':true,'header':'Окрашивание в один тон',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[1700, 1900, 4800]
    },
    {
      'header':'волосы средней длины',
      'cells':[2100, 2400, 5700]
    },
    {
      'header':'длинные волосы',
      'cells':[3000, 3300, 7300]
    },
    {'isSubHeader':true,'header':'Креативное окрашивание - 2D/3D',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[3000, 3500, 6500]
    },
    {
      'header':'волосы средней длины',
      'cells':[3300, 4300, 7500]
    },
    {
      'header':'длинные волосы',
      'cells':[3700, 4700, 8500]
    },
    {'isSubHeader':true,'header':'Экспресс- тонирование',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[1600, 1700, 4800]
    },
    {
      'header':'волосы средней длины',
      'cells':[2000, 2100, 5700]
    },
    {
      'header':'длинные волосы',
      'cells':[2800, 3000, 7300]
    },
    {'isSubHeader':true,'header':'Окрашивание корней',
      'cells': [1900, '', 4800]
    },
    {
      'header':'',
      'cells':[]
    },
    {'isSubHeader':true,'header':'Смывка',
      'cells': []
    },
    {
      'header':'короткие волосы',
      'cells':[3000, 3000, 5000]
    },
    {
      'header':'волосы средней длины',
      'cells':[4000, 4000, 6000]
    },
    {
      'header':'длинные волосы',
      'cells':[5000, 5000, 7000]
    }
  ]
