.page-layout
  display flex
  margin-left -0.75rem
  margin-right -0.75rem
  width calc(100% + 1.5rem)
  @media screen and (max-width 768px)
    flex-wrap wrap
  &__aside
    margin-bottom 1.5rem
    flex-basis 12rem
    flex-shrink 0
    margin-left 0.75rem
    margin-right 0.75rem
    @media screen and (max-width 768px)
      flex-basis calc(100% - 1.5rem)
      max-width calc(100% - 1.5rem)
      order 2
  &__main
    margin-left 0.75rem
    margin-right 0.75rem
    flex-basis 54.5rem
    flex-basis calc(100% / 10 * 8 - 1.5rem)
    max-width calc(100% / 10 * 8 - 1.5rem)
    @media screen and (max-width 768px)
      flex-basis calc(100% - 1.5rem)
      max-width calc(100% - 1.5rem)
      order 1
    
