.header-mobile-switcher
  width 2.25rem
  height 2.25rem
  margin-right 0.75rem
  flex-shrink 0
  align-self center
  display flex
  // display none
  flex-direction column
  justify-content space-between
  &__inner
    height 0.375rem
    width 2.25rem
    background-color #000000
    transition background-color .4s
  &::before
  &::after
    content ''
    height 0.375rem
    width 2.25rem
    background-color #000000
    transition transform .4s
  &--active
    & ^[-1]__inner
      background-color transparent
    &::before
      transform translateY(0.9375rem) rotate(45deg)
    &::after
      transform translateY(-0.9375rem) rotate(-45deg)
    
