extends /blocks/layout/layout

block head
  - var pageTitle = 'Наращивание ресниц'

block content
  - var imagesFolder = '/images/eyelashes-extention/'
  .inner-page.container
    .content
      +page-header({'name':'Наращивание ресниц','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'eyelashes-extention'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Наращивание ресниц'})
      .page-block
        +block-wrap({'wrap':true})
          +block-wrap__item(7,7,6,6)
            h2 Вы будете в восторге
            ul.list-marked.list-marked--dash.list-marked--bigline.list-marked--big
              li Прекрасная альтернатива накладным ресницам
              li Пышные, длинные, эффектные ресницы
              li Выразительный, открытый взгляд без ежедневных усилий
          +block-wrap__item(5,5,6,6)
            img(src= imagesFolder+'eyelashes-01.jpg' alt='Наращивание ресниц' title='Наращивание ресниц')
      .page-block
        h2.page-subheader Почему стоит обратиться к нам?
        .page-block
          +block-wrap({'wrap':true, justify: 'center'})
            +block-wrap__item(10,10,12,6).block-marked-arrow 
                p
                  strong.bigger Качественные материалы
                p Используем 
                  strong материалы премиум-класса
                  | , которые невозможно купить в розничных магазинах - искусственные без содержания нейлоновых волокон.
            +block-wrap__item(10,10,12,6).block-marked-arrow 
                p
                  strong.bigger Индивидуальный подход
                p При моделировании наращивания 
                  strong учтем индивидуальные особенности
                  |  глаз, цветотип, стиль. Тщательно подберем толщину, длину, цвет и изгиб ресниц.
            +block-wrap__item(10,10,12,6).block-marked-arrow 
                p
                  strong.bigger Быстро
                p Отлаженный процесс, поэтому процедура займет 
                  strong не более двух часов
            +block-wrap__item(10,10,12,6).block-marked-arrow 
                p
                  strong.bigger Безопасность
                ul.list-marked
                  li используем 
                    strong сертифицированные материалы
                    | , 
                    strong гипоаллергенный
                    |  клей на основе смолы
                  li реснички приклеиваем 
                    strong аккуратно
                    | , не травмируем веко глаза
                p При необходимости 
                  strong проводится тест-реакция
                  |  на выявление аллергии на клей. Для этого на верхнее веко наносится небольшое количество клеевого состава. Спустя сутки оценивается состояние кожи в обработанной области.
            +block-wrap__item(10,10,12,6).block-marked-arrow 
                p
                  strong.bigger Стойкость и комфорт
                p Мастер 
                  strong кропотливо и надежно
                  |  приклеивает реснички так, что общий вид при своевременной корекции будет сохраняться 2-3 месяца
                p Ресницы 
                  strong не утяжеляют веки
                  | , вы не будете их чувствовать
      .page-block
        .block-marked.block-marked--blue.block-marked--bigger
          p При наращивании 
            strong скомбинируем
            |  искусственные ресниц разной длины, толщины и структуры чтобы создать 
            strong желаемый&nbsp;эффект
            |.
            | <br>Короткие волокна придают густоту, средние создают естественный вид.

      .page-block
        h2.page-subheader Методы наращивания ресниц
        +block-wrap({'wrap':true})
          +block-wrap__item(3,3,4,6)
            img(src= imagesFolder+'type-01.jpg')
          +block-wrap__item(9,9,8,6)
            p
              strong Поресничное наращивание
              | &nbsp;&mdash; трудоемкая технология, подразумевающая приклеивание к каждой натуральной реснице одной или нескольких искусственных.
            p Место прикрепления незаметно и не вызывает дискомфорта. Длина и оттенок ресниц подбирается индивидуально.
        +block-wrap({'wrap':true})
          +block-wrap__item(3,3,4,6)
            img(src= imagesFolder+'type-02.jpg')
          +block-wrap__item(9,9,8,6)
            p
              strong Пучковое наращивание
              | &nbsp;&mdash; к натуральным ресницам с помощью клея приклеивается пучок из 3 волосков.
            p Ресницы для пучкового наращивания жестче единичных, утяжеляют веки. Пучковое наращивание держится меньше, чем поресничное, подходит для наращивания ресниц к особому случаю.
      .page-block
        h2.page-subheader Процесс 
        +block-wrap({'wrap':true,'align':'center'})
          +block-wrap__item(8,8,8,6)
            -
              var list = [
                {'desc':['Процедура выполняется в положении лежа. Мастер проведет демакияж и обезжиривание ресниц.']},
                {'desc':['Наращивание начинается с внешнего уголка глаза. С помощью специального пинцета искусственная ресница извлекается из упаковки, на ее основание наносится специальный клей, после чего она приклеивается к натуральной реснице у ее основания. Нижние ресницы закроем силиконовыми накладками, которые защищают их от прилипания к верхним ресницам.']},
                {'desc':['Завершим процедуру расчесыванием ресниц и отделением их друг от друга, в случае слипания.']}
              ]
            +howWeWork(list, {'type':'text'})
          +block-wrap__item(4,4,4,6)
            -
              var image = {
                'src': imagesFolder+'process.jpg',
                'title': 'Процесс наращивания ресниц'
              }
            +imageBordered(image)
      .page-block
        include /data/eyelashes-extention/eyelashes-extention-works
        +works(ourWorks)
      .page-block
        h2.page-subheader Коррекция нарощенных ресниц
        p Через 3 месяца собственная ресница выпадает вместе с наращенной. Чрезмерно длинные ресницы выглядят неестественно, нарушается ресничный ряд, что выглядит не ухожено. Эту проблему мы решим проведением коррекции.
        p Первая коррекция проводится через 1 неделю после наращивания, последующие 1 раз в 2-3 недели. 
      .page-block
        .block-marked.block-marked--green.block-marked--bigger
          p Помимо наращивания выполним химическую завивку, коррекцию формы, ламинирование и ботокс для ресниц.
      .page-block
        +block-wrap({'wrap':true, justify: 'center'})
          +block-wrap__item(8,8,12,6)
            +block-wrap({'wrap':true,'align':'center','nopadding':true, justify: 'center'}).figure-two-cols
              //- +block-wrap__item(5,5,5,6).figure-two-cols__image
              //-   img(src= imagesFolder+'action.jpg' alt='Акция' title='Акция')
              +block-wrap__item(7,7,7,6).figure-two-cols__desc(style='text-align: center')
                h3 Акция
                p.bigger Бесплатное снятие при последующем наращивании
                //- a(href='').btn Участвовать
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        include /data/eyelashes-extention/eyelashes-extention-prices
        +pricesTable(obj)
        include /blocks/other-services/other-services
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe
 
      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
