.block-wrap
  display flex
  margin -0.75rem
  width calc(100% + 1.5rem)
  // @media screen and (max-width 1024px)
  //   margin -0.5rem
  //   width calc(100% + 12px)
  &_wrap
    flex-wrap wrap
  &_justify-flex-end
    justify-content flex-end
  &_justify-center
    justify-content center
  &_justify-space-around
    justify-content space-around
  &_justify-space-between
    justify-content space-between
  &_align-center
    align-items center
  &_align-baseline
    align-items baseline
  &_align-flex-start
    align-items flex-start
  &_align-flex-end
    align-items flex-end
  &_column
    flex-direction column

  &__item
    margin 0.75rem
    flex-grow 0
    // @media screen and (max-width 1024px)
    //   margin 0.5rem
    &_xl-width12
      flex-basis 100%
      max-width 100%
    &_xl-width11
      flex-basis calc(100% / 12 * 11 - 1.5rem)
      max-width calc(100% / 12 * 11 - 1.5rem)
    &_xl-width10
      flex-basis calc(100% / 12 * 10 - 1.5rem)
      max-width calc(100% / 12 * 10 - 1.5rem)
    &_xl-width9
      flex-basis calc(100% / 12 * 9 - 1.5rem)
      max-width calc(100% / 12 * 9 - 1.5rem)
    &_xl-width8
      flex-basis calc(100% / 12 * 8 - 1.5rem)
      max-width calc(100% / 12 * 8 - 1.5rem)
    &_xl-width7
      flex-basis calc(100% / 12 * 7 - 1.5rem)
      max-width calc(100% / 12 * 7 - 1.5rem)
    &_xl-width6
      flex-basis calc(100% / 12 * 6 - 1.5rem)
      max-width calc(100% / 12 * 6 - 1.5rem)
    &_xl-width5
      flex-basis calc(100% / 12 * 5 - 1.5rem)
      max-width calc(100% / 12 * 5 - 1.5rem)
    &_xl-width4
      flex-basis calc(100% / 12 * 4 - 1.5rem)
      max-width calc(100% / 12 * 4 - 1.5rem)
    &_xl-width3
      flex-basis calc(100% / 12 * 3 - 1.5rem)
      max-width calc(100% / 12 * 3 - 1.5rem)
    &_xl-width2
      flex-basis calc(100% / 12 * 2 - 1.5rem)
      max-width calc(100% / 12 * 2 - 1.5rem)
    &_xl-width1
      flex-basis calc(100% / 12 - 1.5rem)
      max-width calc(100% / 12 - 1.5rem)

    &_l-width12
      @media screen and (max-width 1200px)
        flex-basis 100%
        max-width 100%
    &_l-width11
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 11 - 1.5rem)
        max-width calc(100% / 12 * 11 - 1.5rem)
    &_l-width10
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 10 - 1.5rem)
        max-width calc(100% / 12 * 10 - 1.5rem)
    &_l-width9
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 9 - 1.5rem)
        max-width calc(100% / 12 * 9 - 1.5rem)
    &_l-width8
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 8 - 1.5rem)
        max-width calc(100% / 12 * 8 - 1.5rem)
    &_l-width7
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 7 - 1.5rem)
        max-width calc(100% / 12 * 7 - 1.5rem)
    &_l-width6
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 6 - 1.5rem)
        max-width calc(100% / 12 * 6 - 1.5rem)
    &_l-width5
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 5 - 1.5rem)
        max-width calc(100% / 12 * 5 - 1.5rem)
    &_l-width4
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 4 - 1.5rem)
        max-width calc(100% / 12 * 4 - 1.5rem)
    &_l-width3
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 3 - 1.5rem)
        max-width calc(100% / 12 * 3 - 1.5rem)
    &_l-width2
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 * 2 - 1.5rem)
        max-width calc(100% / 12 * 2 - 1.5rem)
    &_l-width1
      @media screen and (max-width 1200px)
        flex-basis calc(100% / 12 - 1.5rem)
        max-width calc(100% / 12 - 1.5rem)

    &_m-width12
      @media screen and (max-width 1024px)
        flex-basis 100%
        max-width 100%
    &_m-width11
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 11 - 1.5rem)
        max-width calc(100% / 12 * 11 - 1.5rem)
    &_m-width10
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 10 - 1.5rem)
        max-width calc(100% / 12 * 10 - 1.5rem)
    &_m-width9
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 9 - 1.5rem)
        max-width calc(100% / 12 * 9 - 1.5rem)
    &_m-width8
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 8 - 1.5rem)
        max-width calc(100% / 12 * 8 - 1.5rem)
    &_m-width7
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 7 - 1.5rem)
        max-width calc(100% / 12 * 7 - 1.5rem)
    &_m-width6
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 6 - 1.5rem)
        max-width calc(100% / 12 * 6 - 1.5rem)
    &_m-width5
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 5 - 1.5rem)
        max-width calc(100% / 12 * 5 - 1.5rem)
    &_m-width4
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 4 - 1.5rem)
        max-width calc(100% / 12 * 4 - 1.5rem)
    &_m-width3
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 3 - 1.5rem)
        max-width calc(100% / 12 * 3 - 1.5rem)
    &_m-width2
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 * 2 - 1.5rem)
        max-width calc(100% / 12 * 2 - 1.5rem)
    &_m-width1
      @media screen and (max-width 1024px)
        flex-basis calc(100% / 12 - 1.5rem)
        max-width calc(100% / 12 - 1.5rem)

    &_s-width6
      @media screen and (max-width 768px)
        flex-basis 100%
        max-width 100%
    &_s-width5
      @media screen and (max-width 768px)
        flex-basis calc(100% / 6 * 5 - 1.5rem)
        max-width calc(100% / 6 * 5 - 1.5rem)
    &_s-width4
      @media screen and (max-width 768px)
        flex-basis calc(100% / 6 * 4 - 1.5rem)
        max-width calc(100% / 6 * 4 - 1.5rem)
    &_s-width3
      @media screen and (max-width 768px)
        flex-basis calc(100% / 6 * 3 - 1.5rem)
        max-width calc(100% / 6 * 3 - 1.5rem)
    &_s-width2
      @media screen and (max-width 768px)
        flex-basis calc(100% / 6 * 2 - 1.5rem)
        max-width calc(100% / 6 * 2 - 1.5rem)
    &_s-width1
      @media screen and (max-width 768px)
        flex-basis calc(100% / 6 - 1.5rem)
        max-width calc(100% / 6 - 1.5rem)
  &_nopadding
    margin 0
    width 100%
    .block-wrap__item
      margin 0
      &_xl-width12
        flex-basis 100%
        max-width 100%
      &_xl-width11
        flex-basis calc(100% / 12 * 11)
        max-width calc(100% / 12 * 11)
      &_xl-width10
        flex-basis calc(100% / 12 * 10)
        max-width calc(100% / 12 * 10)
      &_xl-width9
        flex-basis calc(100% / 12 * 9)
        max-width calc(100% / 12 * 9)
      &_xl-width8
        flex-basis calc(100% / 12 * 8)
        max-width calc(100% / 12 * 8)
      &_xl-width7
        flex-basis calc(100% / 12 * 7)
        max-width calc(100% / 12 * 7)
      &_xl-width6
        flex-basis calc(100% / 12 * 6)
        max-width calc(100% / 12 * 6)
      &_xl-width5
        flex-basis calc(100% / 12 * 5)
        max-width calc(100% / 12 * 5)
      &_xl-width4
        flex-basis calc(100% / 12 * 4)
        max-width calc(100% / 12 * 4)
      &_xl-width3
        flex-basis calc(100% / 12 * 3)
        max-width calc(100% / 12 * 3)
      &_xl-width2
        flex-basis calc(100% / 12 * 2)
        max-width calc(100% / 12 * 2)
      &_xl-width1
        flex-basis calc(100% / 12)
        max-width calc(100% / 12)

      &_l-width12
        @media screen and (max-width 1200px)
          flex-basis 100%
          max-width 100%
      &_l-width11
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 11)
          max-width calc(100% / 12 * 11)
      &_l-width10
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 10)
          max-width calc(100% / 12 * 10)
      &_l-width9
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 9)
          max-width calc(100% / 12 * 9)
      &_l-width8
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 8)
          max-width calc(100% / 12 * 8)
      &_l-width7
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 7)
          max-width calc(100% / 12 * 7)
      &_l-width6
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 6)
          max-width calc(100% / 12 * 6)
      &_l-width5
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 5)
          max-width calc(100% / 12 * 5)
      &_l-width4
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 4)
          max-width calc(100% / 12 * 4)
      &_l-width3
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 3)
          max-width calc(100% / 12 * 3)
      &_l-width2
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12 * 2)
          max-width calc(100% / 12 * 2)
      &_l-width1
        @media screen and (max-width 1200px)
          flex-basis calc(100% / 12)
          max-width calc(100% / 12)

      &_m-width12
        @media screen and (max-width 1024px)
          flex-basis 100%
          max-width 100%
      &_m-width11
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 11)
          max-width calc(100% / 12 * 11)
      &_m-width10
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 10)
          max-width calc(100% / 12 * 10)
      &_m-width9
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 9)
          max-width calc(100% / 12 * 9)
      &_m-width8
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 8)
          max-width calc(100% / 12 * 8)
      &_m-width7
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 7)
          max-width calc(100% / 12 * 7)
      &_m-width6
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 6)
          max-width calc(100% / 12 * 6)
      &_m-width5
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 5)
          max-width calc(100% / 12 * 5)
      &_m-width4
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 4)
          max-width calc(100% / 12 * 4)
      &_m-width3
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 3)
          max-width calc(100% / 12 * 3)
      &_m-width2
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12 * 2)
          max-width calc(100% / 12 * 2)
      &_m-width1
        @media screen and (max-width 1024px)
          flex-basis calc(100% / 12)
          max-width calc(100% / 12)

      &_s-width6
        @media screen and (max-width 768px)
          flex-basis 100%
          max-width 100%
      &_s-width5
        @media screen and (max-width 768px)
          flex-basis calc(100% / 6 * 5)
          max-width calc(100% / 6 * 5)
      &_s-width4
        @media screen and (max-width 768px)
          flex-basis calc(100% / 6 * 4)
          max-width calc(100% / 6 * 4)
      &_s-width3
        @media screen and (max-width 768px)
          flex-basis calc(100% / 6 * 3)
          max-width calc(100% / 6 * 3)
      &_s-width2
        @media screen and (max-width 768px)
          flex-basis calc(100% / 6 * 2)
          max-width calc(100% / 6 * 2)
      &_s-width1
        @media screen and (max-width 768px)
          flex-basis calc(100% / 6)
          max-width calc(100% / 6)
