
mixin block-wrap(settings = {"wrap":false, "nopadding":false, "justify":"", "align":"","column":false})
  - var classesList = []
  - var classesString = ''
  if settings.nopadding
    -
      classesList.push('block-wrap_nopadding')
  if settings.wrap
    -
      classesList.push('block-wrap_wrap')
  if settings.column
    -
      classesList.push('block-wrap_column')
  if settings.align
    if settings.align == 'flex-start'
      -
        classesList.push('block-wrap_align-flex-start')
    if settings.align == 'center'
      -
        classesList.push('block-wrap_align-center')
  if settings.justify
    if settings.justify == 'space-between'
      -
        classesList.push('block-wrap_justify-space-between')
    if settings.justify == 'center'
      -
        classesList.push('block-wrap_justify-center')
  each item in classesList
    - 
      classesString = classesString + item + ' '
  if attributes.class === undefined
    - attributes.class = ''
  .block-wrap(class!=attributes.class + ' ' + classesString id!=attributes.id )
    block
      
mixin block-wrap__item(xlWidth, lWidth= xlWidth, mWidth= lWidth, sWidth= 6)
  .block-wrap__item(class='block-wrap__item_xl-width' + xlWidth + ' block-wrap__item_l-width' + lWidth+ ' block-wrap__item_m-width' + mWidth+ ' block-wrap__item_s-width' + sWidth class!=attributes.class id!=attributes.id style!=attributes.style)
    block
