.submenu
  display flex
  list-style none
  flex-wrap wrap
  margin -0.75rem
  margin-bottom 1.375rem
  &__item
    margin 0.75rem
    a
      display block
      padding 0.125rem 0.375rem
      text-decoration none
      border 1px solid 
      border-radius 4px
      font-size 0.75rem
      line-height 1.125rem
      font-family 'Playfair Display', serif
      padding 0.375rem 0.75rem
      color #383838
      font-weight bold
      &:hover
        color #b91f33
    &--active
      a
        color #b91f33
