mixin submenu(list)
  .submenu(id= attributes.id style= attributes.style class= attributes.style)
    each item in list
      - let active = ''
      if item.active
         - active = 'submenu__item--active'
      li.submenu__item(class= active)
        a(href= item.link) !{item.name}
