extends /blocks/layout/layout

block head
  - var pageTitle = 'Выпрямление волос'

block content
  - var imagesFolder = '/images/straightening/'
  .inner-page.container
    .content
      +page-header({'name':'Выпрямление волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'straightening'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Выпрямление волос'})
      .page-block
        p Кератиновое выпрямление волос – это инновационная система восстановления и безопасного выпрямления поврежденных волос
      .page-block
        +block-wrap({'wrap':true})
          +block-wrap__item(6,6,6,6)
            h2 Что даст процедура?
            p С помощью кератинового выпрямления в салоне Haircare Center наши мастера:
            ul.list-marked.list-marked--dash.list-marked--bigline
              li восстановят поврежденные волосы, избавят от секущихся волос
              li восполнят недостаток кератина в волосах
              li оздоровят волосы и защитят их от вредного воздействия ультрафиолета, химии, пересушивания
              li сделают их прямыми, гладкими и блестящими
              li избавят волосы от наэлектризованности
              li сохранят эффект в течении 3-5 месяцев.
          +block-wrap__item(6,6,6,6)
            -
              var list = [
                {
                  'title':'До',
                  'image':imagesFolder+'before.jpg'
                },
                {
                  'title':'После',
                  'image':imagesFolder+'after.jpg'
                }
              ]
            ul.before-after.block-wrap.block-wrap_wrap
              each item in list
                li.before-after__item.block-wrap__item.block-wrap__item_xl-width6.block-wrap__item_l-width6.block-wrap__item_m-width6.block-wrap__item_s-width3
                  .before-after__image
                    img(src= item.image alt= item.title)
                  .before-after__description !{item.title}
          +block-wrap__item(6,6,6,6)
            h2 Кому необходима?
            p Если на ваши волосы подвержены влиянию этих факторов, кератиновое выпрямление – путь к решению проблемы.
            ul.list-marked.list-marked--dash.list-marked--bigline
              li плохая экология.
              li переживания и стрессы.
              li прием лекарственных препаратов.
              li отсутствие ухода.
              li неправильное питание и нарушение обмена веществ.
              li химические и термические повреждения.
              li вредные привычки.
          +block-wrap__item(6,6,6,6)
            h2 Преимущества
            ul.list-marked.list-marked--dash.list-marked--bigline
              li подходит для любого типа волос
              li можно проводить после мелирования, окрашивания, осветления и завивки
              li результат виден сразу
      .page-block
        h2.page-subheader Почему выпрямление волос стоит сделать у нас?
        .page-block
          +block-wrap({'wrap':true})
            +block-wrap__item(6,6,12,6)
              .block-marked-arrow Подберем 
                strong индивидуальную программу
                |  по уходу за волосами с учетом типа и состояния волос.
            +block-wrap__item(6,6,12,6)
              .block-marked-arrow Работаем по 
                strong четкой технологии
                |  для того чтобы прийти к ожидаемому результату и не навредить волосам.
        p Порекомендуем, как в домашних условиях 
          strong самостоятельно поддерживать достигнутый эффект,
          |  используя безсульфатные шампуни и кондиционеры.
        p Безопасные и полезные для волос шампуни на основе мягких активных компонентов можно приобрести непосредственно в салоне Haircare Center.
      .page-block
        .block-marked.block-marked--big.block-marked--blue
          p Мастер 
            strong подберет для вас средства
            |  для ухода за волосами в домашних условиях, основываясь на особенностях строения ваших волос.
      .page-block
        h2.page-subheader Процесс 
        +block-wrap({'wrap':true,'align':'center'})
          +block-wrap__item(6,6,6,6)
            -
              var list = [
                {'desc':['Мастер вымоет волосы специальным шампунем глубокой очистки для того, чтобы снять с них пыль, кожное сало, остатков средств для фиксации и укладки, затем бережно высушит феном']},
                {'desc':['Равномерно нанесет по всей длине волос (кроме корней) специальный состав для выпрямления.']},
                {'desc':['Состав высушивается с помощью фена.']},
                {'desc':['Завершающим этапом является закрепление состава с помощью горячего утюжка в безопасном для волос диапазоне температуры.']}
              ]
            +howWeWork(list, {'type':'text'})
          +block-wrap__item(4,4,4,6)
            -
              var image = {
                'src': imagesFolder+'process.jpg',
                'title': 'Процесс выпрямления волос'
              }
            +imageBordered(image)
      .page-block
        include /data/straightening/straightening-works
        +works(ourWorks)
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        include /data/straightening/straightening-prices
        +pricesTable(obj)
        include /blocks/other-services/other-services
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
