.list-marked
  margin-bottom 0.5rem
  padding-left 1rem
  line-height 1.5rem
  li
    margin-bottom 0.25rem
    list-style disc
  &--big
    font-size 1.25rem
    line-height 1.875rem
  &--bigline
    li
      margin-bottom 1rem
  &--dash
    padding-left 0
    li
      list-style none
      position relative
      padding-left 1.5rem
      &::before
        position absolute
        left 0
        content '\2014'
  
