mixin listIllustrated(list)
  .list-illustrated
    each item in list
      +block-wrap({wrap:true, justify:'center'})(class!=item.className).list-illustrated__item
        +block-wrap__item(3,3,2,2).list-illustrated__item-image
          img(src!= item.image.src alt!= item.image.alt)
        +block-wrap__item(9,9,10,6).list-illustrated__item-body !{item.body}
        
