.list-illustrated
  &__item-image
    margin-bottom 1.5rem
    img
      width 100%
      max-width 15rem
      max-height 15rem
      border-radius 50%
      border 1rem solid #ffffff
      box-shadow 0 0 0 1px #f1f1f1
      display block
  &__item-body
    align-self center
    h3
      margin-top 0
