#vvs-button
  position fixed
  right 0
  top 100px
  margin-right -8px
  width 40px
  height 170px
  cursor pointer
  border-top-left-radius 3px
  border-bottom-left-radius 3px

  box-shadow 1px 1px 6px 0px rgba(0,0,0,0.5)

  background #b91f33 !important

  border 1px solid rgba(0,0,0,0.2)
  z-index 65000


#vvs-button:hover
  margin-right -5px

  background-image linear-gradient(to left,rgba(255,255,255,0.0) 0,rgba(255,255,255,0.3) 100%)
  box-shadow 1px 1px 6px 0px rgba(0,0,0,0.5), 0 0 3px rgba(255, 255, 255, 0.5) inset


.vvs-button-img
  background-image url("http://www.vse-v-salon.ru/api/img/vvs-button.png")
  background-repeat no-repeat
  background-position -3px center
  width 40px
  height 170px
