mixin discountsList(list)
  .discounts-list
    each item in list
      +block-wrap({wrap:true, nopadding: true}).discounts-list__item
        +block-wrap__item(4,4,4,6).discounts-list__item-image.s-hidden
          img(src='/images/hair-extention/banner-bg.png')
        +block-wrap__item(8,8,8,6).discounts-list__item-body
          h2.discounts-list__title !{item.title}
          .discounts-list__info !{item.info}
          .discounts-list__expire Акция действует до !{item.date}
          .discounts-list__more
            a(href='discount.html').btn Получить скидку
