.discounts-list
  display flex
  flex-direction column
  align-items center
  &__item
    // max-width 51rem
    background #f9e5dc
    background-size contain
    border-radius 4px
    display flex
    margin-bottom 1.5rem
  &__item-image
    width 33.3333%
    display flex
    justify-content center
    img
      display block
      max-height 12rem
  &__item-body
    padding 1.5rem
    display flex
    flex-direction column
  &__title
    font-size 1.375rem
    line-height 1.5rem
    margin-top 0
    margin-bottom 1rem
  &__info
  &__expire
    @extends p
    font-size 0.875rem
    line-height 1.3125rem
  &__expire
    margin-bottom 1.5rem
  &__more
    margin-top auto
    .btn
      padding 0.25rem 0.5rem
      font-size 1rem
