
.home-description
  max-width 50rem
  margin 0 auto 1rem
  text-align center
  &_nomargin
    margin .5rem auto
.home-description-columns
  margin-bottom 2rem
  background-image url('../images/bg-dotted.png')
  padding-top 1rem
  padding-bottom 2rem
  &__column
    background-color #ffffff
    padding 0.75rem
    h3:first-of-type
      margin-top 0
  p
    font-size 0.875rem
    color #333333
    line-height 1.3125rem
    margin-bottom 0.4375rem
