extends /blocks/layout/layout

block content
  .inner-page.container
    .content
      +page-header({'name':'Плетение косичек','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'},{name:'Примеры работ',href:'#page-works'}],'class':'braids'})
      //- +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Для тех, кто любит экспериментировать и не боится привлечь внимание к своей персоне, могут оказаться удачной находкой косички. Одно из самых модных направлений - этнические мотивы знойной Африки. Косы разнообразного плетения с общим названием "африканские" предлагают разнообразные варианты.
      .page-block
        -
          var list = [
            {
              'desc':[
                'Во-первых, они могут выполняться на волосах любой длины, даже на коротких. В собственные волосы вплетается специальный материал - канекалон.'
              ]
            },
            {
              'desc':[
                'Во-вторых, обладатель косичек получает удобный вариант долговременной укладки, облегчающей уход за волосами, сводя его лишь к еженедельному мытью.'
              ]
            },
            {
              'desc':[
                'В-третьих, более 60 натуральных и 30 ярких экзотических оттенков искусственных прядей, из которых изготовлены современные материалы для афрокосичек, позволяют реализовать самые смелые фантазии.'
              ]
            },
            {
              'desc':[
                'В-четвертых, косички не изменяют структуры волос и после их расплетения вы возвращаетесь к исходному состоянию.'
              ]
            },
            {
              'desc':[
                'В-пятых, из косичек легко и быстро делается несколько вариантов красивых и оригинальных причесок для любого случая - от строгого торжественного мероприятия до модной тусовки.'
              ]
            },
          ]
        +howWeWork(list,{'type':'text', 'cols':2})
      .page-block
        h2.page-subheader Виды косичек
        +block-wrap({'wrap':'wrap', 'justify':'space-between'})
          +block-wrap__item(5,5,6,6)
            p Основных направлений плетения косичек - два: французские, когда косички прилегают к голове, и африканские, которые к голове не прилегают.
            +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery.page-hairstyles__gallery--small
              +block-wrap__item(6,6,6,6).page-hairstyles__gallery-item
                .page-hairstyles__gallery-image
                  img(src='/images/braids/braids-type-1.png')
                .page-hairstyles__gallery-title Французские косички
              +block-wrap__item(6,6,6,6).page-hairstyles__gallery-item
                .page-hairstyles__gallery-image
                  img(src='/images/braids/braids-type-2.png')
                .page-hairstyles__gallery-title Африканские косички
          +block-wrap__item(5,5,6,6)
            p Иногда мастер сочетает оба плетения, и в этом случае плотно охватывающие голову косички продолжаются дальше свободно, могут укладываться в узел или просто ниспадать на плечи, и такой вариант носит название "брейды".
            +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery.page-hairstyles__gallery--small
              +block-wrap__item(6,6,6,6).page-hairstyles__gallery-item
                .page-hairstyles__gallery-image
                  img(src='/images/braids/braids-type-3.png')
                .page-hairstyles__gallery-title Брейды
      .page-block
        h2.page-subheader Прически с косичками
        +block-wrap({'wrap':'wrap', 'justify':'center'}).page-hairstyles__gallery.page-hairstyles__gallery--small
          +block-wrap__item(3,3,4,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/braids/braids-style-1.jpg')
            .page-hairstyles__gallery-caption Концы косичек можно накрутить на бигуди. Элегантные дамы предпочитают удлиненное каре из косичек, напоминающее прическу Нефертити.
          +block-wrap__item(3,3,4,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/braids/braids-style-2.jpg')
            .page-hairstyles__gallery-caption Для тех, кто занимается спортом, отращивает волосы после стрижки или просто не может справиться с непослушной челкой выходом станет неполное плетение французских косичек, например, со лба до середины головы. Удобна эта прическа и для детей.
          +block-wrap__item(3,3,4,3).page-hairstyles__gallery-item
            .page-hairstyles__gallery-image
              img(src='/images/braids/braids-style-3.jpg')
            .page-hairstyles__gallery-caption Волосы могут заплетаться в спиралевидные косички - так называемые "сенегальские спирали", еще одна форма - "афрожгутики".
          //- +block-wrap__item(3,3,4,3).page-hairstyles__gallery-item
          //-   .page-hairstyles__gallery-image
          //-     img(src='/images/braids/braids-type-2.png')
          //-   .page-hairstyles__gallery-caption "Твисты" - косички с использованием материала особой формы, напоминающего волосы после спиральной завивки.
      .page-block
        +block-marked({'color':'blue'}).block-marked--big
          p В основе каждого вида косичек - определенные узлы и их чередование, поэтому косички не требуют дополнительных фиксирующих средств вроде лака или геля.
      .page-block
        p Традиционно плетение косичек - задача как минимум для четырех рук. Лучше спланировать время так, чтобы у вас в запасе было часов шесть. Зато целый месяц эта стильная прическа не потребует никаких ухищрений.
      .page-block
        h2.page-subheader Уход за косичками
        p Мыть косички очень просто. Они не расплетутся и не разлохматятся. Но шампунь нужно разводить водой. О фенах, укладках, лаках можно забыть, да и сохнет эта прическа быстро. Так что в отпуске вам не придется возить с собой парикмахерский арсенал, чтобы выглядеть хорошо!
      .page-block
        -
          var ourWorks = [
            {'url':'/images/braids/works-01','name':'Плетение косы с цветком'},
            {'url':'/images/braids/works-02','name':'Французские косички'},
            {'url':'/images/braids/works-03','name':'Плетение косы “Рыбий хвост”'},
          ]
        +works(ourWorks)
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': []
            },
            {
              'header':{cont:'1-й уровень', clar:'простая коса, французская без вплетения лент'},
              'cells':[500]
            },
            {
              'header':{cont:'2-й уровень', clar:'косы с вплетением в них лент, канекалона до 2 шт'},
              'cells':[1000]
            },
            {
              'header':{cont:'3-й уровень', clar:'плетение сложных техник, косы с вплетением лент или канекалона более 2 шт до 5 шт'},
              'cells':[1500]
            }
          ]
        +block-wrap({'wrap':'wrap', 'justify':'center', 'align':'center'})
          +block-wrap__item(8,8,10,6)
            +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
