extends /blocks/layout/layout

block head
  - var pageTitle = 'Ламинирование волос'
block content
  .inner-page.container
    .content
      +page-header({'name':'Ламинирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'lamination'})
      +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Защищает окрашенные волосы от&nbsp;вымывания, придает волосам дополнительную плотность, гибкость, объем, также защищает волосы от&nbsp;внешних повреждений, потери влаги, кератина. Низкий PH&nbsp;продукта позволяет нейтрализовать остаточные реакции красителя. 

        p В&nbsp;состав процедуры входит:
        ul.list-marked
          li очищающий шампунь Greymy(используют как пиллинг, затем просто моют голову)
          li СПА кератин для волос Greymy, мараканское масло Greymy
          li ботокс для волос (комплексная терапия для поврежденных волос) Greymy
          li шампунь для блеска Greymy
          li кондиционер для блеска Greymy
          li несмываемый спрей &laquo;семь защит&raquo; Greymy
          li сухой шампунь
