.page-appointment
  padding 1rem
  background-color #ffdbdb
  &__inner
    padding 1rem
    border 1px solid #ffffff
    display flex
    flex-direction column
    align-items center
  &__discount
    font-size 1.4rem
    margin-bottom 1rem
  &__form
    display flex
    align-items center
    margin-left -0.75rem
    margin-right -0.75rem
  &__input
  &__submit
    padding-left 0.75rem
    padding-right 0.75rem
  &__input
    margin 0
  &__submit
    .btn
      padding-top 0.375rem
      padding-bottom 0.375rem
  &__popup
    width 100%
    max-width 19rem
    padding 3rem
    display flex
    align-items center
    flex-direction column
    background-color #ffffff
    text-align center
    border 1px solid
    position relative
    &::after
      content ''
      position absolute
      top 1rem
      left 1rem
      width calc(100% - 2rem)
      height calc(100% - 2rem)
      border 1px solid #f0f0f0
