.page-appointment
  .page-appointment__inner
    .page-appointment__discount 
      strong Скидка 5%
      |  на все услуги при записи с сайта!
    .page-appointment__btn
      a(href='#' onclick='show_online_record(248, 123456789); return false;').btn Записаться на стрижку
