.consultation-banner
  +block-wrap({wrap:true})
    +block-wrap__item(8,8,8,6).consultation-banner__left
      p Отвечаем на вопросы про парики, как за ними ухаживать, носить, какие есть альтернативные способы.
      p Если Вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
    +block-wrap__item(4,4,4,6).consultation-banner__right
      .consultation-banner__right-inner
        a(href='#').btn Спросить совет
        i Советуем с 2007 года
