.consultation-banner
  padding 1rem 1.5rem
  background-color #f9e5dc
  margin-bottom 1.5rem
  &__left
    p:last-child
      margin-bottom 0
  &__right
    display flex
    flex-direction column
    align-items flex-end
    justify-content center
  &__right-inner
    display flex
    flex-direction column
    text-align center
    
  
