.header
  box-shadow 0 5px 15px #f4f4f4
  &__top
    display flex
    align-items center
    padding-top 0.125rem
    padding-bottom 0.5rem
  &__bottom
    border-top 1px solid #efefef
.header-phone
  font-size 1.25rem
  font-weight bold
  white-space nowrap
