header.header#header
  include ../nav-top/nav-top
  .container
    .content
      .header__top
        include ../header-mobile-switcher/header-mobile-switcher
        include ../header-logo/header-logo
        include ../header-info/header-info
        include ../header-contacts/header-contacts
      .header__bottom
        //- .header-contacts-fixed#header-contacts-fixed
        include ../header-menu/header-menu
  //- .container
    .content.header__bottom.xl-hidden.l-hidden
      
        .header-phone +7 (812) 385-01-51

        
