extends /blocks/layout/layout

block head
  - var pageTitle = 'Экранирование волос'

block content
  .inner-page.container
    .content
      +page-header({'name':'Экранирование волос','links':[{name:'Цены',href:'#page-prices'},{name:'Отзывы',href:'#page-feedback'}],'class':'screening'})
      //- +breadcrumbs({'parents':['Главная','Услуги'], 'current':' Женская стрижка'})
      .page-block
        p Обеспечим защиту и питание ваших волос с помощью процедуры экранирования от Estel. Длительность процедуры: 
          strong 10 минут.
      .page-block
        +block-wrap({'wrap':'wrap'})
          +block-wrap__item(8,8,8,6)
            h2.small Что даст процедура?
            p За счет использования 
              strong витаминно-питательного комплекса
              |  набора Estel Q3 THERAPY и комплексного подхода в три этапа добьемся того, что лечебные компоненты и масла глубоко проникнут в структуру волоса и 
              strong восстановят его изнутри
              | .
            ul.list-marked
              li увеличим объем ваших волос на 30%
              li защитим от негативного воздействия окружающей среды
              li увеличим срок стойкости цвета при окрашивании
              li уменьшим количество секущихся концов
              li увлажним и укрепим поврежденную структуру волос
              li вернем волосам естесственный блеск и сияние
          +block-wrap__item(4,4,4,6)
            .gallery
              .gallery__item
                figure
                  img(src='/images/screening/screening-before.jpg')
                  figcaption до
              .gallery__item
                figure
                  img(src='/images/screening/screening-after.jpg')
                  figcaption после
          +block-wrap__item(6,6,8,6)
            h2.small Кому необходима?
            ul.list-marked
              li поврежденные волосы
              li сухость и ломкость прядей
              li секущиеся кончики
              li недостаточный объем волос
          +block-wrap__item(6,6,8,6)
            h2.small Для блондинок
            p Также существует специальное экранирование для блондинок&nbsp;&mdash; оно 
              strong подчеркивает цвет волос
              | , а в случае окрашивания&nbsp;&mdash; 
              strong устраняет
              |  нежелательный 
              strong желтый оттенок
              | .
      .page-block
        +block-marked({'color':'green'}).block-marked--big
          p Мы предлагаем экранирование не только для женщин, но и для мужчин.
      .page-block
        h2.page-subheader Почему экранирование волос стоит сделать у нас?
        +block-wrap({'wrap':true})
          +block-wrap__item(6,6,6,6).block-marked-arrow Используем исключительно оригинальные косметические препараты
          +block-wrap__item(6,6,6,6).block-marked-arrow Все средства гипоаллергенны и эффективны
          +block-wrap__item(6,6,6,6).block-marked-arrow Выполняем услугу строго по технологии
      .page-block
        +block-marked().block-marked--big
          p Заметный результат&nbsp;&mdash; уже после первой процедуры экранирования.
      .page-block
        h2.page-subheader Процесс
        +block-wrap({'wrap':true, justify: 'center'})
          +block-wrap__item(9,9,8,6)
            -
              var list = [
                {'desc':[
                  'Для начала тщательно моем волосы профессиональным шампунем для глубокого очищения. Он&nbsp;поможет избавиться от&nbsp;накопившихся в&nbsp;них силиконов и&nbsp;позволит лучше проникнуть в&nbsp;волосяной стержень всем питательным веществам.',
                ]},
                {'desc':[
                  'Промокнем волосы полотенцем и&nbsp;нанесем на&nbsp;них специальный двухфазный кондиционер. Одна фаза которого увлажнит волосы, а&nbsp;вторая восстановит волосам естественный уровень pH&nbsp;и&nbsp;выравнит их&nbsp;структуру.'
                ]},
                {'desc':[
                  'Нанесем небольшое количество базового масла. Натуральные масла камелии и&nbsp;арганы проникают в&nbsp;волос и&nbsp;интенсивно питают его.'
                ]},
                {'desc':[
                  'На&nbsp;третьем этапе на&nbsp;волосы нанесем масло-блеск. которое защищает внешний слой волос и&nbsp;придает им&nbsp;блеск. Кроме того, масло-блеск заметно усиливает цвет волос, делает его более насыщенным, защищает волосы от&nbsp;термического воздействия и&nbsp;UV-лучей.'
                ]},
                {'desc':[
                  'В&nbsp;конце процедуры бережно высушим волосы.',
                ]},
              ]
            +howWeWork(list, {'type':'text'})
      .page-block
        +block-marked({'color':'green'}).block-marked--big
          p Экранирование выполняется только как часть процедуры ухода или укладки. Как отдельная услуга экранирование не выполняется.
      include /blocks/page-feedback/page-feedback
      .page-block#page-prices
        -
          var obj = [
            {'isHeader':true,'header':'Услуги и цены',
              'cells': []
            },
            {
              'header':{
                'cont':'Экранирование',
                'clar':'Действие процедуры экранирования Estel Q3 THERAPY основано на уникальных свойствах арганового масла, а так же масел макадамии и виноградной косточки, обеспечивающих более глубокое питание, восстановление и защиту и наполнение их жизненной силой и энергией.'
              },
              'cells':[350]
            },
          ]
        +block-wrap({'wrap':'wrap', 'justify':'center', 'align':'center'})
          +block-wrap__item(8,8,10,6)
            +pricesTable(obj)
      .page-block
        h2.page-subheader Средний стаж мастеров салона&nbsp;&mdash; 
          i 12 лет
        p.page-description Мастера обучались в ведущих студиях и академиях:
          strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
          | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
          strong &laquo;Невские берега&raquo;
          | , крупнейшей в Европе парфюмерно-косметической выставке 
          strong Intercharm
          | .
        include /blocks/home-masters/home-masters
        include /blocks/home-master-description/home-master-description
      .page-block.page-block--grey
        h2.home-header Салон красоты Hair Care Center
        include /blocks/page-about/page-about
      .page-block
        h2.home-header 3D тур по салону красоты Hair Сare Center
        .iframe-responsive.js-tour-container
          iframe( style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html")#touriframe

      //- .page-block
      //-   include /blocks/page-appointment/page-appointment
