.hair-extention-sign#hair-extention-sign
  .hair-extention-sign__inner
    h2.hair-extention-sign__header Запишитесь&nbsp;на <span></span> прямо&nbsp;сейчас!
    .hair-extention-sign__subtitle
      span Укладка и причёска в подарок!
    +block-wrap({'justify':'center'})
      +block-wrap__item(4,4,12,6).hair-extention-sign__image.s-hidden.xs-hidden
        img(src="/images/extention-methods/module-1.png" style='width: 100%')
      +block-wrap__item(8,8,12,6)
        ul.list-marked
          li Опыт работы мастеров от 15 лет
          li 100% качество славянских волос
          li Все цвета и длины от 40 до 85 см в наличии
          li Опыт работы мастеров от 15 лет
          li 100% качество славянских волос
          li Все цвета и длины от 40 до 85 см в наличии
        include ../hair-extention-sign-form/hair-extention-sign-form
