.hair-extention-sign
  display none
  padding 1rem
  background #e6f1f5
  width 100%
  max-width 44rem
  &__inner
    position relative
    text-align left
    background #e6f1f5
    border 1px solid #fff
  &__header
    font-size font-xl
    text-align center
    span
      font-weight bold
  &__subtitle
    display flex
    justify-content center
    span
      margin-bottom (.75rem*2)
      position relative
      font-size .875rem
      font-weight bold
      line-height 1
      padding .75rem (.75rem*2)
      background-color #fff
      color #ad0a31
      align-self center
      display inline-block
      @media screen and (max-width point-m)
        margin-bottom (.75rem*2)
      &::before
      &::after
        content ''
        position absolute
        top 50%
        transform translateY(-50%)
        width 10rem
        max-width 100%
        height 1px
        background #dab686;
        @media screen and (max-width point-m)
          top auto
          bottom (-(.75rem))
          width 50%
          transform translateY(50%)
      &::before
        left -10rem
        background #fff
        @media screen and (max-width point-m)
          content none
      &::after
        right -10rem
        background #fff
        @media screen and (max-width point-m)
          content none
  &__image
    display flex
    align-items flex-end
