.form-input
  margin 0 0.75rem 0.75rem
  input
    font-size 0.875rem
    line-height 1.3125rem
    padding 0.5rem 0.75rem
    display block
    height auto
    width 100%
.form-submit
  margin 0 0.75rem 0.75rem
  button
    font-size 0.875rem
    line-height 1.3125rem
    padding 0.5rem 1.5rem
    color #ffffff
    border none
    background-color #b6002e
    transition background-color 0.2s
    &:hover
      background-color #5e101a
      transition none
