.header-contacts.s-hidden.m-hidden
  .header-contacts__phone.header-phone +7 (812) 385-01-51
  .header-contacts__schedule с 10 до 21 без выходных
  .header-contacts__callback
    a(href='#' onclick="Comagic.openSitePhonePanel()") Заказать звонок
