.header-contacts
  margin-left auto

  &__schedule
    font-size 0.75rem
    color #666666
    margin-bottom .375rem
  &__callback
    a
      font-size 0.75rem
      font-weight bold
      color #b91f33
      text-transform uppercase
      letter-spacing .2rem
      text-decoration none
      border-bottom .1rem dotted
      transition color .2s
      &:hover
        color #5e101a
        transition none

.header-contacts-fixed
  position fixed
  top 1.5rem
  right 0
  padding 0.375rem 1.5rem
  background-color #ffffff
  z-index 99
  transform translateX(100%)
  transition transform .4s
  @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur())
    background-color rgba(255,255,255,0.5)
    backdrop-filter blur(20px)
  &--active
    transform translateX(0)
  .header-contacts
    &__schedule
      display none
    &__phone
      font-size 1rem
    &__callback
      line-height 0.9375rem
      a
        font-size 0.625rem
.header-phone
    a
      color #000000
