.footer-bottom
  +block-wrap({'wrap':true})
    +block-wrap__item(8,8,8,6)
      .footer-bottom__copy &copy; Салон красоты HairCare Center 2006 - 2017
      //- .footer-bottom__links
        .footer-bottom__link
          a(href='') Соглашения на обработку персональных данных
        .footer-bottom__link 
          a(href='') Правила использования сайта
    +block-wrap__item(4,4,4,6)
      .footer-bottom__author
        span
          a(href='http://www.medreclama.ru' target='_blank') Разработка и реклама салона красоты
          | :
        | Агентство «Медреклама»
