.footer-bottom
  color #666666
  padding 2rem 0
  &__author
    font-size 0.875rem
    padding-left 2.75rem
    background url('../images/medreclama.png') no-repeat left center
    background-size 2rem
    span
      display block
      margin-bottom 0.125rem
      font-weight bold
    a
      color #333333
  &__links
    font-size 0.875rem
  &__link
    a
      color #333333
  &__copy
    margin-bottom 0.5rem
