.header-logo
  width 8rem
  display flex
  a
    width 6rem
    height 5rem
    background-image url('../images/logo.png')
    background-size 6rem auto
    background-position center
    background-repeat no-repeat
