+block-wrap({'wrap':true,'align':'flex-start'}).home-about
  +block-wrap__item(8,8,12,6).home-about__photo
    img(src='/images/salon.jpg')
  +block-wrap__item(4,4,12,6).home-about__info
    h3 Отдельные кабинеты для каждого клиента
    p Обслуживаем клиентов в отдельных кабинетах. Вы остаетесь наедине с мастером, что позволяет раскрыться и не отвлекаясь на других людей заняться красотой и здоровьем ваших волос.
    .home-about__caption открылись в 
      b 2002 году
